<section class="section quality-home">
  <h2>Quality</h2>
  <div class="container quality-home-desktop">
    <div class="one-fourth column medium-down--one-whole">
      <div class="quality-main">
        <img src="https://cdn.shopify.com/s/files/1/0277/2212/1295/files/custom_resized_04384a6e-6609-476d-8aaf-7e01f1d1e2b7_1420x.png?v=1681346404">
        <div class="description">
          <h1>premium bowine leather</h1>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it.
          </p>
        </div>
      </div>
    </div>
    <div class="one-fourth column medium-down--one-whole">
      <div class="quality-main">
        <img src="https://cdn.shopify.com/s/files/1/0277/2212/1295/files/custom_resized_04384a6e-6609-476d-8aaf-7e01f1d1e2b7_1420x.png?v=1681346404">
        <div class="description">
          <h1>premium bowine leather</h1>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it.
          </p>
        </div>
      </div>
    </div>
    <div class="one-fourth column medium-down--one-whole">
      <div class="quality-main">
        <img src="https://cdn.shopify.com/s/files/1/0277/2212/1295/files/custom_resized_04384a6e-6609-476d-8aaf-7e01f1d1e2b7_1420x.png?v=1681346404">
        <div class="description">
          <h1>premium bowine leather</h1>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it.
          </p>
        </div>
      </div>
    </div>
    <div class="one-fourth column medium-down--one-whole">
      <div class="quality-main">
        <img src="https://cdn.shopify.com/s/files/1/0277/2212/1295/files/custom_resized_04384a6e-6609-476d-8aaf-7e01f1d1e2b7_1420x.png?v=1681346404">
        <div class="description">
          <h1>premium bowine leather</h1>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="g-scrolling-carousel carousel container quality-home-mobile">
    <div class="items">
      <div class="one-fourth column medium-down--one-whole">
        <div class="quality-main">
          <img src="https://cdn.shopify.com/s/files/1/0277/2212/1295/files/custom_resized_04384a6e-6609-476d-8aaf-7e01f1d1e2b7_1420x.png?v=1681346404">
          <div class="description">
            <h1>premium bowine leather</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it.
            </p>
          </div>
        </div>
      </div>
      <div class="one-fourth column medium-down--one-whole">
        <div class="quality-main">
          <img src="https://cdn.shopify.com/s/files/1/0277/2212/1295/files/custom_resized_04384a6e-6609-476d-8aaf-7e01f1d1e2b7_1420x.png?v=1681346404">
          <div class="description">
            <h1>premium bowine leather</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it.
            </p>
          </div>
        </div>
      </div>
      <div class="one-fourth column medium-down--one-whole">
        <div class="quality-main">
          <img src="https://cdn.shopify.com/s/files/1/0277/2212/1295/files/custom_resized_04384a6e-6609-476d-8aaf-7e01f1d1e2b7_1420x.png?v=1681346404">
          <div class="description">
            <h1>premium bowine leather</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it.
            </p>
          </div>
        </div>
      </div>
      <div class="one-fourth column medium-down--one-whole">
        <div class="quality-main">
          <img src="https://cdn.shopify.com/s/files/1/0277/2212/1295/files/custom_resized_04384a6e-6609-476d-8aaf-7e01f1d1e2b7_1420x.png?v=1681346404">
          <div class="description">
            <h1>premium bowine leather</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it.
            </p>
          </div>
        </div>
      </div>
      <div class="one-fourth column medium-down--one-whole">
        <div class="quality-main">
          <img src="https://cdn.shopify.com/s/files/1/0277/2212/1295/files/custom_resized_04384a6e-6609-476d-8aaf-7e01f1d1e2b7_1420x.png?v=1681346404">
          <div class="description">
            <h1>premium bowine leather</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Quality",
    "class": "shopify-section--quality",
    "settings": [
      {
        "type": "textarea",
        "id": "custom_html",
        "label": "Custom html"
      }
    ],
    "presets": [
      {
        "name": "Quality",
        "category": "Content"
      }
    ]
  }
{% endschema %}

<script src="{{ 'jquery.gScrollingCarousel.js' | asset_url }}" defer></script>
<script>
  $(document).ready(function() {
    $(".carousel .items").gScrollingCarousel({scrollAmount: 'single', mobileNative: true});
  });
</script>