
    
    <div
      id="replo-fullpage-element"
      data-runtime-version="0f432a9c-9467-11ee-b5ad-96b1e9f3aafb"
      style="display: block !important"
    >
      <style id="replo-element-styles">:not(#\20):not(#\20).r-zvshey{display:flex;position:relative;min-width:auto;align-self:stretch;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:0;flex-direction:column;justify-content:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-zvshey{position:relative;min-width:auto;flex-basis:auto;min-height:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-zvshey{position:relative;min-width:auto;flex-basis:auto;min-height:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-1g4x23r{display:flex;position:relative;max-width:100%;min-width:auto;align-self:stretch;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:0;padding-top:64px;padding-left:40px;padding-right:40px;flex-direction:column;padding-bottom:50px;justify-content:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1g4x23r{position:relative;min-width:auto;flex-basis:auto;min-height:auto;flex-shrink:0;padding-top:30px;padding-left:30px;padding-right:30px;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1g4x23r{position:relative;min-width:auto;flex-basis:auto;min-height:auto;flex-shrink:0;padding-top:50px;padding-left:30px;padding-right:30px;}}:not(#\20):not(#\20).r-154d0mm{display:flex;position:relative;max-width:820px;min-width:auto;align-self:center;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:0;flex-direction:column;justify-content:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-154d0mm{display:flex;position:relative;max-width:100%;min-width:auto;flex-basis:auto;min-height:auto;align-items:flex-start;flex-shrink:0;justify-content:flex-start;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-154d0mm{display:flex;position:relative;max-width:720px;min-width:auto;flex-basis:auto;min-height:auto;align-items:flex-start;flex-shrink:0;justify-content:flex-start;}}:not(#\20):not(#\20).r-o0vv6l{display:flex;max-width:80px;min-width:0;flex-basis:auto;max-height:80px;min-height:0;object-fit:cover;overflow-x:auto;overflow-y:hidden;align-items:center;flex-shrink:0;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-o0vv6l{align-self:center;flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-o0vv6l{align-self:center;flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-6pjolf{height:100%;margin:0;display:block;padding:0;max-width:100%;min-width:100%;max-height:100%;min-height:100%;object-fit:cover;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-6pjolf{object-fit:cover;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-6pjolf{object-fit:cover;}}:not(#\20):not(#\20).r-mxxz5e{color:#5A3B36;flex-grow:1;font-size:44px;flex-basis:auto;margin-top:50px;text-align:left;flex-shrink:1;font-weight:800;line-height:55px;margin-bottom:20px;overflow-wrap:break-word;letter-spacing:-0.6px;text-align-last:left;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-mxxz5e{width:auto;font-size:25px;max-width:600px;align-self:flex-start;flex-basis:auto;margin-top:30px;text-align:left;flex-shrink:1;line-height:35px;margin-bottom:15px;text-align-last:left;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-mxxz5e{width:auto;font-size:30px;max-width:600px;align-self:flex-start;flex-basis:auto;margin-top:40px;flex-shrink:1;line-height:40px;margin-bottom:15px;text-align-last:left;}}:not(#\20):not(#\20).r-3yjf4b{color:#5A3B36;font-size:16px;flex-basis:auto;text-align:left;flex-shrink:0;font-weight:700;line-height:25px;margin-bottom:20px;overflow-wrap:break-word;text-align-last:left;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-3yjf4b{font-size:16px;max-width:600px;align-self:flex-start;flex-basis:auto;text-align:left;flex-shrink:0;line-height:27px;margin-bottom:15px;text-align-last:left;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-3yjf4b{font-size:16px;max-width:600px;align-self:flex-start;flex-basis:auto;flex-shrink:0;line-height:27px;margin-bottom:15px;text-align-last:left;}}:not(#\20):not(#\20).r-nab6de{color:#BCA79C;font-size:14px;align-self:stretch;flex-basis:auto;text-align:left;flex-shrink:0;font-weight:600;line-height:25px;margin-bottom:30px;overflow-wrap:break-word;text-align-last:left;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-nab6de{width:100%;font-size:16px;max-width:600px;align-self:flex-start;flex-basis:auto;text-align:left;flex-shrink:0;line-height:27px;margin-bottom:40px;text-align-last:left;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-nab6de{width:100%;font-size:16px;max-width:600px;align-self:flex-start;flex-basis:auto;flex-shrink:0;line-height:27px;margin-bottom:40px;text-align-last:left;}}:not(#\20):not(#\20).r-1idmzcd{display:flex;row-gap:70px;position:relative;max-width:100%;min-width:auto;align-self:stretch;column-gap:70px;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:0;flex-direction:column;justify-content:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1idmzcd{row-gap:70px;position:relative;min-width:auto;column-gap:70px;flex-basis:auto;min-height:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1idmzcd{row-gap:70px;position:relative;min-width:auto;column-gap:70px;flex-basis:auto;min-height:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-1hav325{display:flex;row-gap:48px;position:relative;max-width:100%;min-width:auto;align-self:stretch;column-gap:48px;flex-basis:auto;min-height:auto;align-items:flex-start;flex-shrink:0;justify-content:flex-start;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1hav325{display:flex;row-gap:30px;position:relative;min-width:auto;column-gap:30px;flex-basis:auto;min-height:auto;flex-shrink:0;margin-bottom:40px;flex-direction:column;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1hav325{display:flex;row-gap:35px;position:relative;min-width:auto;column-gap:35px;flex-basis:auto;min-height:auto;flex-shrink:0;margin-bottom:50px;}}:not(#\20):not(#\20).r-sy1bc0{width:100%;display:flex;max-width:340px;min-width:0;align-self:flex-start;flex-basis:auto;max-height:340px;min-height:0;object-fit:cover;overflow-x:auto;overflow-y:hidden;align-items:center;flex-shrink:0;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-sy1bc0{max-width:100%;flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-sy1bc0{flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-1fnemky{height:100%;margin:0;display:block;padding:0;max-width:100%;min-width:100%;max-height:100%;min-height:100%;object-fit:cover;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1fnemky{object-fit:cover;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1fnemky{object-fit:cover;}}:not(#\20):not(#\20).r-jfuapn{display:flex;row-gap:25px;position:relative;flex-grow:1;min-width:auto;align-self:stretch;column-gap:25px;flex-basis:auto;min-height:auto;align-items:flex-start;flex-shrink:1;flex-direction:column;justify-content:flex-start;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-jfuapn{row-gap:15px;position:relative;flex-grow:1;min-width:auto;column-gap:15px;flex-basis:auto;min-height:auto;flex-shrink:1;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-jfuapn{row-gap:15px;position:relative;min-width:auto;column-gap:15px;flex-basis:auto;min-height:auto;flex-shrink:1;}}:not(#\20):not(#\20).r-gx1qsn{color:#5A3B36;font-size:28px;flex-basis:auto;text-align:left;flex-shrink:0;font-weight:800;line-height:40px;overflow-wrap:break-word;letter-spacing:-0.6px;text-align-last:left;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-gx1qsn{font-size:22px;flex-basis:auto;flex-shrink:0;line-height:30px;text-align-last:left;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-gx1qsn{font-size:25px;flex-basis:auto;flex-shrink:0;line-height:35px;text-align-last:left;}}:not(#\20):not(#\20).r-15tmrm7{color:#5A3B36FF;font-size:18px;flex-basis:auto;text-align:left;flex-shrink:0;font-weight:400;line-height:30px;overflow-wrap:break-word;text-align-last:left;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-15tmrm7{font-size:16px;flex-basis:auto;text-align:left;flex-shrink:0;line-height:27px;text-align-last:left;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-15tmrm7{font-size:16px;flex-basis:auto;text-align:left;flex-shrink:0;line-height:27px;text-align-last:left;}}:not(#\20):not(#\20).r-vvn4zl{display:flex;row-gap:48px;position:relative;max-width:100%;min-width:auto;align-self:stretch;column-gap:48px;flex-basis:auto;min-height:auto;align-items:flex-start;flex-shrink:0;justify-content:flex-start;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-vvn4zl{display:flex;row-gap:30px;position:relative;min-width:auto;column-gap:30px;flex-basis:auto;min-height:auto;flex-shrink:0;margin-bottom:40px;flex-direction:column;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-vvn4zl{row-gap:35px;position:relative;min-width:auto;column-gap:35px;flex-basis:auto;min-height:auto;flex-shrink:0;margin-bottom:50px;}}:not(#\20):not(#\20).r-12hj5gj{width:100%;display:flex;max-width:340px;min-width:0;align-self:flex-start;flex-basis:auto;max-height:340px;min-height:0;object-fit:cover;overflow-x:auto;overflow-y:hidden;align-items:center;flex-shrink:0;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-12hj5gj{max-width:100%;flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-12hj5gj{flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-1dygvbe{height:100%;margin:0;display:block;padding:0;max-width:100%;min-width:100%;max-height:100%;min-height:100%;object-fit:cover;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1dygvbe{object-fit:cover;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1dygvbe{object-fit:cover;}}:not(#\20):not(#\20).r-kmq7fe{display:flex;row-gap:25px;position:relative;flex-grow:1;min-width:auto;align-self:stretch;column-gap:25px;flex-basis:auto;min-height:auto;align-items:flex-start;flex-shrink:1;flex-direction:column;justify-content:flex-start;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-kmq7fe{row-gap:15px;position:relative;flex-grow:1;min-width:auto;column-gap:15px;flex-basis:auto;min-height:auto;flex-shrink:1;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-kmq7fe{row-gap:15px;position:relative;min-width:auto;column-gap:15px;flex-basis:auto;min-height:auto;flex-shrink:1;}}:not(#\20):not(#\20).r-1rowk6t{color:#5A3B36;font-size:28px;flex-basis:auto;text-align:left;flex-shrink:0;font-weight:800;line-height:40px;overflow-wrap:break-word;letter-spacing:-0.6px;text-align-last:left;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1rowk6t{font-size:22px;flex-basis:auto;flex-shrink:0;line-height:30px;text-align-last:left;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1rowk6t{font-size:25px;flex-basis:auto;flex-shrink:0;line-height:35px;text-align-last:left;}}:not(#\20):not(#\20).r-tp8tpu{color:#5A3B36FF;font-size:18px;flex-basis:auto;text-align:left;flex-shrink:0;font-weight:400;line-height:30px;overflow-wrap:break-word;text-align-last:left;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-tp8tpu{font-size:16px;flex-basis:auto;text-align:left;flex-shrink:0;line-height:27px;text-align-last:left;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-tp8tpu{font-size:16px;flex-basis:auto;text-align:left;flex-shrink:0;line-height:27px;text-align-last:left;}}:not(#\20):not(#\20).r-t1ci49{color:#5A3B36FF;font-size:18px;flex-basis:auto;text-align:left;flex-shrink:0;font-weight:400;line-height:30px;overflow-wrap:break-word;text-align-last:left;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-t1ci49{font-size:16px;flex-basis:auto;text-align:left;flex-shrink:0;line-height:27px;text-align-last:left;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-t1ci49{font-size:16px;flex-basis:auto;text-align:left;flex-shrink:0;line-height:27px;text-align-last:left;}}:not(#\20):not(#\20).r-15o7j4v{display:flex;row-gap:48px;position:relative;max-width:100%;min-width:auto;align-self:stretch;column-gap:48px;flex-basis:auto;min-height:auto;align-items:flex-start;flex-shrink:0;justify-content:flex-start;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-15o7j4v{display:flex;row-gap:30px;position:relative;min-width:auto;column-gap:30px;flex-basis:auto;min-height:auto;flex-shrink:0;margin-bottom:40px;flex-direction:column;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-15o7j4v{row-gap:35px;position:relative;min-width:auto;column-gap:35px;flex-basis:auto;min-height:auto;flex-shrink:0;margin-bottom:50px;}}:not(#\20):not(#\20).r-48ruup{width:100%;display:flex;max-width:340px;min-width:0;align-self:flex-start;flex-basis:auto;max-height:340px;min-height:0;object-fit:cover;overflow-x:auto;overflow-y:hidden;align-items:center;flex-shrink:0;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-48ruup{max-width:100%;flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-48ruup{flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-92jm7m{height:100%;margin:0;display:block;padding:0;max-width:100%;min-width:100%;max-height:100%;min-height:100%;object-fit:cover;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-92jm7m{object-fit:cover;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-92jm7m{object-fit:cover;}}:not(#\20):not(#\20).r-15w9tkp{display:flex;row-gap:25px;position:relative;flex-grow:1;min-width:auto;align-self:stretch;column-gap:25px;flex-basis:auto;min-height:auto;align-items:flex-start;flex-shrink:1;flex-direction:column;justify-content:flex-start;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-15w9tkp{row-gap:15px;position:relative;flex-grow:1;min-width:auto;column-gap:15px;flex-basis:auto;min-height:auto;flex-shrink:1;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-15w9tkp{row-gap:15px;position:relative;min-width:auto;column-gap:15px;flex-basis:auto;min-height:auto;flex-shrink:1;}}:not(#\20):not(#\20).r-1kov2c0{color:#5A3B36;font-size:28px;flex-basis:auto;text-align:left;flex-shrink:0;font-weight:800;line-height:40px;overflow-wrap:break-word;letter-spacing:-0.6px;text-align-last:left;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1kov2c0{font-size:22px;flex-basis:auto;flex-shrink:0;line-height:30px;text-align-last:left;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1kov2c0{font-size:25px;flex-basis:auto;flex-shrink:0;line-height:35px;text-align-last:left;}}:not(#\20):not(#\20).r-c0ppqx{color:#5A3B36FF;font-size:18px;flex-basis:auto;text-align:left;flex-shrink:0;font-weight:400;line-height:30px;overflow-wrap:break-word;text-align-last:left;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-c0ppqx{font-size:16px;flex-basis:auto;text-align:left;flex-shrink:0;line-height:27px;text-align-last:left;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-c0ppqx{font-size:16px;flex-basis:auto;text-align:left;flex-shrink:0;line-height:27px;text-align-last:left;}}:not(#\20):not(#\20).r-1bh5zln{display:flex;row-gap:48px;position:relative;max-width:100%;min-width:auto;align-self:stretch;column-gap:48px;flex-basis:auto;min-height:auto;align-items:flex-start;flex-shrink:0;justify-content:flex-start;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1bh5zln{display:flex;row-gap:30px;position:relative;min-width:auto;column-gap:30px;flex-basis:auto;min-height:auto;flex-shrink:0;margin-bottom:40px;flex-direction:column;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1bh5zln{row-gap:35px;position:relative;min-width:auto;column-gap:35px;flex-basis:auto;min-height:auto;flex-shrink:0;margin-bottom:50px;}}:not(#\20):not(#\20).r-1xtoav9{width:100%;display:flex;max-width:340px;min-width:0;align-self:flex-start;flex-basis:auto;max-height:340px;min-height:0;object-fit:cover;overflow-x:auto;overflow-y:hidden;align-items:center;flex-shrink:0;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1xtoav9{max-width:100%;flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1xtoav9{flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-mzfkov{height:100%;margin:0;display:block;padding:0;max-width:100%;min-width:100%;max-height:100%;min-height:100%;object-fit:cover;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-mzfkov{object-fit:cover;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-mzfkov{object-fit:cover;}}:not(#\20):not(#\20).r-1o4exv2{display:flex;row-gap:25px;position:relative;flex-grow:1;min-width:auto;align-self:stretch;column-gap:25px;flex-basis:auto;min-height:auto;align-items:flex-start;flex-shrink:1;flex-direction:column;justify-content:flex-start;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1o4exv2{display:flex;row-gap:15px;position:relative;flex-grow:1;min-width:auto;column-gap:15px;flex-basis:auto;min-height:auto;flex-shrink:1;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1o4exv2{display:flex;row-gap:15px;position:relative;min-width:auto;column-gap:15px;flex-basis:auto;min-height:auto;flex-shrink:1;}}:not(#\20):not(#\20).r-vamyjj{color:#5A3B36;font-size:28px;flex-basis:auto;text-align:left;flex-shrink:0;font-weight:800;line-height:40px;overflow-wrap:break-word;letter-spacing:-0.6px;text-align-last:left;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-vamyjj{font-size:22px;flex-basis:auto;flex-shrink:0;line-height:30px;text-align-last:left;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-vamyjj{font-size:25px;flex-basis:auto;flex-shrink:0;line-height:35px;text-align-last:left;}}:not(#\20):not(#\20).r-ipf4kb{color:#5A3B36FF;font-size:18px;flex-basis:auto;text-align:left;flex-shrink:0;font-weight:400;line-height:30px;overflow-wrap:break-word;text-align-last:left;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-ipf4kb{font-size:16px;flex-basis:auto;text-align:left;flex-shrink:0;line-height:27px;text-align-last:left;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-ipf4kb{font-size:16px;flex-basis:auto;text-align:left;flex-shrink:0;line-height:27px;text-align-last:left;}}:not(#\20):not(#\20).r-1auf4cf{display:flex;row-gap:48px;position:relative;max-width:100%;min-width:auto;align-self:stretch;column-gap:48px;flex-basis:auto;min-height:auto;align-items:flex-start;flex-shrink:0;justify-content:flex-start;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1auf4cf{display:flex;row-gap:30px;position:relative;min-width:auto;column-gap:30px;flex-basis:auto;min-height:auto;flex-shrink:0;margin-bottom:40px;flex-direction:column;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1auf4cf{row-gap:35px;position:relative;min-width:auto;column-gap:35px;flex-basis:auto;min-height:auto;flex-shrink:0;margin-bottom:50px;}}:not(#\20):not(#\20).r-wmn8zc{width:100%;display:flex;max-width:340px;min-width:0;align-self:flex-start;flex-basis:auto;max-height:340px;min-height:0;object-fit:cover;overflow-x:auto;overflow-y:hidden;align-items:center;flex-shrink:0;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-wmn8zc{max-width:100%;flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-wmn8zc{flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-5tpqot{height:100%;margin:0;display:block;padding:0;max-width:100%;min-width:100%;max-height:100%;min-height:100%;object-fit:cover;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-5tpqot{object-fit:cover;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-5tpqot{object-fit:cover;}}:not(#\20):not(#\20).r-gr197d{display:flex;row-gap:25px;position:relative;flex-grow:1;min-width:auto;align-self:stretch;column-gap:25px;flex-basis:auto;min-height:auto;align-items:flex-start;flex-shrink:1;flex-direction:column;justify-content:flex-start;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-gr197d{display:flex;row-gap:15px;position:relative;flex-grow:1;min-width:auto;column-gap:15px;flex-basis:auto;min-height:auto;flex-shrink:1;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-gr197d{display:flex;row-gap:15px;position:relative;min-width:auto;column-gap:15px;flex-basis:auto;min-height:auto;flex-shrink:1;}}:not(#\20):not(#\20).r-3mi35e{color:#5A3B36;font-size:28px;flex-basis:auto;text-align:left;flex-shrink:0;font-weight:800;line-height:40px;overflow-wrap:break-word;letter-spacing:-0.6px;text-align-last:left;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-3mi35e{font-size:22px;flex-basis:auto;flex-shrink:0;line-height:30px;text-align-last:left;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-3mi35e{font-size:25px;flex-basis:auto;flex-shrink:0;line-height:35px;text-align-last:left;}}:not(#\20):not(#\20).r-1nvzieb{color:#5A3B36FF;font-size:18px;flex-basis:auto;text-align:left;flex-shrink:0;font-weight:400;line-height:30px;overflow-wrap:break-word;text-align-last:left;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1nvzieb{font-size:16px;flex-basis:auto;text-align:left;flex-shrink:0;line-height:27px;text-align-last:left;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1nvzieb{font-size:16px;flex-basis:auto;text-align:left;flex-shrink:0;line-height:27px;text-align-last:left;}}:not(#\20):not(#\20).r-duqovg{display:flex;position:relative;max-width:100%;min-width:auto;align-self:stretch;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:0;flex-direction:column;justify-content:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-duqovg{position:relative;min-width:auto;flex-basis:auto;min-height:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-duqovg{position:relative;min-width:auto;flex-basis:auto;min-height:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-1sv69at{color:#5A3B36;font-size:28px;max-width:580px;flex-basis:auto;text-align:center;flex-shrink:0;font-weight:800;line-height:40px;margin-bottom:20px;overflow-wrap:break-word;letter-spacing:-0.6px;text-align-last:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1sv69at{font-size:22px;flex-basis:auto;flex-shrink:0;line-height:30px;text-align-last:center;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1sv69at{font-size:25px;flex-basis:auto;flex-shrink:0;line-height:35px;text-align-last:center;}}:not(#\20):not(#\20).r-n9zlz{color:#FFFFFFFF;width:100%;cursor:pointer;font-size:18px;max-width:380px;box-shadow:0px 7px 7px 0px #0000004A;flex-basis:auto;text-align:center;flex-shrink:0;font-weight:700;line-height:30px;padding-top:13px;padding-left:20px;padding-right:20px;letter-spacing:2px;padding-bottom:13px;text-transform:uppercase;text-align-last:center;background-color:#12D300FF;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-n9zlz{cursor:pointer;font-size:14px;max-width:350px;align-self:center;flex-basis:auto;flex-shrink:0;line-height:20px;padding-top:10px;padding-bottom:10px;text-align-last:center;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-n9zlz{cursor:pointer;font-size:16px;flex-basis:auto;flex-shrink:0;line-height:25px;text-align-last:center;}}:not(#\20):not(#\20):not(#\20).r-15uifuv{color:#FFFFFFFF;width:100%;cursor:pointer;opacity:75%;font-size:18px;max-width:380px;box-shadow:0px 7px 7px 0px #0000004A;flex-basis:auto;flex-shrink:0;font-weight:700;line-height:30px;padding-top:13px;padding-left:20px;padding-right:20px;letter-spacing:2px;padding-bottom:13px;text-transform:uppercase;background-color:#12D300FF;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20):not(#\20).r-15uifuv{cursor:pointer;font-size:14px;max-width:350px;align-self:center;flex-basis:auto;flex-shrink:0;line-height:20px;padding-top:10px;padding-bottom:10px;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20):not(#\20).r-15uifuv{cursor:pointer;font-size:16px;flex-basis:auto;flex-shrink:0;line-height:25px;}}:not(#\20):not(#\20).r-1f0k5xr{display:flex;position:relative;max-width:100%;min-width:auto;align-self:stretch;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:0;padding-top:32px;padding-left:10px;padding-right:10px;flex-direction:column;padding-bottom:32px;justify-content:center;background-color:#FFF6E7;border-top-color:#000000FF;border-top-style:dashed;border-top-width:4px;border-left-color:#000000FF;border-left-style:dashed;border-left-width:4px;border-right-color:#000000FF;border-right-style:dashed;border-right-width:4px;border-bottom-color:#000000FF;border-bottom-style:dashed;border-bottom-width:4px;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1f0k5xr{position:relative;min-width:auto;flex-basis:auto;min-height:auto;flex-shrink:0;margin-bottom:40px;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1f0k5xr{position:relative;min-width:auto;flex-basis:auto;min-height:auto;flex-shrink:0;margin-bottom:50px;}}:not(#\20):not(#\20).r-19kky26{color:#000000FF;font-size:40px;max-width:490px;flex-basis:auto;text-align:center;flex-shrink:0;font-weight:800;line-height:50px;margin-bottom:16px;overflow-wrap:break-word;letter-spacing:-0.6px;text-align-last:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-19kky26{font-size:24px;flex-basis:auto;flex-shrink:0;line-height:35px;text-align-last:center;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-19kky26{font-size:28px;flex-basis:auto;flex-shrink:0;line-height:35px;text-align-last:center;}}:not(#\20):not(#\20).r-1c82u7h{display:flex;row-gap:4px;position:relative;max-width:100%;min-width:auto;align-self:stretch;column-gap:4px;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:0;justify-content:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1c82u7h{row-gap:4px;position:relative;min-width:auto;column-gap:4px;flex-basis:auto;min-height:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1c82u7h{row-gap:4px;position:relative;min-width:auto;column-gap:4px;flex-basis:auto;min-height:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-e50mwo{color:#000000FF;font-size:16px;flex-basis:auto;flex-shrink:0;font-weight:800;line-height:24px;overflow-wrap:break-word;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-e50mwo{flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-e50mwo{flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-br7u2i{color:#000000FF;width:100px;display:flex;row-gap:2px;position:relative;max-width:100%;align-self:stretch;column-gap:2px;flex-basis:auto;align-items:center;flex-shrink:0;justify-content:flex-start;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-br7u2i{row-gap:2px;position:relative;column-gap:2px;flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-br7u2i{row-gap:2px;position:relative;column-gap:2px;flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-1uqohtb{font-size:16px;flex-basis:auto;flex-shrink:0;font-weight:700;line-height:24px;overflow-wrap:break-word;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1uqohtb{flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1uqohtb{flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-1k71uty{font-size:16px;flex-basis:auto;flex-shrink:0;line-height:24px;overflow-wrap:break-word;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1k71uty{flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1k71uty{flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-gept33{font-size:16px;flex-basis:auto;flex-shrink:0;font-weight:700;line-height:24px;overflow-wrap:break-word;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-gept33{flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-gept33{flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-1paywxe{font-size:16px;flex-basis:auto;flex-shrink:0;line-height:24px;overflow-wrap:break-word;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1paywxe{flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1paywxe{flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-hrw98k{font-size:16px;flex-basis:auto;flex-shrink:0;font-weight:700;line-height:24px;overflow-wrap:break-word;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-hrw98k{flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-hrw98k{flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-1t8kx2d{color:#000000;font-size:18px;flex-basis:auto;text-align:center;flex-shrink:0;font-weight:400;line-height:30px;margin-bottom:16px;overflow-wrap:break-word;text-align-last:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1t8kx2d{font-size:16px;flex-basis:auto;text-align:center;flex-shrink:0;line-height:27px;text-align-last:center;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1t8kx2d{font-size:16px;flex-basis:auto;text-align:left;flex-shrink:0;line-height:27px;text-align-last:left;}}:not(#\20):not(#\20).r-sk667p{width:90%;height:0px;display:flex;flex-basis:auto;flex-shrink:0;margin-bottom:16px;flex-direction:column;border-top-color:rgb(204, 204, 204);border-top-style:solid;border-top-width:1px;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-sk667p{flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-sk667p{flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-e6zpkh{display:flex;row-gap:20px;position:relative;max-width:100%;min-width:auto;align-self:stretch;column-gap:20px;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:0;justify-content:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-e6zpkh{display:flex;row-gap:20px;position:relative;min-width:auto;column-gap:20px;flex-basis:auto;min-height:auto;flex-shrink:0;flex-direction:column;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-e6zpkh{row-gap:20px;position:relative;min-width:auto;column-gap:20px;flex-basis:auto;min-height:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-1bqju1r{display:flex;flex-grow:1;max-width:350px;min-width:0;flex-basis:0;min-height:0;object-fit:cover;overflow-x:auto;overflow-y:hidden;align-items:center;flex-shrink:1;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1bqju1r{flex-grow:1;flex-basis:auto;flex-shrink:1;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1bqju1r{flex-basis:0;flex-shrink:1;}}:not(#\20):not(#\20).r-179ek6i{height:100%;margin:0;display:block;padding:0;max-width:100%;min-width:100%;max-height:100%;min-height:100%;object-fit:cover;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-179ek6i{object-fit:cover;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-179ek6i{object-fit:cover;}}:not(#\20):not(#\20).r-1p7vhoy{display:flex;position:relative;flex-grow:1;max-width:100%;min-width:auto;align-self:stretch;flex-basis:0;min-height:auto;align-items:flex-start;flex-shrink:1;flex-direction:column;justify-content:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1p7vhoy{position:relative;flex-grow:1;min-width:auto;flex-basis:auto;min-height:auto;flex-shrink:1;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1p7vhoy{position:relative;min-width:auto;flex-basis:0;min-height:auto;flex-shrink:1;}}:not(#\20):not(#\20).r-1s7xgwc{display:flex;row-gap:8px;position:relative;max-width:100%;min-width:auto;column-gap:8px;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:0;margin-bottom:10px;justify-content:flex-start;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1s7xgwc{row-gap:8px;position:relative;min-width:auto;column-gap:8px;flex-basis:auto;min-height:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1s7xgwc{row-gap:8px;position:relative;min-width:auto;column-gap:8px;flex-basis:auto;min-height:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-1685dox{--rsw:100%;color:#AA9000FF;width:22px;height:22px;flex-basis:auto;flex-shrink:0;line-height:100%;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1685dox{--rsw:100%;width:18px;height:18px;flex-grow:unset;flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1685dox{--rsw:100%;width:22px;height:22px;flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-1ptmj4u{width:var(--rsw, 100%);height:100%;}:not(#\20):not(#\20).r-1wx8t4j{color:#010101;font-size:14px;flex-basis:auto;flex-shrink:0;font-weight:700;line-height:24px;overflow-wrap:break-word;letter-spacing:-0.6px;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1wx8t4j{flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1wx8t4j{flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-x74kcy{display:flex;row-gap:8px;position:relative;max-width:100%;min-width:auto;column-gap:8px;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:0;margin-bottom:10px;justify-content:flex-start;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-x74kcy{row-gap:8px;position:relative;min-width:auto;column-gap:8px;flex-basis:auto;min-height:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-x74kcy{row-gap:8px;position:relative;min-width:auto;column-gap:8px;flex-basis:auto;min-height:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-16h3ehc{--rsw:100%;color:#AA9000FF;width:22px;height:22px;flex-basis:auto;flex-shrink:0;line-height:100%;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-16h3ehc{--rsw:100%;width:18px;height:18px;flex-grow:unset;flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-16h3ehc{--rsw:100%;width:22px;height:22px;flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-1rrf2m6{width:var(--rsw, 100%);height:100%;}:not(#\20):not(#\20).r-1pr6orm{color:#010101;font-size:14px;flex-basis:auto;flex-shrink:0;font-weight:700;line-height:24px;overflow-wrap:break-word;letter-spacing:-0.6px;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1pr6orm{flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1pr6orm{flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-1x8vq4e{display:flex;row-gap:8px;position:relative;max-width:100%;min-width:auto;column-gap:8px;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:0;margin-bottom:20px;justify-content:flex-start;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1x8vq4e{row-gap:8px;position:relative;min-width:auto;column-gap:8px;flex-basis:auto;min-height:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1x8vq4e{row-gap:8px;position:relative;min-width:auto;column-gap:8px;flex-basis:auto;min-height:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-1u4zsjk{--rsw:100%;color:#AA9000FF;width:22px;height:22px;flex-basis:auto;flex-shrink:0;line-height:100%;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1u4zsjk{--rsw:100%;width:18px;height:18px;flex-grow:unset;flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1u4zsjk{--rsw:100%;width:22px;height:22px;flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-um7mxo{width:var(--rsw, 100%);height:100%;}:not(#\20):not(#\20).r-1pyheip{color:#010101;font-size:14px;flex-basis:auto;flex-shrink:0;font-weight:700;line-height:24px;overflow-wrap:break-word;letter-spacing:-0.6px;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1pyheip{flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1pyheip{flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-2ekgrn{color:#FFFFFFFF;cursor:pointer;overflow:hidden;font-size:20px;align-self:stretch;flex-basis:auto;text-align:center;flex-shrink:0;font-weight:700;line-height:20px;padding-top:16px;padding-left:32px;padding-right:32px;letter-spacing:-0.6px;padding-bottom:16px;text-align-last:center;background-color:#00BD3F;border-top-left-radius:50px;border-top-right-radius:50px;border-bottom-left-radius:50px;border-bottom-right-radius:50px;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-2ekgrn{cursor:pointer;overflow:hidden;font-size:16px;flex-basis:auto;flex-shrink:0;line-height:20px;text-align-last:center;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-2ekgrn{cursor:pointer;overflow:hidden;font-size:16px;flex-basis:auto;flex-shrink:0;line-height:20px;text-align-last:center;}}:not(#\20):not(#\20).r-2josxq{width:100%;display:flex;row-gap:8px;position:relative;max-width:300px;min-width:auto;align-self:center;column-gap:8px;flex-basis:auto;margin-top:20px;min-height:auto;align-items:center;flex-shrink:0;justify-content:space-between;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-2josxq{row-gap:8px;position:relative;min-width:auto;column-gap:8px;flex-basis:auto;min-height:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-2josxq{row-gap:8px;position:relative;min-width:auto;column-gap:8px;flex-basis:auto;min-height:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-68u7jh{color:#010101;font-size:14px;flex-basis:auto;flex-shrink:0;font-weight:700;line-height:24px;overflow-wrap:break-word;letter-spacing:-0.6px;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-68u7jh{flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-68u7jh{flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-1dehgbc{color:#252525;font-size:14px;flex-basis:auto;flex-shrink:0;font-weight:400;line-height:24px;overflow-wrap:break-word;letter-spacing:-0.6px;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1dehgbc{flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1dehgbc{flex-basis:auto;flex-shrink:0;}}</style>
<div data-alchemy-element-mount-node="true"><script data-em-disable="true" async="" src="https://replocdn.com/w/1691b57c-6274-4522-8654-aa7d8f0d11a7/857a9185-cf8f-43a5-a1f0-f42eb78c3aa8.min.js?v=0f432a9c-9467-11ee-b5ad-96b1e9f3aafb" id="https://replocdn.com/w/1691b57c-6274-4522-8654-aa7d8f0d11a7/857a9185-cf8f-43a5-a1f0-f42eb78c3aa8.min.js?v=0f432a9c-9467-11ee-b5ad-96b1e9f3aafb"></script><style id="snippet-styles" type="text/css">.alchemy-reset {
  /* HTML5 display-role reset for older browsers */
}
.alchemy-reset :host {
  all: initial;
}
.alchemy-reset * {
  box-sizing: border-box;
}
.alchemy-reset html[data-rid],
.alchemy-reset body[data-rid],
.alchemy-reset div[data-rid],
.alchemy-reset span[data-rid],
.alchemy-reset applet[data-rid],
.alchemy-reset object[data-rid],
.alchemy-reset iframe[data-rid],
.alchemy-reset h1[data-rid],
.alchemy-reset h2[data-rid],
.alchemy-reset h3[data-rid],
.alchemy-reset h4[data-rid],
.alchemy-reset h5[data-rid],
.alchemy-reset h6[data-rid],
.alchemy-reset p[data-rid],
.alchemy-reset blockquote[data-rid],
.alchemy-reset pre[data-rid],
.alchemy-reset a[data-rid],
.alchemy-reset a:visited[data-rid],
.alchemy-reset abbr[data-rid],
.alchemy-reset acronym[data-rid],
.alchemy-reset address[data-rid],
.alchemy-reset big[data-rid],
.alchemy-reset cite[data-rid],
.alchemy-reset code[data-rid],
.alchemy-reset del[data-rid],
.alchemy-reset dfn[data-rid],
.alchemy-reset em[data-rid],
.alchemy-reset img[data-rid],
.alchemy-reset picture[data-rid],
.alchemy-reset ins[data-rid],
.alchemy-reset kbd[data-rid],
.alchemy-reset q[data-rid],
.alchemy-reset s[data-rid],
.alchemy-reset samp[data-rid],
.alchemy-reset small[data-rid],
.alchemy-reset strike[data-rid],
.alchemy-reset strong[data-rid],
.alchemy-reset sub[data-rid],
.alchemy-reset sup[data-rid],
.alchemy-reset tt[data-rid],
.alchemy-reset var[data-rid],
.alchemy-reset b[data-rid],
.alchemy-reset u[data-rid],
.alchemy-reset i[data-rid],
.alchemy-reset center[data-rid],
.alchemy-reset dl[data-rid],
.alchemy-reset dt[data-rid],
.alchemy-reset dd[data-rid],
.alchemy-reset ol[data-rid],
.alchemy-reset ul[data-rid],
.alchemy-reset li[data-rid],
.alchemy-reset fieldset[data-rid],
.alchemy-reset form[data-rid],
.alchemy-reset label[data-rid],
.alchemy-reset legend[data-rid],
.alchemy-reset table[data-rid],
.alchemy-reset caption[data-rid],
.alchemy-reset tbody[data-rid],
.alchemy-reset tfoot[data-rid],
.alchemy-reset thead[data-rid],
.alchemy-reset tr[data-rid],
.alchemy-reset th[data-rid],
.alchemy-reset td[data-rid],
.alchemy-reset article[data-rid],
.alchemy-reset aside[data-rid],
.alchemy-reset canvas[data-rid],
.alchemy-reset details[data-rid],
.alchemy-reset embed[data-rid],
.alchemy-reset figure[data-rid],
.alchemy-reset figcaption[data-rid],
.alchemy-reset footer[data-rid],
.alchemy-reset header[data-rid],
.alchemy-reset hgroup[data-rid],
.alchemy-reset menu[data-rid],
.alchemy-reset nav[data-rid],
.alchemy-reset output[data-rid],
.alchemy-reset ruby[data-rid],
.alchemy-reset section[data-rid],
.alchemy-reset summary[data-rid],
.alchemy-reset time[data-rid],
.alchemy-reset mark[data-rid],
.alchemy-reset audio[data-rid],
.alchemy-reset video[data-rid],
.alchemy-reset button[data-rid],
.alchemy-reset select[data-rid],
.alchemy-reset [data-rid] > p {
  letter-spacing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.alchemy-reset html[data-rid]::-webkit-scrollbar,
.alchemy-reset body[data-rid]::-webkit-scrollbar,
.alchemy-reset div[data-rid]::-webkit-scrollbar,
.alchemy-reset span[data-rid]::-webkit-scrollbar,
.alchemy-reset applet[data-rid]::-webkit-scrollbar,
.alchemy-reset object[data-rid]::-webkit-scrollbar,
.alchemy-reset iframe[data-rid]::-webkit-scrollbar,
.alchemy-reset h1[data-rid]::-webkit-scrollbar,
.alchemy-reset h2[data-rid]::-webkit-scrollbar,
.alchemy-reset h3[data-rid]::-webkit-scrollbar,
.alchemy-reset h4[data-rid]::-webkit-scrollbar,
.alchemy-reset h5[data-rid]::-webkit-scrollbar,
.alchemy-reset h6[data-rid]::-webkit-scrollbar,
.alchemy-reset p[data-rid]::-webkit-scrollbar,
.alchemy-reset blockquote[data-rid]::-webkit-scrollbar,
.alchemy-reset pre[data-rid]::-webkit-scrollbar,
.alchemy-reset a[data-rid]::-webkit-scrollbar,
.alchemy-reset a:visited[data-rid]::-webkit-scrollbar,
.alchemy-reset abbr[data-rid]::-webkit-scrollbar,
.alchemy-reset acronym[data-rid]::-webkit-scrollbar,
.alchemy-reset address[data-rid]::-webkit-scrollbar,
.alchemy-reset big[data-rid]::-webkit-scrollbar,
.alchemy-reset cite[data-rid]::-webkit-scrollbar,
.alchemy-reset code[data-rid]::-webkit-scrollbar,
.alchemy-reset del[data-rid]::-webkit-scrollbar,
.alchemy-reset dfn[data-rid]::-webkit-scrollbar,
.alchemy-reset em[data-rid]::-webkit-scrollbar,
.alchemy-reset img[data-rid]::-webkit-scrollbar,
.alchemy-reset picture[data-rid]::-webkit-scrollbar,
.alchemy-reset ins[data-rid]::-webkit-scrollbar,
.alchemy-reset kbd[data-rid]::-webkit-scrollbar,
.alchemy-reset q[data-rid]::-webkit-scrollbar,
.alchemy-reset s[data-rid]::-webkit-scrollbar,
.alchemy-reset samp[data-rid]::-webkit-scrollbar,
.alchemy-reset small[data-rid]::-webkit-scrollbar,
.alchemy-reset strike[data-rid]::-webkit-scrollbar,
.alchemy-reset strong[data-rid]::-webkit-scrollbar,
.alchemy-reset sub[data-rid]::-webkit-scrollbar,
.alchemy-reset sup[data-rid]::-webkit-scrollbar,
.alchemy-reset tt[data-rid]::-webkit-scrollbar,
.alchemy-reset var[data-rid]::-webkit-scrollbar,
.alchemy-reset b[data-rid]::-webkit-scrollbar,
.alchemy-reset u[data-rid]::-webkit-scrollbar,
.alchemy-reset i[data-rid]::-webkit-scrollbar,
.alchemy-reset center[data-rid]::-webkit-scrollbar,
.alchemy-reset dl[data-rid]::-webkit-scrollbar,
.alchemy-reset dt[data-rid]::-webkit-scrollbar,
.alchemy-reset dd[data-rid]::-webkit-scrollbar,
.alchemy-reset ol[data-rid]::-webkit-scrollbar,
.alchemy-reset ul[data-rid]::-webkit-scrollbar,
.alchemy-reset li[data-rid]::-webkit-scrollbar,
.alchemy-reset fieldset[data-rid]::-webkit-scrollbar,
.alchemy-reset form[data-rid]::-webkit-scrollbar,
.alchemy-reset label[data-rid]::-webkit-scrollbar,
.alchemy-reset legend[data-rid]::-webkit-scrollbar,
.alchemy-reset table[data-rid]::-webkit-scrollbar,
.alchemy-reset caption[data-rid]::-webkit-scrollbar,
.alchemy-reset tbody[data-rid]::-webkit-scrollbar,
.alchemy-reset tfoot[data-rid]::-webkit-scrollbar,
.alchemy-reset thead[data-rid]::-webkit-scrollbar,
.alchemy-reset tr[data-rid]::-webkit-scrollbar,
.alchemy-reset th[data-rid]::-webkit-scrollbar,
.alchemy-reset td[data-rid]::-webkit-scrollbar,
.alchemy-reset article[data-rid]::-webkit-scrollbar,
.alchemy-reset aside[data-rid]::-webkit-scrollbar,
.alchemy-reset canvas[data-rid]::-webkit-scrollbar,
.alchemy-reset details[data-rid]::-webkit-scrollbar,
.alchemy-reset embed[data-rid]::-webkit-scrollbar,
.alchemy-reset figure[data-rid]::-webkit-scrollbar,
.alchemy-reset figcaption[data-rid]::-webkit-scrollbar,
.alchemy-reset footer[data-rid]::-webkit-scrollbar,
.alchemy-reset header[data-rid]::-webkit-scrollbar,
.alchemy-reset hgroup[data-rid]::-webkit-scrollbar,
.alchemy-reset menu[data-rid]::-webkit-scrollbar,
.alchemy-reset nav[data-rid]::-webkit-scrollbar,
.alchemy-reset output[data-rid]::-webkit-scrollbar,
.alchemy-reset ruby[data-rid]::-webkit-scrollbar,
.alchemy-reset section[data-rid]::-webkit-scrollbar,
.alchemy-reset summary[data-rid]::-webkit-scrollbar,
.alchemy-reset time[data-rid]::-webkit-scrollbar,
.alchemy-reset mark[data-rid]::-webkit-scrollbar,
.alchemy-reset audio[data-rid]::-webkit-scrollbar,
.alchemy-reset video[data-rid]::-webkit-scrollbar,
.alchemy-reset button[data-rid]::-webkit-scrollbar,
.alchemy-reset select[data-rid]::-webkit-scrollbar,
.alchemy-reset [data-rid] > p::-webkit-scrollbar {
  display: none;
}
.alchemy-reset button[data-rid] {
  align-items: normal;
}
.alchemy-reset button[data-replo-tabs-trigger] {
  color: inherit;
}
.alchemy-reset html[data-rid],
.alchemy-reset body[data-rid],
.alchemy-reset div[data-rid],
.alchemy-reset span[data-rid],
.alchemy-reset applet[data-rid],
.alchemy-reset object[data-rid],
.alchemy-reset iframe[data-rid],
.alchemy-reset h1[data-rid],
.alchemy-reset h2[data-rid],
.alchemy-reset h3[data-rid],
.alchemy-reset h4[data-rid],
.alchemy-reset h5[data-rid],
.alchemy-reset h6[data-rid],
.alchemy-reset p[data-rid],
.alchemy-reset blockquote[data-rid],
.alchemy-reset pre[data-rid],
.alchemy-reset a[data-rid],
.alchemy-reset abbr[data-rid],
.alchemy-reset acronym[data-rid],
.alchemy-reset address[data-rid],
.alchemy-reset big[data-rid],
.alchemy-reset cite[data-rid],
.alchemy-reset code[data-rid],
.alchemy-reset dfn[data-rid],
.alchemy-reset img[data-rid],
.alchemy-reset picture[data-rid],
.alchemy-reset ins[data-rid],
.alchemy-reset kbd[data-rid],
.alchemy-reset q[data-rid],
.alchemy-reset samp[data-rid],
.alchemy-reset small[data-rid],
.alchemy-reset strike[data-rid],
.alchemy-reset sub[data-rid],
.alchemy-reset sup[data-rid],
.alchemy-reset tt[data-rid],
.alchemy-reset var[data-rid],
.alchemy-reset center[data-rid],
.alchemy-reset dl[data-rid],
.alchemy-reset dt[data-rid],
.alchemy-reset dd[data-rid],
.alchemy-reset ol[data-rid],
.alchemy-reset ul[data-rid],
.alchemy-reset li[data-rid],
.alchemy-reset fieldset[data-rid],
.alchemy-reset form[data-rid],
.alchemy-reset label[data-rid],
.alchemy-reset legend[data-rid],
.alchemy-reset table[data-rid],
.alchemy-reset caption[data-rid],
.alchemy-reset tbody[data-rid],
.alchemy-reset tfoot[data-rid],
.alchemy-reset thead[data-rid],
.alchemy-reset tr[data-rid],
.alchemy-reset th[data-rid],
.alchemy-reset td[data-rid],
.alchemy-reset article[data-rid],
.alchemy-reset aside[data-rid],
.alchemy-reset canvas[data-rid],
.alchemy-reset details[data-rid],
.alchemy-reset embed[data-rid],
.alchemy-reset figure[data-rid],
.alchemy-reset figcaption[data-rid],
.alchemy-reset footer[data-rid],
.alchemy-reset header[data-rid],
.alchemy-reset hgroup[data-rid],
.alchemy-reset menu[data-rid],
.alchemy-reset nav[data-rid],
.alchemy-reset output[data-rid],
.alchemy-reset ruby[data-rid],
.alchemy-reset section[data-rid],
.alchemy-reset summary[data-rid],
.alchemy-reset time[data-rid],
.alchemy-reset mark[data-rid],
.alchemy-reset audio[data-rid],
.alchemy-reset video[data-rid],
.alchemy-reset button[data-rid],
.alchemy-reset select[data-rid],
.alchemy-reset [data-rid] > p {
  font-style: inherit;
  text-decoration: inherit;
  color: inherit;
  background-color: transparent;
}
.alchemy-reset .alchemy-rte a,
.alchemy-reset .alchemy-rte p,
.alchemy-reset .alchemy-rte s,
.alchemy-reset .alchemy-rte u,
.alchemy-reset .alchemy-rte b,
.alchemy-reset .alchemy-rte i,
.alchemy-reset .alchemy-rte h1,
.alchemy-reset .alchemy-rte h2,
.alchemy-reset .alchemy-rte h3,
.alchemy-reset .alchemy-rte mark {
  font-style: inherit;
  font-family: inherit;
  text-decoration: inherit;
  text-align: inherit;
  text-transform: inherit;
  color: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  vertical-align: baseline;
  font-size: 100%;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.alchemy-reset .alchemy-rte a::-webkit-scrollbar,
.alchemy-reset .alchemy-rte p::-webkit-scrollbar,
.alchemy-reset .alchemy-rte s::-webkit-scrollbar,
.alchemy-reset .alchemy-rte u::-webkit-scrollbar,
.alchemy-reset .alchemy-rte b::-webkit-scrollbar,
.alchemy-reset .alchemy-rte i::-webkit-scrollbar,
.alchemy-reset .alchemy-rte h1::-webkit-scrollbar,
.alchemy-reset .alchemy-rte h2::-webkit-scrollbar,
.alchemy-reset .alchemy-rte h3::-webkit-scrollbar,
.alchemy-reset .alchemy-rte mark::-webkit-scrollbar {
  display: none;
}
.alchemy-reset .alchemy-rte b,
.alchemy-reset .alchemy-rte strong,
.alchemy-reset .alchemy-rte u,
.alchemy-reset .alchemy-rte i,
.alchemy-reset .alchemy-rte em,
.alchemy-reset .alchemy-rte s,
.alchemy-reset .alchemy-rte del,
.alchemy-reset .alchemy-rte li,
.alchemy-reset .alchemy-rte span {
  font-family: inherit;
}
.alchemy-reset .alchemy-rte u {
  text-decoration: underline;
}
.alchemy-reset .alchemy-rte s,
.alchemy-reset .alchemy-rte del {
  text-decoration: line-through;
}
.alchemy-reset .alchemy-rte i {
  font-style: italic;
}
.alchemy-reset .alchemy-rte b {
  font-weight: bold;
}
.alchemy-reset .alchemy-rte ul,
.alchemy-reset .alchemy-rte li {
  list-style: inherit;
  padding-left: 1.7em;
}
.alchemy-reset .alchemy-rte code {
  background-color: rgba(97, 97, 97, 0.1);
  color: #616161;
}
.alchemy-reset .alchemy-rte pre {
  background: #0d0d0d;
  color: #fff;
  font-family: "JetBrainsMono", monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}
.alchemy-reset .alchemy-rte pre code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}
.alchemy-reset .alchemy-rte img {
  max-width: 100%;
  height: auto;
}
.alchemy-reset .alchemy-rte blockquote {
  padding-left: 1rem;
  border-left: 2px solid rgba(13, 13, 13, 0.1);
}
.alchemy-reset .alchemy-rte hr {
  border: none;
  border-top: 2px solid rgba(13, 13, 13, 0.1);
  margin: 2rem 0;
}
.alchemy-reset article[data-rid],
.alchemy-reset aside[data-rid],
.alchemy-reset details[data-rid],
.alchemy-reset figcaption[data-rid],
.alchemy-reset figure[data-rid],
.alchemy-reset footer[data-rid],
.alchemy-reset header[data-rid],
.alchemy-reset hgroup[data-rid],
.alchemy-reset menu[data-rid],
.alchemy-reset nav[data-rid],
.alchemy-reset section[data-rid] {
  display: block;
}
.alchemy-reset body {
  line-height: 1;
}
.alchemy-reset blockquote,
.alchemy-reset q {
  quotes: none;
  margin: 0;
  padding: 0;
  border: 0;
}
.alchemy-reset blockquote:before,
.alchemy-reset blockquote:after,
.alchemy-reset q:before,
.alchemy-reset q:after {
  content: "";
  content: none;
}
.alchemy-reset table {
  border-collapse: collapse;
  border-spacing: 0;
}
.alchemy-reset button > picture,
.alchemy-reset button > img,
.alchemy-reset a > picture,
.alchemy-reset a > img {
  display: flex;
}

#replo-fullpage-element {
  max-width: 100vw;
  flex-grow: 1;
  align-self: stretch;
}

.outline--blue {
  outline: 2px solid #2563eb;
}

.strike::after {
  content: "";
  border-bottom: 3px solid black;
  position: absolute;
  left: 0;
  top: calc(50% - 3px);
  width: 100%;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transform: translateY(0px);
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  transform: translateY(100px);
}

.replo-modal-after-open {
  overflow-y: hidden !important;
}

.carouselV3--slide-reset {
  max-width: none !important;
}

.carouselV3-no-transition {
  transition: none;
}

.carouselV3-fade-transition {
  transition: opacity 1000ms;
}

.carouselV3-hidden-slide {
  transition: opacity 1000ms;
  opacity: 0;
}

.carouselV3-visible-slide {
  transition: opacity 1000ms;
  opacity: 1;
}

.splide li {
  padding: 0 !important;
  margin: 0;
}
.splide li::before {
  display: none !important;
}
.splide .splide__list {
  overflow: visible !important;
}

@keyframes replo-marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(var(--replo-marquee-width, 100%) * -1 / var(--replo-marquee-repetitions, 20)));
  }
}
@keyframes alchemy-marquee-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(var(--replo-marquee-width, 100%) * -1 / var(--replo-marquee-repetitions, 20)));
  }
}
@keyframes alchemy-marquee-right {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(calc(-50% + var(--replo-marquee-width, 100%) / var(--replo-marquee-repetitions, 20)));
  }
}
@keyframes alchemy-fade {
  from {
    opacity: var(--initial-opacity);
  }
  to {
    opacity: var(--final-opacity);
  }
}
@keyframes alchemy-slide-y {
  from {
    opacity: var(--initial-opacity);
    transform: translateY(var(--offset));
  }
  to {
    opacity: var(--final-opacity);
    transform: translateY(0);
  }
}
@keyframes alchemy-slide-x {
  from {
    opacity: var(--initial-opacity);
    transform: translateX(var(--offset));
  }
  to {
    opacity: var(--final-opacity);
    transform: translateX(0);
  }
}
@keyframes alchemy-flip-y {
  from {
    opacity: var(--initial-opacity);
    transform: rotateY(var(--angle));
  }
  to {
    opacity: var(--final-opacity);
    transform: rotateY(0);
  }
}
@keyframes alchemy-flip-x {
  from {
    opacity: var(--initial-opacity);
    transform: rotateX(var(--angle));
  }
  to {
    opacity: var(--final-opacity);
    transform: rotateX(0);
  }
}
@keyframes alchemy-grow {
  from {
    opacity: var(--initial-opacity);
    transform: scale(var(--initial-scale));
  }
  to {
    opacity: var(--final-opacity);
    transform: scale(var(--final-scale));
  }
}
@keyframes alchemy-spin {
  from {
    opacity: var(--initial-opacity);
    transform: rotate(var(--initial-angle));
  }
  to {
    opacity: var(--final-opacity);
    transform: rotate(var(--final-angle));
  }
}
@keyframes alchemy-fly-y {
  from {
    opacity: var(--initial-opacity);
    transform: translateY(var(--offset)) scale(0);
  }
  to {
    opacity: var(--final-opacity);
    transform: translateY(0) scale(1);
  }
}
@keyframes alchemy-fly-x {
  from {
    opacity: var(--initial-opacity);
    transform: translateX(var(--offset)) scale(0);
  }
  to {
    opacity: var(--final-opacity);
    transform: translateX(0) scale(1);
  }
}
@keyframes alchemy-drop {
  from {
    opacity: var(--initial-opacity);
    transform: translateY(var(--offset));
  }
  to {
    opacity: var(--final-opacity);
    transform: translateY(0);
  }
}
@keyframes replo-spin {
  to {
    transform: rotate(360deg);
  }
}
.replo-animate-spinner {
  animation: replo-spin 1s linear infinite;
}

[data-replo-collapsible] .replo-animated {
  overflow: hidden;
}

[data-replo-collapsible] .replo-animated[data-state=open] {
  animation: slideDown 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

[data-replo-collapsible] .replo-animated[data-state=closed] {
  animation: slideUp 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-collapsible-content-height);
  }
}
@keyframes slideUp {
  from {
    height: var(--radix-collapsible-content-height);
  }
  to {
    height: 0;
  }
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

[data-replo-component-root=carousel]:where([data-replo-part-id=slide-track]) {
  scrollbar-width: none;
}
[data-replo-component-root=carousel]:where([data-replo-part-id=slide-track])::-webkit-scrollbar {
  display: none;
}</style><style id="alchemy-runtime-css">
    html,
    body {
      zoom: unset !important;
    }

    body {
      overflow-y: visible !important;
    }
      main, #main {
        margin: 0 !important;
        padding: 0 !important;
        max-width: none !important;
        max-height: none !important;
      }
     </style><style>
  header, #shopify-section-header, #shopify-section-header-classic, .main_nav, .main-nav, .navbar, #mobile-header-sticky-wrapper, .nav, .header-wrapper, [data-site-header], #shopify-section-static-header, #header, .main-header, #site-header, .shopify-section-group-header-group { display: none !important }
  .main-content { padding-top: 0 !important; margin-top: 0 !important }
</style><style>
  footer:not(cart-drawer footer), #shopify-section-footer, #shopify-section-banner-image, .footer-section, #shopify-section-new-footer, #shopify-section-layout-footer, [id^="shopify-section-footer"], #footer, .main-footer, .shopify-section-group-footer-group { display: none !important; }
  .main-content { padding-bottom: 0 !important; margin-bottom: 0 !important; }
</style><div class="alchemy__element alchemy-reset"><div data-rid="8e1abcfc-1325-42bf-b48f-8793858695b5" data-replo-repeated-index=".0" class="r-zvshey"><div data-rid="5f1228ec-a53a-4502-8b42-15846e9070d5" data-replo-repeated-index=".0.0" class="r-1g4x23r"><div data-rid="5aaefbd8-c710-477a-a158-88f3db13a589" data-replo-repeated-index=".0.0.0" class="r-154d0mm"><picture data-rid="67497f26-b68a-474d-b305-7c9cb7d8b0a0" data-replo-repeated-index=".0.0.0.0" class="r-o0vv6l"><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/tccwearlogokopie.png?v=1688636957&amp;width=820" media="(max-width: 640px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/tccwearlogokopie.png?v=1688636957&amp;width=1024" media="(min-width: 641px) and (max-width: 820px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/tccwearlogokopie.png?v=1688636957&amp;width=1800" media="(min-width: 821px) and (max-width: 1024px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/tccwearlogokopie.png?v=1688636957&amp;width=2048" media="(min-width: 1025px)"/><img src="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/tccwearlogokopie.png?v=1688636957" class="r-6pjolf" loading="eager"/></picture><div data-rid="c6204472-5311-4034-aad6-aada6da07322" data-replo-repeated-index=".0.0.0.0" class="r-mxxz5e alchemy-rte"><span contenteditable="false" style="width:100%"><p>5 Reasons Why This Accessory Brand Should Be On Your Christmas Gift List </p></span></div><div data-rid="9acff4be-e731-418c-96bd-143d1014b3ce" data-replo-repeated-index=".0.0.0.0" class="r-3yjf4b alchemy-rte"><span contenteditable="false" style="width:100%"><p>This Christmas, gift yourself or your loved ones a personalised leather accessory. There's nothing more thoughtful than gifting someone a quality item with their name on it. Loved by fashion influencers, celebrities and people who love the finer things in life, find out why this brand is an essential for on your Christmas gifting list.</p></span></div><div data-rid="1bf6ba8c-c797-49e9-b90d-ae8a531e7c65" data-replo-repeated-index=".0.0.0.0" class="r-nab6de alchemy-rte"><span contenteditable="false" style="width:100%"><p>12/06/23 | Sam Reeves</p></span></div><div data-rid="187ea7db-92c3-4424-bea4-ae2ef3c4365f" data-replo-repeated-index=".0.0.0.0" class="r-1idmzcd"><div data-rid="4a6a0e95-f5f1-41de-aca8-8199d7f38935" data-replo-repeated-index=".0.0.0.0.0" class="r-1hav325"><picture data-rid="6f89dc12-1af5-4c5e-865f-04f3c56cca45" data-replo-repeated-index=".0.0.0.0.0.0" class="r-sy1bc0"><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/IMG_8130-min.jpg?v=1688645374&amp;width=820" media="(max-width: 640px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/IMG_8130-min.jpg?v=1688645374&amp;width=1024" media="(min-width: 641px) and (max-width: 820px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/IMG_8130-min.jpg?v=1688645374&amp;width=1800" media="(min-width: 821px) and (max-width: 1024px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/IMG_8130-min.jpg?v=1688645374&amp;width=2048" media="(min-width: 1025px)"/><img src="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/IMG_8130-min.jpg?v=1688645374" class="r-1fnemky" loading="eager"/></picture><div data-rid="4ef3664b-e377-4d4e-9547-38c6963d4fa7" data-replo-repeated-index=".0.0.0.0.0.0" class="r-jfuapn"><div data-rid="112bcb39-baae-4ca4-aeac-64e691977784" data-replo-repeated-index=".0.0.0.0.0.0.0" class="r-gx1qsn alchemy-rte"><span contenteditable="false" style="width:100%"><p>1. It's The Perfect Gift - For Yourself Or A Loved One</p></span></div><div data-rid="b37cbd5d-6cef-49c5-9cee-694eb1f3097a" data-replo-repeated-index=".0.0.0.0.0.0.0" class="r-15tmrm7 alchemy-rte"><span contenteditable="false" style="width:100%"><p>There's no more thoughtful gift than giving someone something that's <a target="_blank" rel="noopener nofollow noreferrer" href="https://thecaseclubla.com/collections/phone-cases"><u>personalised and hand made</u></a> just for them. Combine that with something that is of such high quality that it will actually last them years to come, and you've got the perfect gift - either for yourself or for a loved one.</p></span></div></div></div><div data-rid="18a9f8e3-49f6-4f27-b5b4-312e27823c98" data-replo-repeated-index=".0.0.0.0.0" class="r-vvn4zl"><picture data-rid="f2dbc6db-d874-4926-b1a2-d0ffa66160d6" data-replo-repeated-index=".0.0.0.0.0.0" class="r-12hj5gj"><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/IMG_8135-min.jpg?v=1688645252&amp;width=820" media="(max-width: 640px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/IMG_8135-min.jpg?v=1688645252&amp;width=1024" media="(min-width: 641px) and (max-width: 820px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/IMG_8135-min.jpg?v=1688645252&amp;width=1800" media="(min-width: 821px) and (max-width: 1024px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/IMG_8135-min.jpg?v=1688645252&amp;width=2048" media="(min-width: 1025px)"/><img src="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/IMG_8135-min.jpg?v=1688645252" class="r-1dygvbe" loading="eager"/></picture><div data-rid="d7d113f6-0190-4d76-9890-85b3bf230187" data-replo-repeated-index=".0.0.0.0.0.0" class="r-kmq7fe"><div data-rid="8227a90c-3906-48a0-80a4-c4ac3cb1f684" data-replo-repeated-index=".0.0.0.0.0.0.0" class="r-1rowk6t alchemy-rte"><span contenteditable="false" style="width:100%"><p>2. Its NOT Just A Phone Case Its A Lifestyle</p></span></div><div data-rid="00a79bfc-6a9f-43bc-83a6-bc3ae34caf7c" data-replo-repeated-index=".0.0.0.0.0.0.0" class="r-tp8tpu alchemy-rte"><span contenteditable="false" style="width:100%"><p>This isnt just another <a target="_blank" rel="noopener nofollow noreferrer" href="https://thecaseclubla.com/collections/phone-cases"><u>phone case</u></a>. The Case Club represents a lifestyle of refinement, made for people who enjoy the finer things in life. They believe your monogram holds power and include free personalisation with every order, so you can put your personal power statement on your most personal products.</p></span></div><div data-rid="3b1d5095-8d1a-4567-9c8b-e1adf91de755" data-replo-repeated-index=".0.0.0.0.0.0.0" class="r-t1ci49 alchemy-rte"><span contenteditable="false" style="width:100%"><p>What other phone case brand sparks that feeling of elegance inside you?</p><p></p></span></div></div></div><div data-rid="2932083b-8b81-4ee9-a001-4fe55e945325" data-replo-repeated-index=".0.0.0.0.0" class="r-15o7j4v"><picture data-rid="a4cbdcb7-e626-407b-bcd5-8b96e0ce948d" data-replo-repeated-index=".0.0.0.0.0.0" class="r-48ruup"><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/IMG_8131-min.jpg?v=1688645279&amp;width=820" media="(max-width: 640px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/IMG_8131-min.jpg?v=1688645279&amp;width=1024" media="(min-width: 641px) and (max-width: 820px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/IMG_8131-min.jpg?v=1688645279&amp;width=1800" media="(min-width: 821px) and (max-width: 1024px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/IMG_8131-min.jpg?v=1688645279&amp;width=2048" media="(min-width: 1025px)"/><img src="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/IMG_8131-min.jpg?v=1688645279" class="r-92jm7m" loading="eager"/></picture><div data-rid="cc725f37-af48-4644-af9c-5244bf861da6" data-replo-repeated-index=".0.0.0.0.0.0" class="r-15w9tkp"><div data-rid="1be38543-f7c3-4a06-9133-2524fb399193" data-replo-repeated-index=".0.0.0.0.0.0.0" class="r-1kov2c0 alchemy-rte"><span contenteditable="false" style="width:100%"><p>3. Its Handmade In Europe And Made From The Highest Quality Materials</p></span></div><div data-rid="32438138-23ce-4cd2-98f0-ecff854fe7b3" data-replo-repeated-index=".0.0.0.0.0.0.0" class="r-c0ppqx alchemy-rte"><span contenteditable="false" style="width:100%"><p>The Case Club produces and personalises all of their products in Amsterdam, The Netherlands. A team of craftsmen with over 30 years of experience in their field (!) are working passionately to provide a quality, luxury item for an affordable price.</p><p></p></span></div></div></div><div data-rid="426864b6-ffed-491e-b9a8-728cbe496c6e" data-replo-repeated-index=".0.0.0.0.0" class="r-1bh5zln"><picture data-rid="48632028-aade-4938-8960-f908ddf3b3a3" data-replo-repeated-index=".0.0.0.0.0.0" class="r-1xtoav9"><img src="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/GG_No_Text_1x1_kopie-min.jpg?v=1688645471" class="r-mzfkov" loading="eager"/></picture><div data-rid="bf722cef-c0ee-49be-8718-792959910bb1" data-replo-repeated-index=".0.0.0.0.0.0" class="r-1o4exv2"><div data-rid="dba3e8c3-f1a6-47ed-b9e1-6c728859fe7a" data-replo-repeated-index=".0.0.0.0.0.0.0" class="r-vamyjj alchemy-rte"><span contenteditable="false" style="width:100%"><p>4. It's Got Great Value For Money</p></span></div><div data-rid="0590b013-1813-4a4b-8f36-1e972b577b28" data-replo-repeated-index=".0.0.0.0.0.0.0" class="r-ipf4kb alchemy-rte"><span contenteditable="false" style="width:100%"><p>The Case Club doesn't just source any leather for their products, they use the same leather as all the big luxury brands use. While it might be slightly more expensive than a plastic phone case, getting a premium leather accessory for under $50 is a great, great deal, especially factoring in their products are all hand made by craftsmen and come personalised!</p><p></p></span></div></div></div><div data-rid="560d4793-d820-41f2-802c-ac9f58212b22" data-replo-repeated-index=".0.0.0.0.0" class="r-1auf4cf"><picture data-rid="43bb265f-3979-46cd-8ed9-a60f2272fdda" data-replo-repeated-index=".0.0.0.0.0.0" class="r-wmn8zc"><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/IMG_8133-min.jpg?v=1688645397&amp;width=820" media="(max-width: 640px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/IMG_8133-min.jpg?v=1688645397&amp;width=1024" media="(min-width: 641px) and (max-width: 820px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/IMG_8133-min.jpg?v=1688645397&amp;width=1800" media="(min-width: 821px) and (max-width: 1024px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/IMG_8133-min.jpg?v=1688645397&amp;width=2048" media="(min-width: 1025px)"/><img src="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/IMG_8133-min.jpg?v=1688645397" class="r-5tpqot" loading="eager"/></picture><div data-rid="a4e63c93-4cc7-4657-aa13-350dc1d89fa7" data-replo-repeated-index=".0.0.0.0.0.0" class="r-gr197d"><div data-rid="d5bf8b28-f3d2-4e7c-840d-0d84cd4a45e3" data-replo-repeated-index=".0.0.0.0.0.0.0" class="r-3mi35e alchemy-rte"><span contenteditable="false" style="width:100%"><p>5. They Have A Holiday Sale Going On Right Now!</p></span></div><div data-rid="8c51e35a-999a-4779-9bfa-8431747db792" data-replo-repeated-index=".0.0.0.0.0.0.0" class="r-1nvzieb alchemy-rte"><span contenteditable="false" style="width:100%"><p>With 50% off everything site wide, this is the perfect opportunity to try their <a target="_blank" rel="noopener nofollow noreferrer" href="https://thecaseclubla.com/collections/phone-cases"><u>products</u></a> for an even more affordable price! Grab this chance to level up your accessory game by matching it with your summer outfits, and get ready to receive compliments on your new phone case wherever you go!</p></span></div></div></div><div data-rid="bd0fedb1-ba82-4134-96a6-7e26adbc4d5f" data-replo-repeated-index=".0.0.0.0.0" class="r-duqovg"><div data-rid="32280cee-abcf-492a-8437-2c66d80a78ea" data-replo-repeated-index=".0.0.0.0.0.0" class="r-1sv69at alchemy-rte"><span contenteditable="false" style="width:100%"><p>If you made it to #5 you obviously know it's time to get this Christmas gift order placed..</p></span></div><a data-rid="772ace39-79b4-4044-9628-ca9424d899db" data-replo-repeated-index=".0.0.0.0.0.0" tabindex="0" role="link" class="text r-n9zlz alchemy-rte" href="https://thecaseclubla.com/collections/phone-cases"><span contenteditable="false" style="width:100%"><p>SHOP THE SALE NOW</p></span></a></div></div></div></div><div data-rid="1ae88537-f3b6-4f13-8528-9550392ee4c0" data-replo-repeated-index=".0.0" class="r-1f0k5xr"><div data-rid="adb99847-3eb2-46f1-a459-a6ab0ab219a6" data-replo-repeated-index=".0.0.0" class="r-19kky26 alchemy-rte"><span contenteditable="false" style="width:100%"><p>Exclusive Holiday Sale Deal</p></span></div><div data-rid="225350f6-86bc-43b9-8681-610701724cd4" data-replo-repeated-index=".0.0.0" class="r-1c82u7h"><div data-rid="37fdfc87-630a-4587-b030-60a04ecec50e" data-replo-repeated-index=".0.0.0.0" class="r-e50mwo alchemy-rte"><span contenteditable="false" style="width:100%"><p>Sale Ends In</p><p></p></span></div><div data-rid="dc0c1785-2df7-4813-b14f-b7d15d87eb78" data-replo-repeated-index=".0.0.0.0" class="r-br7u2i"><div data-rid="c986a623-31d4-4830-81e7-cce4a26a2bf1" data-replo-repeated-index=".0.0.0.0.0" class="r-1uqohtb alchemy-rte"><span contenteditable="false" style="width:100%">23</span></div><div data-rid="05e7eab2-ef06-444f-8fd2-0d5f9df23e26" data-replo-repeated-index=".0.0.0.0.0" class="r-1k71uty alchemy-rte"><span contenteditable="false" style="width:100%"><p>:</p></span></div><div data-rid="e2b582df-cc8d-49fa-b93b-53a33af9fc00" data-replo-repeated-index=".0.0.0.0.0" class="r-gept33 alchemy-rte"><span contenteditable="false" style="width:100%">59</span></div><div data-rid="a8627235-debf-4f12-a7d9-be881daf39e9" data-replo-repeated-index=".0.0.0.0.0" class="r-1paywxe alchemy-rte"><span contenteditable="false" style="width:100%"><p>:</p></span></div><div data-rid="004d899b-c29e-4277-a6e4-91781c6236e9" data-replo-repeated-index=".0.0.0.0.0" class="r-hrw98k alchemy-rte"><span contenteditable="false" style="width:100%">59</span></div></div></div><div data-rid="82283300-fecb-491c-8a46-8dc86931fada" data-replo-repeated-index=".0.0.0" class="r-1t8kx2d alchemy-rte"><span contenteditable="false" style="width:100%"><p>Join the #1 Accessory Brand and try The Case Club while it's on sale now!</p><p></p></span></div><div data-rid="e2ca3670-6315-4046-8999-479ff3e69965" data-replo-repeated-index=".0.0.0" class="r-sk667p"></div><div data-rid="0a6ca552-5e85-4245-aa8b-4d382a640496" data-replo-repeated-index=".0.0.0" class="r-e6zpkh"><picture data-rid="f7b0facf-d607-4594-bf9b-7e1b7ac9d3f3" data-replo-repeated-index=".0.0.0.0" class="r-1bqju1r"><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/productss.png?v=1688636491&amp;width=820" media="(max-width: 640px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/productss.png?v=1688636491&amp;width=1024" media="(min-width: 641px) and (max-width: 820px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/productss.png?v=1688636491&amp;width=1800" media="(min-width: 821px) and (max-width: 1024px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/productss.png?v=1688636491&amp;width=2048" media="(min-width: 1025px)"/><img src="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/productss.png?v=1688636491" class="r-179ek6i" loading="eager"/></picture><div data-rid="94b0c9a5-ba8e-48f4-9e1c-25ea40fcde62" data-replo-repeated-index=".0.0.0.0" class="r-1p7vhoy"><div data-rid="1bc18f8e-482f-4f71-b0d8-098b68b1bf0a" data-replo-repeated-index=".0.0.0.0.0" class="r-1s7xgwc"><div data-rid="aef3c657-e809-41a2-a8ee-d15dc28a5484" data-replo-repeated-index=".0.0.0.0.0.0" class="r-1685dox"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="1em" height="1em" fill="currentColor" role="presentation" style="width:var(--rsw, 100%);height:100%" class="r-1ptmj4u"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path></svg></div><div data-rid="ed244a82-332f-4c67-a2e2-615a6824ff56" data-replo-repeated-index=".0.0.0.0.0.0" class="r-1wx8t4j alchemy-rte"><span contenteditable="false" style="width:100%"><p>FREE Personalisation on your order</p><p></p></span></div></div><div data-rid="d690e301-bc71-454b-8554-87930b5c25d3" data-replo-repeated-index=".0.0.0.0.0" class="r-x74kcy"><div data-rid="db0fc94d-6584-46dd-96de-40c7fefba9d3" data-replo-repeated-index=".0.0.0.0.0.0" class="r-16h3ehc"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="1em" height="1em" fill="currentColor" role="presentation" style="width:var(--rsw, 100%);height:100%" class="r-1rrf2m6"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path></svg></div><div data-rid="ff983b5b-4764-4cfe-8b8a-485a4f0a36f3" data-replo-repeated-index=".0.0.0.0.0.0" class="r-1pr6orm alchemy-rte"><span contenteditable="false" style="width:100%"><p>FREE Shipping worldwide</p><p></p></span></div></div><div data-rid="b9d11a43-1126-4b19-89c9-3f9b77795985" data-replo-repeated-index=".0.0.0.0.0" class="r-1x8vq4e"><div data-rid="d3f483cf-e692-4dc2-9460-b73ffbe3e1e2" data-replo-repeated-index=".0.0.0.0.0.0" class="r-1u4zsjk"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="1em" height="1em" fill="currentColor" role="presentation" style="width:var(--rsw, 100%);height:100%" class="r-um7mxo"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path></svg></div><div data-rid="928b0c8e-196e-482a-b12f-92dc65233e83" data-replo-repeated-index=".0.0.0.0.0.0" class="r-1pyheip alchemy-rte"><span contenteditable="false" style="width:100%"><p>Biggest sale of the year</p><p></p></span></div></div><a data-rid="8e78283e-79bb-40f2-8810-8c50b95bf771" data-replo-repeated-index=".0.0.0.0.0" tabindex="0" role="link" class="text r-2ekgrn alchemy-rte" href="https://thecaseclubla.com/collections/phone-cases"><span contenteditable="false" style="width:100%"><p>Grab 50% OFF NOW</p></span></a><div data-rid="96a34363-6bd6-4475-9176-44e6341fc0df" data-replo-repeated-index=".0.0.0.0.0" class="r-2josxq"><div data-rid="44edca6c-453f-4fdb-a820-2e343b790116" data-replo-repeated-index=".0.0.0.0.0.0" class="r-68u7jh alchemy-rte"><span contenteditable="false" style="width:100%"><p>SELL-OUT RISK:<span style="color: #FF0000FF"> HIGH</span></p><p></p></span></div><div data-rid="b1bfb777-ab17-4872-bcf8-13a8b1cbc2d3" data-replo-repeated-index=".0.0.0.0.0.0" class="r-1dehgbc alchemy-rte"><span contenteditable="false" style="width:100%"><p><strong>FREE SHIPPING</strong></p></span></div></div></div></div></div></div></div></div>

    <script id="replo-deps-element-id" data-id="123991982426"></script>
  
    </div>
