
    
    <div
      id="replo-fullpage-element"
      data-runtime-version="3e1462ea-939b-11ee-b11f-06e162481e1c"
      style="display: block !important"
    >
      <style id="replo-element-styles">:not(#\20):not(#\20).r-1tclpbs{display:flex;position:relative;min-width:auto;align-self:stretch;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:0;flex-direction:column;justify-content:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1tclpbs{position:relative;min-width:auto;flex-basis:auto;min-height:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1tclpbs{position:relative;min-width:auto;flex-basis:auto;min-height:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-1h3k1m{display:flex;position:relative;max-width:100%;min-width:auto;align-self:stretch;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:0;padding-top:64px;padding-left:40px;padding-right:40px;flex-direction:column;padding-bottom:50px;justify-content:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1h3k1m{position:relative;min-width:auto;flex-basis:auto;min-height:auto;flex-shrink:0;padding-top:30px;padding-left:30px;padding-right:30px;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1h3k1m{position:relative;min-width:auto;flex-basis:auto;min-height:auto;flex-shrink:0;padding-top:50px;padding-left:30px;padding-right:30px;}}:not(#\20):not(#\20).r-1nc4ywc{display:flex;position:relative;max-width:820px;min-width:auto;align-self:center;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:0;flex-direction:column;justify-content:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1nc4ywc{display:flex;position:relative;max-width:100%;min-width:auto;flex-basis:auto;min-height:auto;align-items:flex-start;flex-shrink:0;justify-content:flex-start;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1nc4ywc{display:flex;position:relative;max-width:720px;min-width:auto;flex-basis:auto;min-height:auto;align-items:flex-start;flex-shrink:0;justify-content:flex-start;}}:not(#\20):not(#\20).r-qjawix{display:flex;max-width:80px;min-width:0;flex-basis:auto;max-height:80px;min-height:0;object-fit:cover;overflow-x:auto;overflow-y:hidden;align-items:center;flex-shrink:0;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-qjawix{align-self:center;flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-qjawix{align-self:center;flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-1gyagda{height:100%;margin:0;display:block;padding:0;max-width:100%;min-width:100%;max-height:100%;min-height:100%;object-fit:cover;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1gyagda{object-fit:cover;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1gyagda{object-fit:cover;}}:not(#\20):not(#\20).r-ra6i2b{color:#5A3B36;flex-grow:1;font-size:44px;flex-basis:auto;margin-top:50px;text-align:left;flex-shrink:1;font-weight:800;line-height:55px;margin-bottom:20px;overflow-wrap:break-word;letter-spacing:-0.6px;text-align-last:left;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-ra6i2b{width:auto;font-size:25px;max-width:600px;align-self:flex-start;flex-basis:auto;margin-top:30px;text-align:left;flex-shrink:1;line-height:35px;margin-bottom:15px;text-align-last:left;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-ra6i2b{width:auto;font-size:30px;max-width:600px;align-self:flex-start;flex-basis:auto;margin-top:40px;flex-shrink:1;line-height:40px;margin-bottom:15px;text-align-last:left;}}:not(#\20):not(#\20).r-oo37o{color:#5A3B36;font-size:16px;flex-basis:auto;text-align:left;flex-shrink:0;font-weight:700;line-height:25px;margin-bottom:20px;overflow-wrap:break-word;text-align-last:left;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-oo37o{font-size:16px;max-width:600px;align-self:flex-start;flex-basis:auto;text-align:left;flex-shrink:0;line-height:27px;margin-bottom:15px;text-align-last:left;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-oo37o{font-size:16px;max-width:600px;align-self:flex-start;flex-basis:auto;flex-shrink:0;line-height:27px;margin-bottom:15px;text-align-last:left;}}:not(#\20):not(#\20).r-1i0mhc6{color:#BCA79C;font-size:14px;align-self:stretch;flex-basis:auto;text-align:left;flex-shrink:0;font-weight:600;line-height:25px;margin-bottom:30px;overflow-wrap:break-word;text-align-last:left;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1i0mhc6{width:100%;font-size:16px;max-width:600px;align-self:flex-start;flex-basis:auto;text-align:left;flex-shrink:0;line-height:27px;margin-bottom:40px;text-align-last:left;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1i0mhc6{width:100%;font-size:16px;max-width:600px;align-self:flex-start;flex-basis:auto;flex-shrink:0;line-height:27px;margin-bottom:40px;text-align-last:left;}}:not(#\20):not(#\20).r-sv2keb{display:flex;row-gap:70px;position:relative;max-width:100%;min-width:auto;align-self:stretch;column-gap:70px;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:0;flex-direction:column;justify-content:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-sv2keb{row-gap:70px;position:relative;min-width:auto;column-gap:70px;flex-basis:auto;min-height:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-sv2keb{row-gap:70px;position:relative;min-width:auto;column-gap:70px;flex-basis:auto;min-height:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-1fyuqn6{display:flex;row-gap:48px;position:relative;max-width:100%;min-width:auto;align-self:stretch;column-gap:48px;flex-basis:auto;min-height:auto;align-items:flex-start;flex-shrink:0;justify-content:flex-start;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1fyuqn6{display:flex;row-gap:30px;position:relative;min-width:auto;column-gap:30px;flex-basis:auto;min-height:auto;flex-shrink:0;margin-bottom:40px;flex-direction:column;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1fyuqn6{row-gap:35px;position:relative;min-width:auto;column-gap:35px;flex-basis:auto;min-height:auto;flex-shrink:0;margin-bottom:50px;}}:not(#\20):not(#\20).r-i72687{width:100%;display:flex;max-width:340px;min-width:0;align-self:flex-start;flex-basis:auto;max-height:340px;min-height:0;object-fit:cover;overflow-x:auto;overflow-y:hidden;align-items:center;flex-shrink:0;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-i72687{max-width:100%;flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-i72687{flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-e8rz4i{height:100%;margin:0;display:block;padding:0;max-width:100%;min-width:100%;max-height:100%;min-height:100%;object-fit:cover;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-e8rz4i{object-fit:cover;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-e8rz4i{object-fit:cover;}}:not(#\20):not(#\20).r-1q0gx2{display:flex;row-gap:25px;position:relative;flex-grow:1;min-width:auto;align-self:stretch;column-gap:25px;flex-basis:auto;min-height:auto;align-items:flex-start;flex-shrink:1;flex-direction:column;justify-content:flex-start;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1q0gx2{row-gap:15px;position:relative;flex-grow:1;min-width:auto;column-gap:15px;flex-basis:auto;min-height:auto;flex-shrink:1;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1q0gx2{row-gap:15px;position:relative;min-width:auto;column-gap:15px;flex-basis:auto;min-height:auto;flex-shrink:1;}}:not(#\20):not(#\20).r-1s0xyqs{color:#5A3B36;font-size:28px;flex-basis:auto;text-align:left;flex-shrink:0;font-weight:800;line-height:40px;overflow-wrap:break-word;letter-spacing:-0.6px;text-align-last:left;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1s0xyqs{font-size:22px;flex-basis:auto;flex-shrink:0;line-height:30px;text-align-last:left;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1s0xyqs{font-size:25px;flex-basis:auto;flex-shrink:0;line-height:35px;text-align-last:left;}}:not(#\20):not(#\20).r-14nutza{color:#5A3B36FF;font-size:18px;flex-basis:auto;text-align:left;flex-shrink:0;font-weight:400;line-height:30px;overflow-wrap:break-word;text-align-last:left;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-14nutza{font-size:16px;flex-basis:auto;text-align:left;flex-shrink:0;line-height:27px;text-align-last:left;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-14nutza{font-size:16px;flex-basis:auto;text-align:left;flex-shrink:0;line-height:27px;text-align-last:left;}}:not(#\20):not(#\20).r-lqvwzu{color:#5A3B36FF;font-size:18px;flex-basis:auto;text-align:left;flex-shrink:0;font-weight:400;line-height:30px;overflow-wrap:break-word;text-align-last:left;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-lqvwzu{font-size:16px;flex-basis:auto;text-align:left;flex-shrink:0;line-height:27px;text-align-last:left;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-lqvwzu{font-size:16px;flex-basis:auto;text-align:left;flex-shrink:0;line-height:27px;text-align-last:left;}}:not(#\20):not(#\20).r-1i4dtk7{display:flex;row-gap:48px;position:relative;max-width:100%;min-width:auto;align-self:stretch;column-gap:48px;flex-basis:auto;min-height:auto;align-items:flex-start;flex-shrink:0;justify-content:flex-start;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1i4dtk7{display:flex;row-gap:30px;position:relative;min-width:auto;column-gap:30px;flex-basis:auto;min-height:auto;flex-shrink:0;margin-bottom:40px;flex-direction:column;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1i4dtk7{row-gap:35px;position:relative;min-width:auto;column-gap:35px;flex-basis:auto;min-height:auto;flex-shrink:0;margin-bottom:50px;}}:not(#\20):not(#\20).r-mev4lx{width:100%;display:flex;max-width:340px;min-width:0;align-self:flex-start;flex-basis:auto;max-height:340px;min-height:0;object-fit:cover;overflow-x:auto;overflow-y:hidden;align-items:center;flex-shrink:0;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-mev4lx{max-width:100%;flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-mev4lx{flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-xhxefv{height:100%;margin:0;display:block;padding:0;max-width:100%;min-width:100%;max-height:100%;min-height:100%;object-fit:cover;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-xhxefv{object-fit:cover;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-xhxefv{object-fit:cover;}}:not(#\20):not(#\20).r-1e174kz{display:flex;row-gap:25px;position:relative;flex-grow:1;min-width:auto;align-self:stretch;column-gap:25px;flex-basis:auto;min-height:auto;align-items:flex-start;flex-shrink:1;flex-direction:column;justify-content:flex-start;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1e174kz{row-gap:15px;position:relative;flex-grow:1;min-width:auto;column-gap:15px;flex-basis:auto;min-height:auto;flex-shrink:1;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1e174kz{row-gap:15px;position:relative;min-width:auto;column-gap:15px;flex-basis:auto;min-height:auto;flex-shrink:1;}}:not(#\20):not(#\20).r-1f4g8nk{color:#5A3B36;font-size:28px;flex-basis:auto;text-align:left;flex-shrink:0;font-weight:800;line-height:40px;overflow-wrap:break-word;letter-spacing:-0.6px;text-align-last:left;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1f4g8nk{font-size:22px;flex-basis:auto;flex-shrink:0;line-height:30px;text-align-last:left;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1f4g8nk{font-size:25px;flex-basis:auto;flex-shrink:0;line-height:35px;text-align-last:left;}}:not(#\20):not(#\20).r-z2it5w{color:#5A3B36FF;font-size:18px;flex-basis:auto;text-align:left;flex-shrink:0;font-weight:400;line-height:30px;overflow-wrap:break-word;text-align-last:left;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-z2it5w{font-size:16px;flex-basis:auto;text-align:left;flex-shrink:0;line-height:27px;text-align-last:left;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-z2it5w{font-size:16px;flex-basis:auto;text-align:left;flex-shrink:0;line-height:27px;text-align-last:left;}}:not(#\20):not(#\20).r-1e99dcg{display:flex;row-gap:48px;position:relative;max-width:100%;min-width:auto;align-self:stretch;column-gap:48px;flex-basis:auto;min-height:auto;align-items:flex-start;flex-shrink:0;justify-content:flex-start;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1e99dcg{display:flex;row-gap:30px;position:relative;min-width:auto;column-gap:30px;flex-basis:auto;min-height:auto;flex-shrink:0;margin-bottom:40px;flex-direction:column;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1e99dcg{row-gap:35px;position:relative;min-width:auto;column-gap:35px;flex-basis:auto;min-height:auto;flex-shrink:0;margin-bottom:50px;}}:not(#\20):not(#\20).r-1bkyuy5{width:100%;display:flex;max-width:340px;min-width:0;align-self:flex-start;flex-basis:auto;max-height:340px;min-height:0;object-fit:cover;overflow-x:auto;overflow-y:hidden;align-items:center;flex-shrink:0;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1bkyuy5{max-width:100%;flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1bkyuy5{flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-k0xasg{height:100%;margin:0;display:block;padding:0;max-width:100%;min-width:100%;max-height:100%;min-height:100%;object-fit:cover;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-k0xasg{object-fit:cover;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-k0xasg{object-fit:cover;}}:not(#\20):not(#\20).r-md7v31{display:flex;row-gap:25px;position:relative;flex-grow:1;min-width:auto;align-self:stretch;column-gap:25px;flex-basis:auto;min-height:auto;align-items:flex-start;flex-shrink:1;flex-direction:column;justify-content:flex-start;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-md7v31{row-gap:15px;position:relative;flex-grow:1;min-width:auto;column-gap:15px;flex-basis:auto;min-height:auto;flex-shrink:1;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-md7v31{row-gap:15px;position:relative;min-width:auto;column-gap:15px;flex-basis:auto;min-height:auto;flex-shrink:1;}}:not(#\20):not(#\20).r-1ngmkgb{color:#5A3B36;font-size:28px;flex-basis:auto;text-align:left;flex-shrink:0;font-weight:800;line-height:40px;overflow-wrap:break-word;letter-spacing:-0.6px;text-align-last:left;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1ngmkgb{font-size:22px;flex-basis:auto;flex-shrink:0;line-height:30px;text-align-last:left;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1ngmkgb{font-size:25px;flex-basis:auto;flex-shrink:0;line-height:35px;text-align-last:left;}}:not(#\20):not(#\20).r-llbmq0{color:#5A3B36FF;font-size:18px;flex-basis:auto;text-align:left;flex-shrink:0;font-weight:400;line-height:30px;overflow-wrap:break-word;text-align-last:left;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-llbmq0{font-size:16px;flex-basis:auto;text-align:left;flex-shrink:0;line-height:27px;text-align-last:left;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-llbmq0{font-size:16px;flex-basis:auto;text-align:left;flex-shrink:0;line-height:27px;text-align-last:left;}}:not(#\20):not(#\20).r-tlu29d{display:flex;row-gap:48px;position:relative;max-width:100%;min-width:auto;align-self:stretch;column-gap:48px;flex-basis:auto;min-height:auto;align-items:flex-start;flex-shrink:0;justify-content:flex-start;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-tlu29d{display:flex;row-gap:30px;position:relative;min-width:auto;column-gap:30px;flex-basis:auto;min-height:auto;flex-shrink:0;margin-bottom:40px;flex-direction:column;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-tlu29d{row-gap:35px;position:relative;min-width:auto;column-gap:35px;flex-basis:auto;min-height:auto;flex-shrink:0;margin-bottom:50px;}}:not(#\20):not(#\20).r-184shkw{width:100%;display:flex;max-width:340px;min-width:0;align-self:flex-start;flex-basis:auto;max-height:340px;min-height:0;object-fit:cover;overflow-x:auto;overflow-y:hidden;align-items:center;flex-shrink:0;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-184shkw{max-width:100%;flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-184shkw{flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-l9wmak{height:100%;margin:0;display:block;padding:0;max-width:100%;min-width:100%;max-height:100%;min-height:100%;object-fit:cover;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-l9wmak{object-fit:cover;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-l9wmak{object-fit:cover;}}:not(#\20):not(#\20).r-1abq3ap{display:flex;row-gap:25px;position:relative;flex-grow:1;min-width:auto;align-self:stretch;column-gap:25px;flex-basis:auto;min-height:auto;align-items:flex-start;flex-shrink:1;flex-direction:column;justify-content:flex-start;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1abq3ap{row-gap:15px;position:relative;flex-grow:1;min-width:auto;column-gap:15px;flex-basis:auto;min-height:auto;flex-shrink:1;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1abq3ap{row-gap:15px;position:relative;min-width:auto;column-gap:15px;flex-basis:auto;min-height:auto;flex-shrink:1;}}:not(#\20):not(#\20).r-xyrtik{color:#5A3B36;font-size:28px;flex-basis:auto;text-align:left;flex-shrink:0;font-weight:800;line-height:40px;overflow-wrap:break-word;letter-spacing:-0.6px;text-align-last:left;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-xyrtik{font-size:22px;flex-basis:auto;flex-shrink:0;line-height:30px;text-align-last:left;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-xyrtik{font-size:25px;flex-basis:auto;flex-shrink:0;line-height:35px;text-align-last:left;}}:not(#\20):not(#\20).r-98zek7{color:#5A3B36FF;font-size:18px;flex-basis:auto;text-align:left;flex-shrink:0;font-weight:400;line-height:30px;overflow-wrap:break-word;text-align-last:left;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-98zek7{font-size:16px;flex-basis:auto;text-align:left;flex-shrink:0;line-height:27px;text-align-last:left;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-98zek7{font-size:16px;flex-basis:auto;text-align:left;flex-shrink:0;line-height:27px;text-align-last:left;}}:not(#\20):not(#\20).r-1l72zxn{display:flex;row-gap:48px;position:relative;max-width:100%;min-width:auto;align-self:stretch;column-gap:48px;flex-basis:auto;min-height:auto;align-items:flex-start;flex-shrink:0;justify-content:flex-start;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1l72zxn{display:flex;row-gap:30px;position:relative;min-width:auto;column-gap:30px;flex-basis:auto;min-height:auto;flex-shrink:0;margin-bottom:40px;flex-direction:column;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1l72zxn{row-gap:35px;position:relative;min-width:auto;column-gap:35px;flex-basis:auto;min-height:auto;flex-shrink:0;margin-bottom:50px;}}:not(#\20):not(#\20).r-8b1rtw{width:100%;display:flex;max-width:340px;min-width:0;align-self:flex-start;flex-basis:auto;max-height:340px;min-height:0;object-fit:cover;overflow-x:auto;overflow-y:hidden;align-items:center;flex-shrink:0;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-8b1rtw{max-width:100%;flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-8b1rtw{flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-18iv17a{height:100%;margin:0;display:block;padding:0;max-width:100%;min-width:100%;max-height:100%;min-height:100%;object-fit:cover;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-18iv17a{object-fit:cover;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-18iv17a{object-fit:cover;}}:not(#\20):not(#\20).r-mtd02z{display:flex;row-gap:25px;position:relative;flex-grow:1;min-width:auto;align-self:stretch;column-gap:25px;flex-basis:auto;min-height:auto;align-items:flex-start;flex-shrink:1;flex-direction:column;justify-content:flex-start;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-mtd02z{row-gap:15px;position:relative;flex-grow:1;min-width:auto;column-gap:15px;flex-basis:auto;min-height:auto;flex-shrink:1;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-mtd02z{row-gap:15px;position:relative;min-width:auto;column-gap:15px;flex-basis:auto;min-height:auto;flex-shrink:1;}}:not(#\20):not(#\20).r-mtju1o{color:#5A3B36;font-size:28px;flex-basis:auto;text-align:left;flex-shrink:0;font-weight:800;line-height:40px;overflow-wrap:break-word;letter-spacing:-0.6px;text-align-last:left;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-mtju1o{font-size:22px;flex-basis:auto;flex-shrink:0;line-height:30px;text-align-last:left;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-mtju1o{font-size:25px;flex-basis:auto;flex-shrink:0;line-height:35px;text-align-last:left;}}:not(#\20):not(#\20).r-d9tyi4{color:#5A3B36FF;font-size:18px;flex-basis:auto;text-align:left;flex-shrink:0;font-weight:400;line-height:30px;overflow-wrap:break-word;text-align-last:left;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-d9tyi4{font-size:16px;flex-basis:auto;text-align:left;flex-shrink:0;line-height:27px;text-align-last:left;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-d9tyi4{font-size:16px;flex-basis:auto;text-align:left;flex-shrink:0;line-height:27px;text-align-last:left;}}:not(#\20):not(#\20).r-2kq63l{display:flex;row-gap:48px;position:relative;max-width:100%;min-width:auto;align-self:stretch;column-gap:48px;flex-basis:auto;min-height:auto;align-items:flex-start;flex-shrink:0;justify-content:flex-start;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-2kq63l{display:flex;row-gap:30px;position:relative;min-width:auto;column-gap:30px;flex-basis:auto;min-height:auto;flex-shrink:0;margin-bottom:40px;flex-direction:column;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-2kq63l{row-gap:35px;position:relative;min-width:auto;column-gap:35px;flex-basis:auto;min-height:auto;flex-shrink:0;margin-bottom:50px;}}:not(#\20):not(#\20).r-pghyul{width:100%;display:flex;max-width:340px;min-width:0;align-self:flex-start;flex-basis:auto;max-height:340px;min-height:0;object-fit:cover;overflow-x:auto;overflow-y:hidden;align-items:center;flex-shrink:0;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-pghyul{max-width:100%;flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-pghyul{flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-znkire{height:100%;margin:0;display:block;padding:0;max-width:100%;min-width:100%;max-height:100%;min-height:100%;object-fit:cover;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-znkire{object-fit:cover;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-znkire{object-fit:cover;}}:not(#\20):not(#\20).r-1nsezqk{display:flex;row-gap:25px;position:relative;flex-grow:1;min-width:auto;align-self:stretch;column-gap:25px;flex-basis:auto;min-height:auto;align-items:flex-start;flex-shrink:1;flex-direction:column;justify-content:flex-start;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1nsezqk{row-gap:15px;position:relative;flex-grow:1;min-width:auto;column-gap:15px;flex-basis:auto;min-height:auto;flex-shrink:1;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1nsezqk{row-gap:15px;position:relative;min-width:auto;column-gap:15px;flex-basis:auto;min-height:auto;flex-shrink:1;}}:not(#\20):not(#\20).r-f8ft5y{color:#5A3B36;font-size:28px;flex-basis:auto;text-align:left;flex-shrink:0;font-weight:800;line-height:40px;overflow-wrap:break-word;letter-spacing:-0.6px;text-align-last:left;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-f8ft5y{font-size:22px;flex-basis:auto;flex-shrink:0;line-height:30px;text-align-last:left;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-f8ft5y{font-size:25px;flex-basis:auto;flex-shrink:0;line-height:35px;text-align-last:left;}}:not(#\20):not(#\20).r-15kv4eb{color:#5A3B36FF;font-size:18px;flex-basis:auto;text-align:left;flex-shrink:0;font-weight:400;line-height:30px;overflow-wrap:break-word;text-align-last:left;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-15kv4eb{font-size:16px;flex-basis:auto;text-align:left;flex-shrink:0;line-height:27px;text-align-last:left;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-15kv4eb{font-size:16px;flex-basis:auto;text-align:left;flex-shrink:0;line-height:27px;text-align-last:left;}}:not(#\20):not(#\20).r-xylegn{display:flex;row-gap:48px;position:relative;max-width:100%;min-width:auto;align-self:stretch;column-gap:48px;flex-basis:auto;min-height:auto;align-items:flex-start;flex-shrink:0;justify-content:flex-start;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-xylegn{display:flex;row-gap:30px;position:relative;min-width:auto;column-gap:30px;flex-basis:auto;min-height:auto;flex-shrink:0;margin-bottom:40px;flex-direction:column;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-xylegn{row-gap:35px;position:relative;min-width:auto;column-gap:35px;flex-basis:auto;min-height:auto;flex-shrink:0;margin-bottom:50px;}}:not(#\20):not(#\20).r-1093wj0{width:100%;display:flex;max-width:340px;min-width:0;align-self:flex-start;flex-basis:auto;max-height:340px;min-height:0;object-fit:cover;overflow-x:auto;overflow-y:hidden;align-items:center;flex-shrink:0;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1093wj0{max-width:100%;flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1093wj0{flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-gktn4b{height:100%;margin:0;display:block;padding:0;max-width:100%;min-width:100%;max-height:100%;min-height:100%;object-fit:cover;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-gktn4b{object-fit:cover;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-gktn4b{object-fit:cover;}}:not(#\20):not(#\20).r-eojylw{display:flex;row-gap:25px;position:relative;flex-grow:1;min-width:auto;align-self:stretch;column-gap:25px;flex-basis:auto;min-height:auto;align-items:flex-start;flex-shrink:1;flex-direction:column;justify-content:flex-start;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-eojylw{row-gap:15px;position:relative;flex-grow:1;min-width:auto;column-gap:15px;flex-basis:auto;min-height:auto;flex-shrink:1;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-eojylw{row-gap:15px;position:relative;min-width:auto;column-gap:15px;flex-basis:auto;min-height:auto;flex-shrink:1;}}:not(#\20):not(#\20).r-vedftw{color:#5A3B36;font-size:28px;flex-basis:auto;text-align:left;flex-shrink:0;font-weight:800;line-height:40px;overflow-wrap:break-word;letter-spacing:-0.6px;text-align-last:left;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-vedftw{font-size:22px;flex-basis:auto;flex-shrink:0;line-height:30px;text-align-last:left;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-vedftw{font-size:25px;flex-basis:auto;flex-shrink:0;line-height:35px;text-align-last:left;}}:not(#\20):not(#\20).r-1wljdr4{color:#5A3B36FF;font-size:18px;flex-basis:auto;text-align:left;flex-shrink:0;font-weight:400;line-height:30px;overflow-wrap:break-word;text-align-last:left;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1wljdr4{font-size:16px;flex-basis:auto;text-align:left;flex-shrink:0;line-height:27px;text-align-last:left;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1wljdr4{font-size:16px;flex-basis:auto;text-align:left;flex-shrink:0;line-height:27px;text-align-last:left;}}:not(#\20):not(#\20).r-rxfvvk{display:flex;row-gap:48px;position:relative;max-width:100%;min-width:auto;align-self:stretch;column-gap:48px;flex-basis:auto;min-height:auto;align-items:flex-start;flex-shrink:0;justify-content:flex-start;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-rxfvvk{display:flex;row-gap:30px;position:relative;min-width:auto;column-gap:30px;flex-basis:auto;min-height:auto;flex-shrink:0;margin-bottom:40px;flex-direction:column;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-rxfvvk{row-gap:35px;position:relative;min-width:auto;column-gap:35px;flex-basis:auto;min-height:auto;flex-shrink:0;margin-bottom:50px;}}:not(#\20):not(#\20).r-8pgb2i{width:100%;display:flex;max-width:340px;min-width:0;align-self:flex-start;flex-basis:auto;max-height:340px;min-height:0;object-fit:cover;overflow-x:auto;overflow-y:hidden;align-items:center;flex-shrink:0;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-8pgb2i{max-width:100%;flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-8pgb2i{flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-1dp1lfm{height:100%;margin:0;display:block;padding:0;max-width:100%;min-width:100%;max-height:100%;min-height:100%;object-fit:cover;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1dp1lfm{object-fit:cover;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1dp1lfm{object-fit:cover;}}:not(#\20):not(#\20).r-ph654r{display:flex;row-gap:25px;position:relative;flex-grow:1;min-width:auto;align-self:stretch;column-gap:25px;flex-basis:auto;min-height:auto;align-items:flex-start;flex-shrink:1;flex-direction:column;justify-content:flex-start;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-ph654r{display:flex;row-gap:15px;position:relative;flex-grow:1;min-width:auto;column-gap:15px;flex-basis:auto;min-height:auto;flex-shrink:1;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-ph654r{display:flex;row-gap:15px;position:relative;min-width:auto;column-gap:15px;flex-basis:auto;min-height:auto;flex-shrink:1;}}:not(#\20):not(#\20).r-1trgj59{color:#5A3B36;font-size:28px;flex-basis:auto;text-align:left;flex-shrink:0;font-weight:800;line-height:40px;overflow-wrap:break-word;letter-spacing:-0.6px;text-align-last:left;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1trgj59{font-size:22px;flex-basis:auto;flex-shrink:0;line-height:30px;text-align-last:left;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1trgj59{font-size:25px;flex-basis:auto;flex-shrink:0;line-height:35px;text-align-last:left;}}:not(#\20):not(#\20).r-1e2kwi0{color:#5A3B36FF;font-size:18px;flex-basis:auto;text-align:left;flex-shrink:0;font-weight:400;line-height:30px;overflow-wrap:break-word;text-align-last:left;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1e2kwi0{font-size:16px;flex-basis:auto;text-align:left;flex-shrink:0;line-height:27px;text-align-last:left;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1e2kwi0{font-size:16px;flex-basis:auto;text-align:left;flex-shrink:0;line-height:27px;text-align-last:left;}}:not(#\20):not(#\20).r-mp7di2{display:flex;row-gap:48px;position:relative;max-width:100%;min-width:auto;align-self:stretch;column-gap:48px;flex-basis:auto;min-height:auto;align-items:flex-start;flex-shrink:0;justify-content:flex-start;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-mp7di2{display:flex;row-gap:30px;position:relative;min-width:auto;column-gap:30px;flex-basis:auto;min-height:auto;flex-shrink:0;margin-bottom:40px;flex-direction:column;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-mp7di2{row-gap:35px;position:relative;min-width:auto;column-gap:35px;flex-basis:auto;min-height:auto;flex-shrink:0;margin-bottom:50px;}}:not(#\20):not(#\20).r-3xl4qq{width:100%;display:flex;max-width:340px;min-width:0;align-self:flex-start;flex-basis:auto;max-height:340px;min-height:0;object-fit:cover;overflow-x:auto;overflow-y:hidden;align-items:center;flex-shrink:0;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-3xl4qq{max-width:100%;flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-3xl4qq{flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-xjrqan{height:100%;margin:0;display:block;padding:0;max-width:100%;min-width:100%;max-height:100%;min-height:100%;object-fit:cover;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-xjrqan{object-fit:cover;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-xjrqan{object-fit:cover;}}:not(#\20):not(#\20).r-5zyfqq{display:flex;row-gap:25px;position:relative;flex-grow:1;min-width:auto;align-self:stretch;column-gap:25px;flex-basis:auto;min-height:auto;align-items:flex-start;flex-shrink:1;flex-direction:column;justify-content:flex-start;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-5zyfqq{display:flex;row-gap:15px;position:relative;flex-grow:1;min-width:auto;column-gap:15px;flex-basis:auto;min-height:auto;flex-shrink:1;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-5zyfqq{display:flex;row-gap:15px;position:relative;min-width:auto;column-gap:15px;flex-basis:auto;min-height:auto;flex-shrink:1;}}:not(#\20):not(#\20).r-ovzs2h{color:#5A3B36;font-size:28px;flex-basis:auto;text-align:left;flex-shrink:0;font-weight:800;line-height:40px;overflow-wrap:break-word;letter-spacing:-0.6px;text-align-last:left;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-ovzs2h{font-size:22px;flex-basis:auto;flex-shrink:0;line-height:30px;text-align-last:left;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-ovzs2h{font-size:25px;flex-basis:auto;flex-shrink:0;line-height:35px;text-align-last:left;}}:not(#\20):not(#\20).r-uorpbp{color:#5A3B36FF;font-size:18px;flex-basis:auto;text-align:left;flex-shrink:0;font-weight:400;line-height:30px;overflow-wrap:break-word;text-align-last:left;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-uorpbp{font-size:16px;flex-basis:auto;text-align:left;flex-shrink:0;line-height:27px;text-align-last:left;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-uorpbp{font-size:16px;flex-basis:auto;text-align:left;flex-shrink:0;line-height:27px;text-align-last:left;}}:not(#\20):not(#\20).r-gabf64{display:flex;position:relative;max-width:100%;min-width:auto;align-self:stretch;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:0;flex-direction:column;justify-content:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-gabf64{position:relative;min-width:auto;flex-basis:auto;min-height:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-gabf64{position:relative;min-width:auto;flex-basis:auto;min-height:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-n5bbc4{color:#5A3B36;font-size:28px;max-width:580px;flex-basis:auto;text-align:center;flex-shrink:0;font-weight:800;line-height:40px;margin-bottom:20px;overflow-wrap:break-word;letter-spacing:-0.6px;text-align-last:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-n5bbc4{font-size:22px;flex-basis:auto;flex-shrink:0;line-height:30px;text-align-last:center;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-n5bbc4{font-size:25px;flex-basis:auto;flex-shrink:0;line-height:35px;text-align-last:center;}}:not(#\20):not(#\20).r-1gryn78{color:#FFFFFFFF;width:100%;cursor:pointer;font-size:18px;max-width:380px;box-shadow:0px 7px 7px 0px #0000004A;flex-basis:auto;text-align:center;flex-shrink:0;font-weight:700;line-height:30px;padding-top:13px;padding-left:20px;padding-right:20px;letter-spacing:2px;padding-bottom:13px;text-transform:uppercase;text-align-last:center;background-color:#12D300FF;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1gryn78{cursor:pointer;font-size:14px;max-width:350px;align-self:center;flex-basis:auto;flex-shrink:0;line-height:20px;padding-top:10px;padding-bottom:10px;text-align-last:center;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1gryn78{cursor:pointer;font-size:16px;flex-basis:auto;flex-shrink:0;line-height:25px;text-align-last:center;}}:not(#\20):not(#\20):not(#\20).r-1l412ej{color:#FFFFFFFF;width:100%;cursor:pointer;opacity:75%;font-size:18px;max-width:380px;box-shadow:0px 7px 7px 0px #0000004A;flex-basis:auto;flex-shrink:0;font-weight:700;line-height:30px;padding-top:13px;padding-left:20px;padding-right:20px;letter-spacing:2px;padding-bottom:13px;text-transform:uppercase;background-color:#12D300FF;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20):not(#\20).r-1l412ej{cursor:pointer;font-size:14px;max-width:350px;align-self:center;flex-basis:auto;flex-shrink:0;line-height:20px;padding-top:10px;padding-bottom:10px;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20):not(#\20).r-1l412ej{cursor:pointer;font-size:16px;flex-basis:auto;flex-shrink:0;line-height:25px;}}:not(#\20):not(#\20).r-b1pouq{display:flex;position:relative;max-width:100%;min-width:auto;align-self:stretch;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:0;padding-top:32px;padding-left:10px;padding-right:10px;flex-direction:column;padding-bottom:32px;justify-content:center;background-color:#FFF6E7;border-top-color:#000000FF;border-top-style:dashed;border-top-width:4px;border-left-color:#000000FF;border-left-style:dashed;border-left-width:4px;border-right-color:#000000FF;border-right-style:dashed;border-right-width:4px;border-bottom-color:#000000FF;border-bottom-style:dashed;border-bottom-width:4px;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-b1pouq{position:relative;min-width:auto;flex-basis:auto;min-height:auto;flex-shrink:0;margin-bottom:40px;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-b1pouq{position:relative;min-width:auto;flex-basis:auto;min-height:auto;flex-shrink:0;margin-bottom:50px;}}:not(#\20):not(#\20).r-no0qks{color:#000000FF;font-size:40px;max-width:490px;flex-basis:auto;text-align:center;flex-shrink:0;font-weight:800;line-height:50px;margin-bottom:16px;overflow-wrap:break-word;letter-spacing:-0.6px;text-align-last:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-no0qks{font-size:24px;flex-basis:auto;flex-shrink:0;line-height:35px;text-align-last:center;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-no0qks{font-size:28px;flex-basis:auto;flex-shrink:0;line-height:35px;text-align-last:center;}}:not(#\20):not(#\20).r-4ptio2{display:flex;row-gap:4px;position:relative;max-width:100%;min-width:auto;align-self:stretch;column-gap:4px;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:0;justify-content:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-4ptio2{row-gap:4px;position:relative;min-width:auto;column-gap:4px;flex-basis:auto;min-height:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-4ptio2{row-gap:4px;position:relative;min-width:auto;column-gap:4px;flex-basis:auto;min-height:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-b2onuf{color:#000000FF;font-size:16px;flex-basis:auto;flex-shrink:0;font-weight:800;line-height:24px;overflow-wrap:break-word;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-b2onuf{flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-b2onuf{flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-1f87969{color:#000000FF;width:100px;display:flex;row-gap:2px;position:relative;max-width:100%;align-self:stretch;column-gap:2px;flex-basis:auto;align-items:center;flex-shrink:0;justify-content:flex-start;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1f87969{row-gap:2px;position:relative;column-gap:2px;flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1f87969{row-gap:2px;position:relative;column-gap:2px;flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-1sw4bra{font-size:16px;flex-basis:auto;flex-shrink:0;font-weight:700;line-height:24px;overflow-wrap:break-word;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1sw4bra{flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1sw4bra{flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-1nps61h{font-size:16px;flex-basis:auto;flex-shrink:0;line-height:24px;overflow-wrap:break-word;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1nps61h{flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1nps61h{flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-323is4{font-size:16px;flex-basis:auto;flex-shrink:0;font-weight:700;line-height:24px;overflow-wrap:break-word;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-323is4{flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-323is4{flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-uanmku{font-size:16px;flex-basis:auto;flex-shrink:0;line-height:24px;overflow-wrap:break-word;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-uanmku{flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-uanmku{flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-10mxnlj{font-size:16px;flex-basis:auto;flex-shrink:0;font-weight:700;line-height:24px;overflow-wrap:break-word;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-10mxnlj{flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-10mxnlj{flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-cseuim{color:#000000;font-size:18px;flex-basis:auto;text-align:center;flex-shrink:0;font-weight:400;line-height:30px;margin-bottom:16px;overflow-wrap:break-word;text-align-last:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-cseuim{font-size:16px;flex-basis:auto;text-align:center;flex-shrink:0;line-height:27px;text-align-last:center;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-cseuim{font-size:16px;flex-basis:auto;text-align:left;flex-shrink:0;line-height:27px;text-align-last:left;}}:not(#\20):not(#\20).r-rva8px{width:90%;height:0px;display:flex;flex-basis:auto;flex-shrink:0;margin-bottom:16px;flex-direction:column;border-top-color:rgb(204, 204, 204);border-top-style:solid;border-top-width:1px;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-rva8px{flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-rva8px{flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-1ynkoqk{display:flex;row-gap:20px;position:relative;max-width:100%;min-width:auto;align-self:stretch;column-gap:20px;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:0;justify-content:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1ynkoqk{display:flex;row-gap:20px;position:relative;min-width:auto;column-gap:20px;flex-basis:auto;min-height:auto;flex-shrink:0;flex-direction:column;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1ynkoqk{row-gap:20px;position:relative;min-width:auto;column-gap:20px;flex-basis:auto;min-height:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-1d2sh38{display:flex;flex-grow:1;max-width:350px;min-width:0;flex-basis:0;min-height:0;object-fit:cover;overflow-x:auto;overflow-y:hidden;align-items:center;flex-shrink:1;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1d2sh38{flex-grow:1;flex-basis:auto;flex-shrink:1;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1d2sh38{flex-basis:0;flex-shrink:1;}}:not(#\20):not(#\20).r-19re6h5{height:100%;margin:0;display:block;padding:0;max-width:100%;min-width:100%;max-height:100%;min-height:100%;object-fit:cover;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-19re6h5{object-fit:cover;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-19re6h5{object-fit:cover;}}:not(#\20):not(#\20).r-i25gom{display:flex;position:relative;flex-grow:1;max-width:100%;min-width:auto;align-self:stretch;flex-basis:0;min-height:auto;align-items:flex-start;flex-shrink:1;flex-direction:column;justify-content:center;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-i25gom{position:relative;flex-grow:1;min-width:auto;flex-basis:auto;min-height:auto;flex-shrink:1;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-i25gom{position:relative;min-width:auto;flex-basis:0;min-height:auto;flex-shrink:1;}}:not(#\20):not(#\20).r-mc5195{display:flex;row-gap:8px;position:relative;max-width:100%;min-width:auto;column-gap:8px;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:0;margin-bottom:10px;justify-content:flex-start;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-mc5195{row-gap:8px;position:relative;min-width:auto;column-gap:8px;flex-basis:auto;min-height:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-mc5195{row-gap:8px;position:relative;min-width:auto;column-gap:8px;flex-basis:auto;min-height:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-j4u6wm{--rsw:100%;color:#AA9000FF;width:22px;height:22px;flex-basis:auto;flex-shrink:0;line-height:100%;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-j4u6wm{--rsw:100%;width:18px;height:18px;flex-grow:unset;flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-j4u6wm{--rsw:100%;width:22px;height:22px;flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-1q5fucv{width:var(--rsw, 100%);height:100%;}:not(#\20):not(#\20).r-16g76w1{color:#010101;font-size:14px;flex-basis:auto;flex-shrink:0;font-weight:700;line-height:24px;overflow-wrap:break-word;letter-spacing:-0.6px;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-16g76w1{flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-16g76w1{flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-1sf4kpu{display:flex;row-gap:8px;position:relative;max-width:100%;min-width:auto;column-gap:8px;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:0;margin-bottom:10px;justify-content:flex-start;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1sf4kpu{row-gap:8px;position:relative;min-width:auto;column-gap:8px;flex-basis:auto;min-height:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1sf4kpu{row-gap:8px;position:relative;min-width:auto;column-gap:8px;flex-basis:auto;min-height:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-cyxq0x{--rsw:100%;color:#AA9000FF;width:22px;height:22px;flex-basis:auto;flex-shrink:0;line-height:100%;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-cyxq0x{--rsw:100%;width:18px;height:18px;flex-grow:unset;flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-cyxq0x{--rsw:100%;width:22px;height:22px;flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-1vciqws{width:var(--rsw, 100%);height:100%;}:not(#\20):not(#\20).r-45zmqx{color:#010101;font-size:14px;flex-basis:auto;flex-shrink:0;font-weight:700;line-height:24px;overflow-wrap:break-word;letter-spacing:-0.6px;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-45zmqx{flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-45zmqx{flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-1e8rkov{display:flex;row-gap:8px;position:relative;max-width:100%;min-width:auto;column-gap:8px;flex-basis:auto;min-height:auto;align-items:center;flex-shrink:0;margin-bottom:20px;justify-content:flex-start;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1e8rkov{row-gap:8px;position:relative;min-width:auto;column-gap:8px;flex-basis:auto;min-height:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1e8rkov{row-gap:8px;position:relative;min-width:auto;column-gap:8px;flex-basis:auto;min-height:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-13tmr4j{--rsw:100%;color:#AA9000FF;width:22px;height:22px;flex-basis:auto;flex-shrink:0;line-height:100%;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-13tmr4j{--rsw:100%;width:18px;height:18px;flex-grow:unset;flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-13tmr4j{--rsw:100%;width:22px;height:22px;flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-1sw72lt{width:var(--rsw, 100%);height:100%;}:not(#\20):not(#\20).r-br72dp{color:#010101;font-size:14px;flex-basis:auto;flex-shrink:0;font-weight:700;line-height:24px;overflow-wrap:break-word;letter-spacing:-0.6px;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-br72dp{flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-br72dp{flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-1f9jczd{color:#FFFFFFFF;cursor:pointer;overflow:hidden;font-size:20px;align-self:stretch;flex-basis:auto;text-align:center;flex-shrink:0;font-weight:700;line-height:20px;padding-top:16px;padding-left:32px;padding-right:32px;letter-spacing:-0.6px;padding-bottom:16px;text-align-last:center;background-color:#00BD3F;border-top-left-radius:50px;border-top-right-radius:50px;border-bottom-left-radius:50px;border-bottom-right-radius:50px;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-1f9jczd{cursor:pointer;overflow:hidden;font-size:16px;flex-basis:auto;flex-shrink:0;line-height:20px;text-align-last:center;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-1f9jczd{cursor:pointer;overflow:hidden;font-size:16px;flex-basis:auto;flex-shrink:0;line-height:20px;text-align-last:center;}}:not(#\20):not(#\20).r-pdu6ob{width:100%;display:flex;row-gap:8px;position:relative;max-width:300px;min-width:auto;align-self:center;column-gap:8px;flex-basis:auto;margin-top:20px;min-height:auto;align-items:center;flex-shrink:0;justify-content:space-between;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-pdu6ob{row-gap:8px;position:relative;min-width:auto;column-gap:8px;flex-basis:auto;min-height:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-pdu6ob{row-gap:8px;position:relative;min-width:auto;column-gap:8px;flex-basis:auto;min-height:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-xrml3q{color:#010101;font-size:14px;flex-basis:auto;flex-shrink:0;font-weight:700;line-height:24px;overflow-wrap:break-word;letter-spacing:-0.6px;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-xrml3q{flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-xrml3q{flex-basis:auto;flex-shrink:0;}}:not(#\20):not(#\20).r-4bq9y9{color:#252525;font-size:14px;flex-basis:auto;flex-shrink:0;font-weight:400;line-height:24px;overflow-wrap:break-word;letter-spacing:-0.6px;}@media (max-width: 640px) {:not(#\20):not(#\20):not(#\20).r-4bq9y9{flex-basis:auto;flex-shrink:0;}}@media (min-width: 641px) and (max-width: 820px) {:not(#\20):not(#\20):not(#\20).r-4bq9y9{flex-basis:auto;flex-shrink:0;}}</style>
<div data-alchemy-element-mount-node="true"><script data-em-disable="true" async="" src="https://replocdn.com/w/1691b57c-6274-4522-8654-aa7d8f0d11a7/4a6aaef6-50ee-446e-8b80-366ba742f602.min.js?v=3e1462ea-939b-11ee-b11f-06e162481e1c" id="https://replocdn.com/w/1691b57c-6274-4522-8654-aa7d8f0d11a7/4a6aaef6-50ee-446e-8b80-366ba742f602.min.js?v=3e1462ea-939b-11ee-b11f-06e162481e1c"></script><style id="snippet-styles" type="text/css">.alchemy-reset {
  /* HTML5 display-role reset for older browsers */
}
.alchemy-reset :host {
  all: initial;
}
.alchemy-reset * {
  box-sizing: border-box;
}
.alchemy-reset html[data-rid],
.alchemy-reset body[data-rid],
.alchemy-reset div[data-rid],
.alchemy-reset span[data-rid],
.alchemy-reset applet[data-rid],
.alchemy-reset object[data-rid],
.alchemy-reset iframe[data-rid],
.alchemy-reset h1[data-rid],
.alchemy-reset h2[data-rid],
.alchemy-reset h3[data-rid],
.alchemy-reset h4[data-rid],
.alchemy-reset h5[data-rid],
.alchemy-reset h6[data-rid],
.alchemy-reset p[data-rid],
.alchemy-reset blockquote[data-rid],
.alchemy-reset pre[data-rid],
.alchemy-reset a[data-rid],
.alchemy-reset a:visited[data-rid],
.alchemy-reset abbr[data-rid],
.alchemy-reset acronym[data-rid],
.alchemy-reset address[data-rid],
.alchemy-reset big[data-rid],
.alchemy-reset cite[data-rid],
.alchemy-reset code[data-rid],
.alchemy-reset del[data-rid],
.alchemy-reset dfn[data-rid],
.alchemy-reset em[data-rid],
.alchemy-reset img[data-rid],
.alchemy-reset picture[data-rid],
.alchemy-reset ins[data-rid],
.alchemy-reset kbd[data-rid],
.alchemy-reset q[data-rid],
.alchemy-reset s[data-rid],
.alchemy-reset samp[data-rid],
.alchemy-reset small[data-rid],
.alchemy-reset strike[data-rid],
.alchemy-reset strong[data-rid],
.alchemy-reset sub[data-rid],
.alchemy-reset sup[data-rid],
.alchemy-reset tt[data-rid],
.alchemy-reset var[data-rid],
.alchemy-reset b[data-rid],
.alchemy-reset u[data-rid],
.alchemy-reset i[data-rid],
.alchemy-reset center[data-rid],
.alchemy-reset dl[data-rid],
.alchemy-reset dt[data-rid],
.alchemy-reset dd[data-rid],
.alchemy-reset ol[data-rid],
.alchemy-reset ul[data-rid],
.alchemy-reset li[data-rid],
.alchemy-reset fieldset[data-rid],
.alchemy-reset form[data-rid],
.alchemy-reset label[data-rid],
.alchemy-reset legend[data-rid],
.alchemy-reset table[data-rid],
.alchemy-reset caption[data-rid],
.alchemy-reset tbody[data-rid],
.alchemy-reset tfoot[data-rid],
.alchemy-reset thead[data-rid],
.alchemy-reset tr[data-rid],
.alchemy-reset th[data-rid],
.alchemy-reset td[data-rid],
.alchemy-reset article[data-rid],
.alchemy-reset aside[data-rid],
.alchemy-reset canvas[data-rid],
.alchemy-reset details[data-rid],
.alchemy-reset embed[data-rid],
.alchemy-reset figure[data-rid],
.alchemy-reset figcaption[data-rid],
.alchemy-reset footer[data-rid],
.alchemy-reset header[data-rid],
.alchemy-reset hgroup[data-rid],
.alchemy-reset menu[data-rid],
.alchemy-reset nav[data-rid],
.alchemy-reset output[data-rid],
.alchemy-reset ruby[data-rid],
.alchemy-reset section[data-rid],
.alchemy-reset summary[data-rid],
.alchemy-reset time[data-rid],
.alchemy-reset mark[data-rid],
.alchemy-reset audio[data-rid],
.alchemy-reset video[data-rid],
.alchemy-reset button[data-rid],
.alchemy-reset select[data-rid],
.alchemy-reset [data-rid] > p {
  letter-spacing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.alchemy-reset html[data-rid]::-webkit-scrollbar,
.alchemy-reset body[data-rid]::-webkit-scrollbar,
.alchemy-reset div[data-rid]::-webkit-scrollbar,
.alchemy-reset span[data-rid]::-webkit-scrollbar,
.alchemy-reset applet[data-rid]::-webkit-scrollbar,
.alchemy-reset object[data-rid]::-webkit-scrollbar,
.alchemy-reset iframe[data-rid]::-webkit-scrollbar,
.alchemy-reset h1[data-rid]::-webkit-scrollbar,
.alchemy-reset h2[data-rid]::-webkit-scrollbar,
.alchemy-reset h3[data-rid]::-webkit-scrollbar,
.alchemy-reset h4[data-rid]::-webkit-scrollbar,
.alchemy-reset h5[data-rid]::-webkit-scrollbar,
.alchemy-reset h6[data-rid]::-webkit-scrollbar,
.alchemy-reset p[data-rid]::-webkit-scrollbar,
.alchemy-reset blockquote[data-rid]::-webkit-scrollbar,
.alchemy-reset pre[data-rid]::-webkit-scrollbar,
.alchemy-reset a[data-rid]::-webkit-scrollbar,
.alchemy-reset a:visited[data-rid]::-webkit-scrollbar,
.alchemy-reset abbr[data-rid]::-webkit-scrollbar,
.alchemy-reset acronym[data-rid]::-webkit-scrollbar,
.alchemy-reset address[data-rid]::-webkit-scrollbar,
.alchemy-reset big[data-rid]::-webkit-scrollbar,
.alchemy-reset cite[data-rid]::-webkit-scrollbar,
.alchemy-reset code[data-rid]::-webkit-scrollbar,
.alchemy-reset del[data-rid]::-webkit-scrollbar,
.alchemy-reset dfn[data-rid]::-webkit-scrollbar,
.alchemy-reset em[data-rid]::-webkit-scrollbar,
.alchemy-reset img[data-rid]::-webkit-scrollbar,
.alchemy-reset picture[data-rid]::-webkit-scrollbar,
.alchemy-reset ins[data-rid]::-webkit-scrollbar,
.alchemy-reset kbd[data-rid]::-webkit-scrollbar,
.alchemy-reset q[data-rid]::-webkit-scrollbar,
.alchemy-reset s[data-rid]::-webkit-scrollbar,
.alchemy-reset samp[data-rid]::-webkit-scrollbar,
.alchemy-reset small[data-rid]::-webkit-scrollbar,
.alchemy-reset strike[data-rid]::-webkit-scrollbar,
.alchemy-reset strong[data-rid]::-webkit-scrollbar,
.alchemy-reset sub[data-rid]::-webkit-scrollbar,
.alchemy-reset sup[data-rid]::-webkit-scrollbar,
.alchemy-reset tt[data-rid]::-webkit-scrollbar,
.alchemy-reset var[data-rid]::-webkit-scrollbar,
.alchemy-reset b[data-rid]::-webkit-scrollbar,
.alchemy-reset u[data-rid]::-webkit-scrollbar,
.alchemy-reset i[data-rid]::-webkit-scrollbar,
.alchemy-reset center[data-rid]::-webkit-scrollbar,
.alchemy-reset dl[data-rid]::-webkit-scrollbar,
.alchemy-reset dt[data-rid]::-webkit-scrollbar,
.alchemy-reset dd[data-rid]::-webkit-scrollbar,
.alchemy-reset ol[data-rid]::-webkit-scrollbar,
.alchemy-reset ul[data-rid]::-webkit-scrollbar,
.alchemy-reset li[data-rid]::-webkit-scrollbar,
.alchemy-reset fieldset[data-rid]::-webkit-scrollbar,
.alchemy-reset form[data-rid]::-webkit-scrollbar,
.alchemy-reset label[data-rid]::-webkit-scrollbar,
.alchemy-reset legend[data-rid]::-webkit-scrollbar,
.alchemy-reset table[data-rid]::-webkit-scrollbar,
.alchemy-reset caption[data-rid]::-webkit-scrollbar,
.alchemy-reset tbody[data-rid]::-webkit-scrollbar,
.alchemy-reset tfoot[data-rid]::-webkit-scrollbar,
.alchemy-reset thead[data-rid]::-webkit-scrollbar,
.alchemy-reset tr[data-rid]::-webkit-scrollbar,
.alchemy-reset th[data-rid]::-webkit-scrollbar,
.alchemy-reset td[data-rid]::-webkit-scrollbar,
.alchemy-reset article[data-rid]::-webkit-scrollbar,
.alchemy-reset aside[data-rid]::-webkit-scrollbar,
.alchemy-reset canvas[data-rid]::-webkit-scrollbar,
.alchemy-reset details[data-rid]::-webkit-scrollbar,
.alchemy-reset embed[data-rid]::-webkit-scrollbar,
.alchemy-reset figure[data-rid]::-webkit-scrollbar,
.alchemy-reset figcaption[data-rid]::-webkit-scrollbar,
.alchemy-reset footer[data-rid]::-webkit-scrollbar,
.alchemy-reset header[data-rid]::-webkit-scrollbar,
.alchemy-reset hgroup[data-rid]::-webkit-scrollbar,
.alchemy-reset menu[data-rid]::-webkit-scrollbar,
.alchemy-reset nav[data-rid]::-webkit-scrollbar,
.alchemy-reset output[data-rid]::-webkit-scrollbar,
.alchemy-reset ruby[data-rid]::-webkit-scrollbar,
.alchemy-reset section[data-rid]::-webkit-scrollbar,
.alchemy-reset summary[data-rid]::-webkit-scrollbar,
.alchemy-reset time[data-rid]::-webkit-scrollbar,
.alchemy-reset mark[data-rid]::-webkit-scrollbar,
.alchemy-reset audio[data-rid]::-webkit-scrollbar,
.alchemy-reset video[data-rid]::-webkit-scrollbar,
.alchemy-reset button[data-rid]::-webkit-scrollbar,
.alchemy-reset select[data-rid]::-webkit-scrollbar,
.alchemy-reset [data-rid] > p::-webkit-scrollbar {
  display: none;
}
.alchemy-reset button[data-rid] {
  align-items: normal;
}
.alchemy-reset button[data-replo-tabs-trigger] {
  color: inherit;
}
.alchemy-reset html[data-rid],
.alchemy-reset body[data-rid],
.alchemy-reset div[data-rid],
.alchemy-reset span[data-rid],
.alchemy-reset applet[data-rid],
.alchemy-reset object[data-rid],
.alchemy-reset iframe[data-rid],
.alchemy-reset h1[data-rid],
.alchemy-reset h2[data-rid],
.alchemy-reset h3[data-rid],
.alchemy-reset h4[data-rid],
.alchemy-reset h5[data-rid],
.alchemy-reset h6[data-rid],
.alchemy-reset p[data-rid],
.alchemy-reset blockquote[data-rid],
.alchemy-reset pre[data-rid],
.alchemy-reset a[data-rid],
.alchemy-reset abbr[data-rid],
.alchemy-reset acronym[data-rid],
.alchemy-reset address[data-rid],
.alchemy-reset big[data-rid],
.alchemy-reset cite[data-rid],
.alchemy-reset code[data-rid],
.alchemy-reset dfn[data-rid],
.alchemy-reset img[data-rid],
.alchemy-reset picture[data-rid],
.alchemy-reset ins[data-rid],
.alchemy-reset kbd[data-rid],
.alchemy-reset q[data-rid],
.alchemy-reset samp[data-rid],
.alchemy-reset small[data-rid],
.alchemy-reset strike[data-rid],
.alchemy-reset sub[data-rid],
.alchemy-reset sup[data-rid],
.alchemy-reset tt[data-rid],
.alchemy-reset var[data-rid],
.alchemy-reset center[data-rid],
.alchemy-reset dl[data-rid],
.alchemy-reset dt[data-rid],
.alchemy-reset dd[data-rid],
.alchemy-reset ol[data-rid],
.alchemy-reset ul[data-rid],
.alchemy-reset li[data-rid],
.alchemy-reset fieldset[data-rid],
.alchemy-reset form[data-rid],
.alchemy-reset label[data-rid],
.alchemy-reset legend[data-rid],
.alchemy-reset table[data-rid],
.alchemy-reset caption[data-rid],
.alchemy-reset tbody[data-rid],
.alchemy-reset tfoot[data-rid],
.alchemy-reset thead[data-rid],
.alchemy-reset tr[data-rid],
.alchemy-reset th[data-rid],
.alchemy-reset td[data-rid],
.alchemy-reset article[data-rid],
.alchemy-reset aside[data-rid],
.alchemy-reset canvas[data-rid],
.alchemy-reset details[data-rid],
.alchemy-reset embed[data-rid],
.alchemy-reset figure[data-rid],
.alchemy-reset figcaption[data-rid],
.alchemy-reset footer[data-rid],
.alchemy-reset header[data-rid],
.alchemy-reset hgroup[data-rid],
.alchemy-reset menu[data-rid],
.alchemy-reset nav[data-rid],
.alchemy-reset output[data-rid],
.alchemy-reset ruby[data-rid],
.alchemy-reset section[data-rid],
.alchemy-reset summary[data-rid],
.alchemy-reset time[data-rid],
.alchemy-reset mark[data-rid],
.alchemy-reset audio[data-rid],
.alchemy-reset video[data-rid],
.alchemy-reset button[data-rid],
.alchemy-reset select[data-rid],
.alchemy-reset [data-rid] > p {
  font-style: inherit;
  text-decoration: inherit;
  color: inherit;
  background-color: transparent;
}
.alchemy-reset .alchemy-rte a,
.alchemy-reset .alchemy-rte p,
.alchemy-reset .alchemy-rte s,
.alchemy-reset .alchemy-rte u,
.alchemy-reset .alchemy-rte b,
.alchemy-reset .alchemy-rte i,
.alchemy-reset .alchemy-rte h1,
.alchemy-reset .alchemy-rte h2,
.alchemy-reset .alchemy-rte h3,
.alchemy-reset .alchemy-rte mark {
  font-style: inherit;
  font-family: inherit;
  text-decoration: inherit;
  text-align: inherit;
  text-transform: inherit;
  color: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  vertical-align: baseline;
  font-size: 100%;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.alchemy-reset .alchemy-rte a::-webkit-scrollbar,
.alchemy-reset .alchemy-rte p::-webkit-scrollbar,
.alchemy-reset .alchemy-rte s::-webkit-scrollbar,
.alchemy-reset .alchemy-rte u::-webkit-scrollbar,
.alchemy-reset .alchemy-rte b::-webkit-scrollbar,
.alchemy-reset .alchemy-rte i::-webkit-scrollbar,
.alchemy-reset .alchemy-rte h1::-webkit-scrollbar,
.alchemy-reset .alchemy-rte h2::-webkit-scrollbar,
.alchemy-reset .alchemy-rte h3::-webkit-scrollbar,
.alchemy-reset .alchemy-rte mark::-webkit-scrollbar {
  display: none;
}
.alchemy-reset .alchemy-rte b,
.alchemy-reset .alchemy-rte strong,
.alchemy-reset .alchemy-rte u,
.alchemy-reset .alchemy-rte i,
.alchemy-reset .alchemy-rte em,
.alchemy-reset .alchemy-rte s,
.alchemy-reset .alchemy-rte del,
.alchemy-reset .alchemy-rte li,
.alchemy-reset .alchemy-rte span {
  font-family: inherit;
}
.alchemy-reset .alchemy-rte u {
  text-decoration: underline;
}
.alchemy-reset .alchemy-rte s,
.alchemy-reset .alchemy-rte del {
  text-decoration: line-through;
}
.alchemy-reset .alchemy-rte i {
  font-style: italic;
}
.alchemy-reset .alchemy-rte b {
  font-weight: bold;
}
.alchemy-reset .alchemy-rte ul,
.alchemy-reset .alchemy-rte li {
  list-style: inherit;
  padding-left: 1.7em;
}
.alchemy-reset .alchemy-rte code {
  background-color: rgba(97, 97, 97, 0.1);
  color: #616161;
}
.alchemy-reset .alchemy-rte pre {
  background: #0d0d0d;
  color: #fff;
  font-family: "JetBrainsMono", monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}
.alchemy-reset .alchemy-rte pre code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}
.alchemy-reset .alchemy-rte img {
  max-width: 100%;
  height: auto;
}
.alchemy-reset .alchemy-rte blockquote {
  padding-left: 1rem;
  border-left: 2px solid rgba(13, 13, 13, 0.1);
}
.alchemy-reset .alchemy-rte hr {
  border: none;
  border-top: 2px solid rgba(13, 13, 13, 0.1);
  margin: 2rem 0;
}
.alchemy-reset article[data-rid],
.alchemy-reset aside[data-rid],
.alchemy-reset details[data-rid],
.alchemy-reset figcaption[data-rid],
.alchemy-reset figure[data-rid],
.alchemy-reset footer[data-rid],
.alchemy-reset header[data-rid],
.alchemy-reset hgroup[data-rid],
.alchemy-reset menu[data-rid],
.alchemy-reset nav[data-rid],
.alchemy-reset section[data-rid] {
  display: block;
}
.alchemy-reset body {
  line-height: 1;
}
.alchemy-reset blockquote,
.alchemy-reset q {
  quotes: none;
  margin: 0;
  padding: 0;
  border: 0;
}
.alchemy-reset blockquote:before,
.alchemy-reset blockquote:after,
.alchemy-reset q:before,
.alchemy-reset q:after {
  content: "";
  content: none;
}
.alchemy-reset table {
  border-collapse: collapse;
  border-spacing: 0;
}
.alchemy-reset button > picture,
.alchemy-reset button > img,
.alchemy-reset a > picture,
.alchemy-reset a > img {
  display: flex;
}

#replo-fullpage-element {
  max-width: 100vw;
  flex-grow: 1;
  align-self: stretch;
}

.outline--blue {
  outline: 2px solid #2563eb;
}

.strike::after {
  content: "";
  border-bottom: 3px solid black;
  position: absolute;
  left: 0;
  top: calc(50% - 3px);
  width: 100%;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transform: translateY(0px);
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  transform: translateY(100px);
}

.replo-modal-after-open {
  overflow-y: hidden !important;
}

.carouselV3--slide-reset {
  max-width: none !important;
}

.carouselV3-no-transition {
  transition: none;
}

.carouselV3-fade-transition {
  transition: opacity 1000ms;
}

.carouselV3-hidden-slide {
  transition: opacity 1000ms;
  opacity: 0;
}

.carouselV3-visible-slide {
  transition: opacity 1000ms;
  opacity: 1;
}

.splide li {
  padding: 0 !important;
  margin: 0;
}
.splide li::before {
  display: none !important;
}
.splide .splide__list {
  overflow: visible !important;
}

@keyframes replo-marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(var(--replo-marquee-width, 100%) * -1 / var(--replo-marquee-repetitions, 20)));
  }
}
@keyframes alchemy-marquee-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(var(--replo-marquee-width, 100%) * -1 / var(--replo-marquee-repetitions, 20)));
  }
}
@keyframes alchemy-marquee-right {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(calc(-50% + var(--replo-marquee-width, 100%) / var(--replo-marquee-repetitions, 20)));
  }
}
@keyframes alchemy-fade {
  from {
    opacity: var(--initial-opacity);
  }
  to {
    opacity: var(--final-opacity);
  }
}
@keyframes alchemy-slide-y {
  from {
    opacity: var(--initial-opacity);
    transform: translateY(var(--offset));
  }
  to {
    opacity: var(--final-opacity);
    transform: translateY(0);
  }
}
@keyframes alchemy-slide-x {
  from {
    opacity: var(--initial-opacity);
    transform: translateX(var(--offset));
  }
  to {
    opacity: var(--final-opacity);
    transform: translateX(0);
  }
}
@keyframes alchemy-flip-y {
  from {
    opacity: var(--initial-opacity);
    transform: rotateY(var(--angle));
  }
  to {
    opacity: var(--final-opacity);
    transform: rotateY(0);
  }
}
@keyframes alchemy-flip-x {
  from {
    opacity: var(--initial-opacity);
    transform: rotateX(var(--angle));
  }
  to {
    opacity: var(--final-opacity);
    transform: rotateX(0);
  }
}
@keyframes alchemy-grow {
  from {
    opacity: var(--initial-opacity);
    transform: scale(var(--initial-scale));
  }
  to {
    opacity: var(--final-opacity);
    transform: scale(var(--final-scale));
  }
}
@keyframes alchemy-spin {
  from {
    opacity: var(--initial-opacity);
    transform: rotate(var(--initial-angle));
  }
  to {
    opacity: var(--final-opacity);
    transform: rotate(var(--final-angle));
  }
}
@keyframes alchemy-fly-y {
  from {
    opacity: var(--initial-opacity);
    transform: translateY(var(--offset)) scale(0);
  }
  to {
    opacity: var(--final-opacity);
    transform: translateY(0) scale(1);
  }
}
@keyframes alchemy-fly-x {
  from {
    opacity: var(--initial-opacity);
    transform: translateX(var(--offset)) scale(0);
  }
  to {
    opacity: var(--final-opacity);
    transform: translateX(0) scale(1);
  }
}
@keyframes alchemy-drop {
  from {
    opacity: var(--initial-opacity);
    transform: translateY(var(--offset));
  }
  to {
    opacity: var(--final-opacity);
    transform: translateY(0);
  }
}
@keyframes replo-spin {
  to {
    transform: rotate(360deg);
  }
}
.replo-animate-spinner {
  animation: replo-spin 1s linear infinite;
}

[data-replo-collapsible] .replo-animated {
  overflow: hidden;
}

[data-replo-collapsible] .replo-animated[data-state=open] {
  animation: slideDown 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

[data-replo-collapsible] .replo-animated[data-state=closed] {
  animation: slideUp 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-collapsible-content-height);
  }
}
@keyframes slideUp {
  from {
    height: var(--radix-collapsible-content-height);
  }
  to {
    height: 0;
  }
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

[data-replo-component-root=carousel]:where([data-replo-part-id=slide-track]) {
  scrollbar-width: none;
}
[data-replo-component-root=carousel]:where([data-replo-part-id=slide-track])::-webkit-scrollbar {
  display: none;
}</style><style id="alchemy-runtime-css">
    html,
    body {
      zoom: unset !important;
    }

    body {
      overflow-y: visible !important;
    }
      main, #main {
        margin: 0 !important;
        padding: 0 !important;
        max-width: none !important;
        max-height: none !important;
      }
     </style><style>
  header, #shopify-section-header, #shopify-section-header-classic, .main_nav, .main-nav, .navbar, #mobile-header-sticky-wrapper, .nav, .header-wrapper, [data-site-header], #shopify-section-static-header, #header, .main-header, #site-header, .shopify-section-group-header-group { display: none !important }
  .main-content { padding-top: 0 !important; margin-top: 0 !important }
</style><style>
  footer:not(cart-drawer footer), #shopify-section-footer, #shopify-section-banner-image, .footer-section, #shopify-section-new-footer, #shopify-section-layout-footer, [id^="shopify-section-footer"], #footer, .main-footer, .shopify-section-group-footer-group { display: none !important; }
  .main-content { padding-bottom: 0 !important; margin-bottom: 0 !important; }
</style><div class="alchemy__element alchemy-reset"><div data-rid="f4500a04-d6a0-4ce6-b5ed-0dffb2ef0ca8" data-replo-repeated-index=".0" class="r-1tclpbs"><div data-rid="a9e5b5d7-eaf7-42e2-9a98-23f0c394d81b" data-replo-repeated-index=".0.0" class="r-1h3k1m"><div data-rid="7b26c316-230e-48d1-b74e-59001a5a544c" data-replo-repeated-index=".0.0.0" class="r-1nc4ywc"><picture data-rid="ae500685-cc08-404e-a69f-4cf9a9949f96" data-replo-repeated-index=".0.0.0.0" class="r-qjawix"><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/tccwearlogokopie.png?v=1688636957&amp;width=820" media="(max-width: 640px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/tccwearlogokopie.png?v=1688636957&amp;width=1024" media="(min-width: 641px) and (max-width: 820px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/tccwearlogokopie.png?v=1688636957&amp;width=1800" media="(min-width: 821px) and (max-width: 1024px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/tccwearlogokopie.png?v=1688636957&amp;width=2048" media="(min-width: 1025px)"/><img src="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/tccwearlogokopie.png?v=1688636957" class="r-1gyagda" loading="eager"/></picture><div data-rid="9f1ac8db-4f67-428e-9cbd-ae166aca4bb5" data-replo-repeated-index=".0.0.0.0" class="r-ra6i2b alchemy-rte"><span contenteditable="false" style="width:100%"><p>9 Reasons Why People Love This Case</p></span></div><div data-rid="ec0623d9-b24e-4c88-afb5-f272d5b3f480" data-replo-repeated-index=".0.0.0.0" class="r-oo37o alchemy-rte"><span contenteditable="false" style="width:100%"><p>Heres why fashion influencers, celebrities and people who love the finer things in life are sticking with this affordable luxury leather accessory brand over others...</p><p></p></span></div><div data-rid="d3faf24d-ad4b-4ccc-bebd-b7aa9452ef89" data-replo-repeated-index=".0.0.0.0" class="r-1i0mhc6 alchemy-rte"><span contenteditable="false" style="width:100%"><p>06/25/23 | Samatha Reeves</p></span></div><div data-rid="05035475-e5ff-49b1-8961-8a5fece8742a" data-replo-repeated-index=".0.0.0.0" class="r-sv2keb"><div data-rid="fd0e49ff-8e72-4a6e-9d6a-5757f21962e2" data-replo-repeated-index=".0.0.0.0.0" class="r-1fyuqn6"><picture data-rid="8d7a8b16-d1ca-416f-a0dd-181b13b30840" data-replo-repeated-index=".0.0.0.0.0.0" class="r-i72687"><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/IMG_8135-min.jpg?v=1688645252&amp;width=820" media="(max-width: 640px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/IMG_8135-min.jpg?v=1688645252&amp;width=1024" media="(min-width: 641px) and (max-width: 820px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/IMG_8135-min.jpg?v=1688645252&amp;width=1800" media="(min-width: 821px) and (max-width: 1024px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/IMG_8135-min.jpg?v=1688645252&amp;width=2048" media="(min-width: 1025px)"/><img src="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/IMG_8135-min.jpg?v=1688645252" class="r-e8rz4i" loading="eager"/></picture><div data-rid="061db68d-56a7-40b4-86f8-933a80c9af6f" data-replo-repeated-index=".0.0.0.0.0.0" class="r-1q0gx2"><div data-rid="4592b849-101d-4ed0-9478-f8f32645385d" data-replo-repeated-index=".0.0.0.0.0.0.0" class="r-1s0xyqs alchemy-rte"><span contenteditable="false" style="width:100%"><p>1. Its NOT Just A Phone Case Its A Lifestyle</p><p></p></span></div><div data-rid="80b0db3e-bdfb-4e9f-bbf3-17b4b8655cf8" data-replo-repeated-index=".0.0.0.0.0.0.0" class="r-14nutza alchemy-rte"><span contenteditable="false" style="width:100%"><p>This isnt just another <a target="_blank" rel="noopener nofollow noreferrer" href="https://thecaseclubla.com/collections/phone-cases"><u>phone case</u></a>. The Case Club represents a lifestyle of refinement, made for people who enjoy the finer things in life. They believe your monogram holds power and include free personalisation with every order, so you can put your personal power statement on your most personal products.</p></span></div><div data-rid="534af6e1-ceef-4c1a-a1c7-7d800b7d157a" data-replo-repeated-index=".0.0.0.0.0.0.0" class="r-lqvwzu alchemy-rte"><span contenteditable="false" style="width:100%"><p>What other phone case brand sparks that feeling of elegance inside you?</p><p></p></span></div></div></div><div data-rid="d0ad93d1-2599-478c-876c-edb410eb3b6e" data-replo-repeated-index=".0.0.0.0.0" class="r-1i4dtk7"><picture data-rid="d551d2e0-160a-4a55-8803-b7823437e8b0" data-replo-repeated-index=".0.0.0.0.0.0" class="r-mev4lx"><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/IMG_8131-min.jpg?v=1688645279&amp;width=820" media="(max-width: 640px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/IMG_8131-min.jpg?v=1688645279&amp;width=1024" media="(min-width: 641px) and (max-width: 820px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/IMG_8131-min.jpg?v=1688645279&amp;width=1800" media="(min-width: 821px) and (max-width: 1024px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/IMG_8131-min.jpg?v=1688645279&amp;width=2048" media="(min-width: 1025px)"/><img src="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/IMG_8131-min.jpg?v=1688645279" class="r-xhxefv" loading="eager"/></picture><div data-rid="a5ec0a53-b6a4-45ba-a677-62f9f510caba" data-replo-repeated-index=".0.0.0.0.0.0" class="r-1e174kz"><div data-rid="3fb6c1bc-92bd-429a-82ab-b0c9087fa19a" data-replo-repeated-index=".0.0.0.0.0.0.0" class="r-1f4g8nk alchemy-rte"><span contenteditable="false" style="width:100%"><p>2. Its Handmade In Europe And Made From The Highest Quality Materials</p><p></p></span></div><div data-rid="ffcc8c59-32a9-4083-a0ca-fcbdf82dcc48" data-replo-repeated-index=".0.0.0.0.0.0.0" class="r-z2it5w alchemy-rte"><span contenteditable="false" style="width:100%"><p>The Case Club produces and personalises all of their products in Amsterdam, The Netherlands. A team of craftsmen with over 30 years of experience in their field (!) are working passionately to provide a quality, luxury item for an affordable price.</p><p></p></span></div></div></div><div data-rid="d646d642-a8e6-41d2-b68d-a76bc858dc0a" data-replo-repeated-index=".0.0.0.0.0" class="r-1e99dcg"><picture data-rid="61f0de00-6fb5-43b5-a276-5052200922bb" data-replo-repeated-index=".0.0.0.0.0.0" class="r-1bkyuy5"><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/IMG_8128-min.jpg?v=1688645302&amp;width=820" media="(max-width: 640px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/IMG_8128-min.jpg?v=1688645302&amp;width=1024" media="(min-width: 641px) and (max-width: 820px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/IMG_8128-min.jpg?v=1688645302&amp;width=1800" media="(min-width: 821px) and (max-width: 1024px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/IMG_8128-min.jpg?v=1688645302&amp;width=2048" media="(min-width: 1025px)"/><img src="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/IMG_8128-min.jpg?v=1688645302" class="r-k0xasg" loading="eager"/></picture><div data-rid="24125b5f-3f14-4076-9eb1-ae74ab1555bb" data-replo-repeated-index=".0.0.0.0.0.0" class="r-md7v31"><div data-rid="0818a188-8c0b-44ed-b6fe-a03df33b0d17" data-replo-repeated-index=".0.0.0.0.0.0.0" class="r-1ngmkgb alchemy-rte"><span contenteditable="false" style="width:100%"><p>3. It's Personalised With Your Monogram - Free Of Charge</p><p></p></span></div><div data-rid="dc98740c-b360-476c-bda7-bf667e615945" data-replo-repeated-index=".0.0.0.0.0.0.0" class="r-llbmq0 alchemy-rte"><span contenteditable="false" style="width:100%"><p>All of The Case Club's products come with free personalisation included. The Case Club believes your personal monogram holds power and is a form of self expression, thus allowing you to apply your personal statement on your most personal products. You can either apply your name or initials to their products, in gold or silver foil.</p><p></p></span></div></div></div><div data-rid="98971b5a-1b7d-474b-bef1-f0d179244ae0" data-replo-repeated-index=".0.0.0.0.0" class="r-tlu29d"><picture data-rid="1d00471d-7cf0-4c2f-b33c-2b0e3d0e1171" data-replo-repeated-index=".0.0.0.0.0.0" class="r-184shkw"><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/IMG_8134-min.jpg?v=1688645329&amp;width=820" media="(max-width: 640px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/IMG_8134-min.jpg?v=1688645329&amp;width=1024" media="(min-width: 641px) and (max-width: 820px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/IMG_8134-min.jpg?v=1688645329&amp;width=1800" media="(min-width: 821px) and (max-width: 1024px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/IMG_8134-min.jpg?v=1688645329&amp;width=2048" media="(min-width: 1025px)"/><img src="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/IMG_8134-min.jpg?v=1688645329" class="r-l9wmak" loading="eager"/></picture><div data-rid="a009ef9d-c5d2-48aa-8364-373cf51954bf" data-replo-repeated-index=".0.0.0.0.0.0" class="r-1abq3ap"><div data-rid="c89f3e2c-4727-42d2-ae21-ee590254edb0" data-replo-repeated-index=".0.0.0.0.0.0.0" class="r-xyrtik alchemy-rte"><span contenteditable="false" style="width:100%"><p>4. It's Surprisingly Protective... For Something This Beautiful</p><p></p></span></div><div data-rid="0764f7e6-be83-4364-b254-17cb966e2b30" data-replo-repeated-index=".0.0.0.0.0.0.0" class="r-98zek7 alchemy-rte"><span contenteditable="false" style="width:100%"><p>There's always been the choice of going for a bulky, protective phone case or a pretty but unprotective phone cover. The Case Club offers the best of both worlds - <a target="_blank" rel="noopener nofollow noreferrer" href="https://thecaseclubla.com/collections/phone-cases"><u>a beautiful leather phone case</u></a> that doesn't add much bulk to your phone while still fully protecting your phone.</p></span></div></div></div><div data-rid="f8574640-5946-4926-b938-78285eb7891b" data-replo-repeated-index=".0.0.0.0.0" class="r-1l72zxn"><picture data-rid="be16160c-a531-4dac-9fc9-93da20c8e662" data-replo-repeated-index=".0.0.0.0.0.0" class="r-8b1rtw"><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/featured-min.jpg?v=1688636007&amp;width=820" media="(max-width: 640px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/featured-min.jpg?v=1688636007&amp;width=1024" media="(min-width: 641px) and (max-width: 820px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/featured-min.jpg?v=1688636007&amp;width=1800" media="(min-width: 821px) and (max-width: 1024px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/featured-min.jpg?v=1688636007&amp;width=2048" media="(min-width: 1025px)"/><img src="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/featured-min.jpg?v=1688636007" class="r-18iv17a" loading="eager"/></picture><div data-rid="f493f1b2-920a-49ea-8273-5a088f6e5e04" data-replo-repeated-index=".0.0.0.0.0.0" class="r-mtd02z"><div data-rid="f4502bf2-d9ea-4277-881d-2cefab078375" data-replo-repeated-index=".0.0.0.0.0.0.0" class="r-mtju1o alchemy-rte"><span contenteditable="false" style="width:100%"><p>5. It's The Fastest Growing Brand In It's Industry</p><p></p></span></div><div data-rid="6df07c7f-7d8f-457b-bd31-edb8fa50176f" data-replo-repeated-index=".0.0.0.0.0.0.0" class="r-d9tyi4 alchemy-rte"><span contenteditable="false" style="width:100%"><p>With over 100.000+ Happy Customers, The Case Club is quickly becoming the fastest growing brand in it's industry of leather goods and <a target="_blank" rel="noopener nofollow noreferrer" href="https://thecaseclubla.com/collections/phone-cases"><u>phone cases</u></a>. More and more people are discovering that they don't have to choose between a cheap plastic case from a wholesaler or breaking the bank by buying from a more expensive luxury brand!</p></span></div></div></div><div data-rid="eae708e4-7d6f-4517-936c-535270d477cb" data-replo-repeated-index=".0.0.0.0.0" class="r-2kq63l"><picture data-rid="aefcb789-ddc6-4313-aa78-72174dcc3867" data-replo-repeated-index=".0.0.0.0.0.0" class="r-pghyul"><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/IMG_8118-min.jpg?v=1688634651&amp;width=820" media="(max-width: 640px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/IMG_8118-min.jpg?v=1688634651&amp;width=1024" media="(min-width: 641px) and (max-width: 820px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/IMG_8118-min.jpg?v=1688634651&amp;width=1800" media="(min-width: 821px) and (max-width: 1024px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/IMG_8118-min.jpg?v=1688634651&amp;width=2048" media="(min-width: 1025px)"/><img src="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/IMG_8118-min.jpg?v=1688634651" class="r-znkire" loading="eager"/></picture><div data-rid="1887afa3-5cb4-4542-a4b5-091610256b29" data-replo-repeated-index=".0.0.0.0.0.0" class="r-1nsezqk"><div data-rid="16578b7c-6c12-4b26-bcb1-5d901a926326" data-replo-repeated-index=".0.0.0.0.0.0.0" class="r-f8ft5y alchemy-rte"><span contenteditable="false" style="width:100%"><p>6. It's Loved By Celebrities Worldwide</p><p></p></span></div><div data-rid="70a21fce-6470-4a2b-8890-55cce64cebf9" data-replo-repeated-index=".0.0.0.0.0.0.0" class="r-15kv4eb alchemy-rte"><span contenteditable="false" style="width:100%"><p>Celebrities - often known for living a lavish lifestyle and having access to everything they long for, are loving The Case Club's leather goods. Not through getting sent free products, but by placing actual paid orders. From actors, artists to athletes, The Case Club is loved by celebrities worldwide. That surely says something!</p><p></p></span></div></div></div><div data-rid="64ab6747-eb1b-4ea2-89ca-d046ea2059c1" data-replo-repeated-index=".0.0.0.0.0" class="r-xylegn"><picture data-rid="52a3507e-3d9c-4d4c-9475-90b09fbc555e" data-replo-repeated-index=".0.0.0.0.0.0" class="r-1093wj0"><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/IMG_8130-min.jpg?v=1688645374&amp;width=820" media="(max-width: 640px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/IMG_8130-min.jpg?v=1688645374&amp;width=1024" media="(min-width: 641px) and (max-width: 820px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/IMG_8130-min.jpg?v=1688645374&amp;width=1800" media="(min-width: 821px) and (max-width: 1024px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/IMG_8130-min.jpg?v=1688645374&amp;width=2048" media="(min-width: 1025px)"/><img src="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/IMG_8130-min.jpg?v=1688645374" class="r-gktn4b" loading="eager"/></picture><div data-rid="3c627715-c2b6-4efe-9bbc-d88672f8fecb" data-replo-repeated-index=".0.0.0.0.0.0" class="r-eojylw"><div data-rid="ee9dc5f9-ff9a-4b3d-b877-4a80815f4172" data-replo-repeated-index=".0.0.0.0.0.0.0" class="r-vedftw alchemy-rte"><span contenteditable="false" style="width:100%"><p>7. It's The Perfect Gift - For Yourself Or A Loved One</p><p></p></span></div><div data-rid="7e06e025-fb3c-4774-b21d-5e78edb3e518" data-replo-repeated-index=".0.0.0.0.0.0.0" class="r-1wljdr4 alchemy-rte"><span contenteditable="false" style="width:100%"><p>There's no more thoughtful gift than giving someone something that's <a target="_blank" rel="noopener nofollow noreferrer" href="https://thecaseclubla.com/collections/phone-cases"><u>personalised and hand made</u></a> just for them. Combine that with something that is of such high quality that it will actually last them years to come, and you've got the perfect gift - either for yourself or for a loved one.</p></span></div></div></div><div data-rid="ba7c1a3c-a0f8-43e4-9f03-42a5f73c6f34" data-replo-repeated-index=".0.0.0.0.0" class="r-rxfvvk"><picture data-rid="0912faac-7a00-4635-950f-62bb20331bc4" data-replo-repeated-index=".0.0.0.0.0.0" class="r-8pgb2i"><img src="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/GG_No_Text_1x1_kopie-min.jpg?v=1688645471" class="r-1dp1lfm" loading="eager"/></picture><div data-rid="1f214c4f-a24c-4d81-a735-13e81e4fc975" data-replo-repeated-index=".0.0.0.0.0.0" class="r-ph654r"><div data-rid="2463b77c-7e7e-4a4a-9964-e8ee3e4fe940" data-replo-repeated-index=".0.0.0.0.0.0.0" class="r-1trgj59 alchemy-rte"><span contenteditable="false" style="width:100%"><p>8. It's Got Great Value For Money</p><p></p></span></div><div data-rid="55a05860-89ad-47cb-9a38-b3fe02d26ef8" data-replo-repeated-index=".0.0.0.0.0.0.0" class="r-1e2kwi0 alchemy-rte"><span contenteditable="false" style="width:100%"><p>The Case Club doesn't just source any leather for their products, they use the same leather as all the big luxury brands use. While it might be slightly more expensive than a plastic phone case, getting a premium leather accessory for under $50 is a great, great deal, especially factoring in their products are all hand made by craftsmen and come personalised!</p><p></p></span></div></div></div><div data-rid="131007ee-2ad0-439b-b9ec-0841a24bf7d3" data-replo-repeated-index=".0.0.0.0.0" class="r-mp7di2"><picture data-rid="1b91e678-3f05-446d-b116-92c3814c1926" data-replo-repeated-index=".0.0.0.0.0.0" class="r-3xl4qq"><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/IMG_8133-min.jpg?v=1688645397&amp;width=820" media="(max-width: 640px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/IMG_8133-min.jpg?v=1688645397&amp;width=1024" media="(min-width: 641px) and (max-width: 820px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/IMG_8133-min.jpg?v=1688645397&amp;width=1800" media="(min-width: 821px) and (max-width: 1024px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/IMG_8133-min.jpg?v=1688645397&amp;width=2048" media="(min-width: 1025px)"/><img src="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/IMG_8133-min.jpg?v=1688645397" class="r-xjrqan" loading="eager"/></picture><div data-rid="5ec52dad-f501-487f-9ce2-0155042c0d3c" data-replo-repeated-index=".0.0.0.0.0.0" class="r-5zyfqq"><div data-rid="83aece42-f8d4-440f-973e-6ff3977c67fe" data-replo-repeated-index=".0.0.0.0.0.0.0" class="r-ovzs2h alchemy-rte"><span contenteditable="false" style="width:100%"><p>9. They Have A Holiday Sale Going On Right Now!</p></span></div><div data-rid="c6e2535b-83fd-4bf1-a7c1-90a290f47323" data-replo-repeated-index=".0.0.0.0.0.0.0" class="r-uorpbp alchemy-rte"><span contenteditable="false" style="width:100%"><p>With 50% off everything site wide, this is the perfect opportunity to try their <a target="_blank" rel="noopener nofollow noreferrer" href="https://thecaseclubla.com/collections/phone-cases"><u>products</u></a> for an even more affordable price! Grab this chance to level up your accessory game by matching it with your summer outfits, and get ready to receive compliments on your new phone case wherever you go!</p></span></div></div></div><div data-rid="d10ff759-2b87-4a48-b30f-9e6296da7ece" data-replo-repeated-index=".0.0.0.0.0" class="r-gabf64"><div data-rid="e2d1d8ad-a6b1-444b-814a-9e588dab85b3" data-replo-repeated-index=".0.0.0.0.0.0" class="r-n5bbc4 alchemy-rte"><span contenteditable="false" style="width:100%"><p>If you made it to #9 you obviously know it's time to match your phone case to your lifestyle</p><p></p></span></div><a data-rid="ee21b97e-3da8-4e3f-a0d3-3f7e60e6a025" data-replo-repeated-index=".0.0.0.0.0.0" tabindex="0" role="link" class="text r-1gryn78 alchemy-rte" href="https://thecaseclubla.com/collections/phone-cases"><span contenteditable="false" style="width:100%"><p>SHOP THE SALE NOW</p></span></a></div></div></div></div><div data-rid="e2e5b28a-e7a4-4ff2-92fc-b59152895ab5" data-replo-repeated-index=".0.0" class="r-b1pouq"><div data-rid="3fcadccf-255a-4bf9-a403-8e3fc36873d2" data-replo-repeated-index=".0.0.0" class="r-no0qks alchemy-rte"><span contenteditable="false" style="width:100%"><p>Exclusive Holiday Sale Deal</p></span></div><div data-rid="f501afe3-a50b-41a9-82ea-96b577219a95" data-replo-repeated-index=".0.0.0" class="r-4ptio2"><div data-rid="492453b8-06d8-4295-bbb6-119cb2c04fad" data-replo-repeated-index=".0.0.0.0" class="r-b2onuf alchemy-rte"><span contenteditable="false" style="width:100%"><p>Sale Ends In</p><p></p></span></div><div data-rid="60fc984c-54f0-4e83-8ebd-078939d2480f" data-replo-repeated-index=".0.0.0.0" class="r-1f87969"><div data-rid="46341852-4317-4c4b-821c-80b158b18f5b" data-replo-repeated-index=".0.0.0.0.0" class="r-1sw4bra alchemy-rte"><span contenteditable="false" style="width:100%">23</span></div><div data-rid="10ff32ca-231e-4a75-b043-2081a8a3d014" data-replo-repeated-index=".0.0.0.0.0" class="r-1nps61h alchemy-rte"><span contenteditable="false" style="width:100%"><p>:</p></span></div><div data-rid="649a9226-1bdb-4b59-8f4e-0ae0c52fdcdd" data-replo-repeated-index=".0.0.0.0.0" class="r-323is4 alchemy-rte"><span contenteditable="false" style="width:100%">59</span></div><div data-rid="e5cbc4e6-9ead-4cde-bf7b-673676328503" data-replo-repeated-index=".0.0.0.0.0" class="r-uanmku alchemy-rte"><span contenteditable="false" style="width:100%"><p>:</p></span></div><div data-rid="3bb42840-e171-4538-8e8a-75ecb1987d57" data-replo-repeated-index=".0.0.0.0.0" class="r-10mxnlj alchemy-rte"><span contenteditable="false" style="width:100%">59</span></div></div></div><div data-rid="70f8b53d-3904-45d3-95a9-3587fb12f37f" data-replo-repeated-index=".0.0.0" class="r-cseuim alchemy-rte"><span contenteditable="false" style="width:100%"><p>Join the #1 Accessory Brand and try The Case Club while it's on sale now!</p><p></p></span></div><div data-rid="31271af8-e9f7-4242-86c5-f48f50619ed3" data-replo-repeated-index=".0.0.0" class="r-rva8px"></div><div data-rid="8bb4163c-7cae-4704-94c7-5a4238355c6c" data-replo-repeated-index=".0.0.0" class="r-1ynkoqk"><picture data-rid="633e02cd-f3aa-41a9-b3bf-a8456dfe4074" data-replo-repeated-index=".0.0.0.0" class="r-1d2sh38"><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/productss.png?v=1688636491&amp;width=820" media="(max-width: 640px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/productss.png?v=1688636491&amp;width=1024" media="(min-width: 641px) and (max-width: 820px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/productss.png?v=1688636491&amp;width=1800" media="(min-width: 821px) and (max-width: 1024px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/productss.png?v=1688636491&amp;width=2048" media="(min-width: 1025px)"/><img src="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/productss.png?v=1688636491" class="r-19re6h5" loading="eager"/></picture><div data-rid="a95666a8-b0cc-4526-8d24-a8f1e9f4bc22" data-replo-repeated-index=".0.0.0.0" class="r-i25gom"><div data-rid="4df060ac-adca-4a0f-890a-2c0d777fadd3" data-replo-repeated-index=".0.0.0.0.0" class="r-mc5195"><div data-rid="506472cb-2d41-49b0-8b5d-6fd56aee7058" data-replo-repeated-index=".0.0.0.0.0.0" class="r-j4u6wm"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="1em" height="1em" fill="currentColor" role="presentation" style="width:var(--rsw, 100%);height:100%" class="r-1q5fucv"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path></svg></div><div data-rid="87190110-f68c-4594-bb3f-789bcc15dc39" data-replo-repeated-index=".0.0.0.0.0.0" class="r-16g76w1 alchemy-rte"><span contenteditable="false" style="width:100%"><p>FREE Personalisation on your order</p><p></p></span></div></div><div data-rid="8ee6ff72-ee17-4327-957b-e051bf72615f" data-replo-repeated-index=".0.0.0.0.0" class="r-1sf4kpu"><div data-rid="c9e36c5f-1f2b-429c-ae86-3243a4ac3b11" data-replo-repeated-index=".0.0.0.0.0.0" class="r-cyxq0x"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="1em" height="1em" fill="currentColor" role="presentation" style="width:var(--rsw, 100%);height:100%" class="r-1vciqws"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path></svg></div><div data-rid="bbb99cfc-bd03-4fb1-aa97-d425fedd174c" data-replo-repeated-index=".0.0.0.0.0.0" class="r-45zmqx alchemy-rte"><span contenteditable="false" style="width:100%"><p>FREE Shipping worldwide</p><p></p></span></div></div><div data-rid="43ee5801-e715-4557-9bef-03b56c07753b" data-replo-repeated-index=".0.0.0.0.0" class="r-1e8rkov"><div data-rid="9e1a22fd-9e67-4700-9939-91b8b84278c2" data-replo-repeated-index=".0.0.0.0.0.0" class="r-13tmr4j"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="1em" height="1em" fill="currentColor" role="presentation" style="width:var(--rsw, 100%);height:100%" class="r-1sw72lt"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path></svg></div><div data-rid="f297cfe4-4759-4fbb-8d78-c5ca9cb9168f" data-replo-repeated-index=".0.0.0.0.0.0" class="r-br72dp alchemy-rte"><span contenteditable="false" style="width:100%"><p>Biggest sale of the year</p><p></p></span></div></div><a data-rid="1bbceb28-0ade-40ef-8535-7907dad580a9" data-replo-repeated-index=".0.0.0.0.0" tabindex="0" role="link" class="text r-1f9jczd alchemy-rte" href="https://thecaseclubla.com/collections/phone-cases"><span contenteditable="false" style="width:100%"><p>Grab 50% OFF NOW</p></span></a><div data-rid="c83aba28-093f-4098-b17b-9c7f659eddc4" data-replo-repeated-index=".0.0.0.0.0" class="r-pdu6ob"><div data-rid="ffc9d7d9-0911-4ecd-98d6-e50125999252" data-replo-repeated-index=".0.0.0.0.0.0" class="r-xrml3q alchemy-rte"><span contenteditable="false" style="width:100%"><p>SELL-OUT RISK:<span style="color: #FF0000FF"> HIGH</span></p><p></p></span></div><div data-rid="77f6a3be-245e-498e-8d88-a0a192519ba9" data-replo-repeated-index=".0.0.0.0.0.0" class="r-4bq9y9 alchemy-rte"><span contenteditable="false" style="width:100%"><p><strong>FREE SHIPPING</strong></p></span></div></div></div></div></div></div></div></div>

    <script id="replo-deps-element-id" data-id="118727213402"></script>
  
    </div>
