
    
    <div
      id="replo-fullpage-element"
      data-runtime-version="6c8e8c22-1bfa-11ee-b34d-d6e8754f5907"
      style="display: block !important"
    >
      
<div data-alchemy-element-mount-node="true"><script data-em-disable="true" async="" src="https://replocdn.com/w/1691b57c-6274-4522-8654-aa7d8f0d11a7/18cd8288-7451-4064-a305-e93f531dda74.min.js?v=6c8e8c22-1bfa-11ee-b34d-d6e8754f5907" id="https://replocdn.com/w/1691b57c-6274-4522-8654-aa7d8f0d11a7/18cd8288-7451-4064-a305-e93f531dda74.min.js?v=6c8e8c22-1bfa-11ee-b34d-d6e8754f5907"></script><style data-radium-styles="true">@media (max-width: 640px){ .rmq-49769b02{flex-shrink: 0 !important;
flex-basis: auto !important;
position: relative !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-aa5fdf60{flex-shrink: 0 !important;
flex-basis: auto !important;
position: relative !important;}}
@media (min-width: 821px) and (max-width: 1024px){ .rmq-c1936f55{flex-shrink: 0 !important;
flex-basis: auto !important;
position: relative !important;}}
@media (min-width: 1025px){ .rmq-cc200de8{flex-shrink: 0 !important;
flex-basis: auto !important;
position: relative !important;}}
@media (max-width: 640px){ .rmq-1997b991{object-fit: cover !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-8a1ca093{object-fit: cover !important;}}
@media (min-width: 821px) and (max-width: 1024px){ .rmq-553db1c6{object-fit: cover !important;}}
@media (min-width: 1025px){ .rmq-e8e4959b{object-fit: cover !important;}}
@media (max-width: 640px){ .rmq-7d750a43{flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-ee191701{flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (min-width: 821px) and (max-width: 1024px){ .rmq-1f47714{flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (min-width: 1025px){ .rmq-4a86ea09{flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (max-width: 640px){ .rmq-7b85cfec{font-size: 32px !important;
max-width: 600px !important;
line-height: 40px !important;
margin-bottom: 15px !important;
text-align-last: center !important;
flex-shrink: 1 !important;
flex-basis: auto !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-85109c8e{font-size: 40px !important;
max-width: 600px !important;
line-height: 45px !important;
margin-bottom: 15px !important;
text-align-last: center !important;
flex-shrink: 1 !important;
flex-basis: auto !important;}}
@media (min-width: 821px) and (max-width: 1024px){ .rmq-bda74f88{text-align-last: center !important;
flex-shrink: 1 !important;
flex-basis: auto !important;}}
@media (min-width: 1025px){ .rmq-9685c015{text-align-last: center !important;
flex-shrink: 1 !important;
flex-basis: auto !important;}}
@media (max-width: 640px){ .rmq-5b52500b{font-size: 16px !important;
max-width: 600px !important;
line-height: 27px !important;
margin-bottom: 50px !important;
text-align-last: center !important;
flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-b6480049{font-size: 16px !important;
max-width: 600px !important;
line-height: 27px !important;
margin-bottom: 50px !important;
text-align-last: center !important;
flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (min-width: 821px) and (max-width: 1024px){ .rmq-73e28289{text-align-last: center !important;
flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (min-width: 1025px){ .rmq-98eef734{text-align-last: center !important;
flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (max-width: 640px){ .rmq-5bbeff3e{flex-shrink: 0 !important;
flex-basis: auto !important;
row-gap: 70px !important;
column-gap: 70px !important;
position: relative !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-a7a26edc{flex-shrink: 0 !important;
flex-basis: auto !important;
row-gap: 70px !important;
column-gap: 70px !important;
position: relative !important;}}
@media (min-width: 821px) and (max-width: 1024px){ .rmq-43b39c69{flex-shrink: 0 !important;
flex-basis: auto !important;
row-gap: 70px !important;
column-gap: 70px !important;
position: relative !important;}}
@media (min-width: 1025px){ .rmq-546f49d4{flex-shrink: 0 !important;
flex-basis: auto !important;
row-gap: 70px !important;
column-gap: 70px !important;
position: relative !important;}}
@media (max-width: 640px){ .rmq-76fb7f46{margin-bottom: 40px !important;
display: flex !important;
flex-direction: column !important;
flex-shrink: 0 !important;
flex-basis: auto !important;
row-gap: 30px !important;
column-gap: 30px !important;
position: relative !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-6b96a6c1{margin-bottom: 50px !important;
flex-shrink: 0 !important;
flex-basis: auto !important;
row-gap: 40px !important;
column-gap: 40px !important;
position: relative !important;}}
@media (min-width: 821px) and (max-width: 1024px){ .rmq-1e04a089{flex-shrink: 0 !important;
flex-basis: auto !important;
row-gap: 60px !important;
column-gap: 60px !important;
position: relative !important;}}
@media (min-width: 1025px){ .rmq-be5ad534{flex-shrink: 0 !important;
flex-basis: auto !important;
row-gap: 60px !important;
column-gap: 60px !important;
position: relative !important;}}
@media (max-width: 640px){ .rmq-cda0c004{max-width: 100% !important;
flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (max-width: 640px){ .rmq-78321355{flex-grow: 1 !important;
flex-basis: auto !important;
flex-shrink: 1 !important;
row-gap: 20px !important;
column-gap: 20px !important;
position: relative !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-a49da9dd{flex-shrink: 1 !important;
flex-basis: auto !important;
row-gap: 35px !important;
column-gap: 35px !important;
position: relative !important;}}
@media (min-width: 821px) and (max-width: 1024px){ .rmq-7bd2d048{flex-shrink: 1 !important;
flex-basis: auto !important;
row-gap: 35px !important;
column-gap: 35px !important;
position: relative !important;}}
@media (min-width: 1025px){ .rmq-aaf3dc55{flex-shrink: 1 !important;
flex-basis: auto !important;
row-gap: 35px !important;
column-gap: 35px !important;
position: relative !important;}}
@media (max-width: 640px){ .rmq-bd273ba9{font-size: 24px !important;
line-height: 35px !important;
text-align-last: left !important;
flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-336c5867{font-size: 28px !important;
line-height: 35px !important;
text-align-last: left !important;
flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (min-width: 821px) and (max-width: 1024px){ .rmq-91161e99{text-align-last: left !important;
flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (min-width: 1025px){ .rmq-a3cadd24{text-align-last: left !important;
flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (max-width: 640px){ .rmq-2814ab61{font-size: 16px !important;
text-align: left !important;
line-height: 27px !important;
text-align-last: left !important;
flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-3f72b9a3{font-size: 16px !important;
text-align: left !important;
line-height: 27px !important;
text-align-last: left !important;
flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (max-width: 640px){ .rmq-fa75c81e{margin-bottom: 40px !important;
flex-shrink: 0 !important;
flex-basis: auto !important;
position: relative !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-edb2bc5d{margin-bottom: 50px !important;
flex-shrink: 0 !important;
flex-basis: auto !important;
position: relative !important;}}
@media (max-width: 640px){ .rmq-c53587b9{font-size: 24px !important;
line-height: 35px !important;
text-align-last: center !important;
flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-a125f677{font-size: 28px !important;
line-height: 35px !important;
text-align-last: center !important;
flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (max-width: 640px){ .rmq-c2bd6afe{flex-shrink: 0 !important;
flex-basis: auto !important;
row-gap: 4px !important;
column-gap: 4px !important;
position: relative !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-d1632c1c{flex-shrink: 0 !important;
flex-basis: auto !important;
row-gap: 4px !important;
column-gap: 4px !important;
position: relative !important;}}
@media (min-width: 821px) and (max-width: 1024px){ .rmq-31a1a7a9{flex-shrink: 0 !important;
flex-basis: auto !important;
row-gap: 4px !important;
column-gap: 4px !important;
position: relative !important;}}
@media (min-width: 1025px){ .rmq-dc3c3a94{flex-shrink: 0 !important;
flex-basis: auto !important;
row-gap: 4px !important;
column-gap: 4px !important;
position: relative !important;}}
@media (max-width: 640px){ .rmq-46a38ffe{flex-shrink: 0 !important;
flex-basis: auto !important;
row-gap: 2px !important;
column-gap: 2px !important;
position: relative !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-80b7b11c{flex-shrink: 0 !important;
flex-basis: auto !important;
row-gap: 2px !important;
column-gap: 2px !important;
position: relative !important;}}
@media (min-width: 821px) and (max-width: 1024px){ .rmq-cb86cca9{flex-shrink: 0 !important;
flex-basis: auto !important;
row-gap: 2px !important;
column-gap: 2px !important;
position: relative !important;}}
@media (min-width: 1025px){ .rmq-dce6ff94{flex-shrink: 0 !important;
flex-basis: auto !important;
row-gap: 2px !important;
column-gap: 2px !important;
position: relative !important;}}
@media (max-width: 640px){ .rmq-c1a45861{font-size: 16px !important;
text-align: center !important;
line-height: 27px !important;
text-align-last: center !important;
flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (max-width: 640px){ .rmq-fb47263a{display: flex !important;
flex-direction: column !important;
flex-shrink: 0 !important;
flex-basis: auto !important;
row-gap: 20px !important;
column-gap: 20px !important;
position: relative !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-df9f9abc{flex-shrink: 0 !important;
flex-basis: auto !important;
row-gap: 20px !important;
column-gap: 20px !important;
position: relative !important;}}
@media (min-width: 821px) and (max-width: 1024px){ .rmq-34e58409{flex-shrink: 0 !important;
flex-basis: auto !important;
row-gap: 20px !important;
column-gap: 20px !important;
position: relative !important;}}
@media (min-width: 1025px){ .rmq-3ac5a8b4{flex-shrink: 0 !important;
flex-basis: auto !important;
row-gap: 20px !important;
column-gap: 20px !important;
position: relative !important;}}
@media (max-width: 640px){ .rmq-a5069528{flex-grow: 1 !important;
flex-basis: auto !important;
flex-shrink: 1 !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-efc62760{flex-shrink: 1 !important;
flex-basis: auto !important;}}
@media (min-width: 821px) and (max-width: 1024px){ .rmq-b3c2b755{flex-shrink: 1 !important;
flex-basis: auto !important;}}
@media (min-width: 1025px){ .rmq-ece055e8{flex-shrink: 1 !important;
flex-basis: auto !important;}}
@media (max-width: 640px){ .rmq-9a810c09{flex-grow: 1 !important;
flex-basis: auto !important;
flex-shrink: 1 !important;
position: relative !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-a8b2cf01{flex-shrink: 1 !important;
flex-basis: auto !important;
position: relative !important;}}
@media (min-width: 821px) and (max-width: 1024px){ .rmq-fc52f14{flex-shrink: 1 !important;
flex-basis: auto !important;
position: relative !important;}}
@media (min-width: 1025px){ .rmq-29c6a209{flex-shrink: 1 !important;
flex-basis: auto !important;
position: relative !important;}}
@media (max-width: 640px){ .rmq-44a7cdfe{flex-shrink: 0 !important;
flex-basis: auto !important;
row-gap: 8px !important;
column-gap: 8px !important;
position: relative !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-25062f1c{flex-shrink: 0 !important;
flex-basis: auto !important;
row-gap: 8px !important;
column-gap: 8px !important;
position: relative !important;}}
@media (min-width: 821px) and (max-width: 1024px){ .rmq-f9a50aa9{flex-shrink: 0 !important;
flex-basis: auto !important;
row-gap: 8px !important;
column-gap: 8px !important;
position: relative !important;}}
@media (min-width: 1025px){ .rmq-9b72fd94{flex-shrink: 0 !important;
flex-basis: auto !important;
row-gap: 8px !important;
column-gap: 8px !important;
position: relative !important;}}
@media (max-width: 640px){ .rmq-1fbd8556{width: 18px !important;
height: 18px !important;
flex-grow: unset !important;
flex-shrink: 0 !important;
flex-basis: auto !important;
--rsw: 100% !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-969c156{flex-shrink: 0 !important;
flex-basis: auto !important;
width: 22px !important;
height: 22px !important;
--rsw: 100% !important;}}
@media (max-width: 640px){ .rmq-792f2a9b{font-size: 16px !important;
line-height: 20px !important;
overflow: hidden !important;
flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-36bbdcd9{font-size: 16px !important;
line-height: 20px !important;
overflow: hidden !important;
flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (min-width: 821px) and (max-width: 1024px){ .rmq-e3e5ac0e{overflow: hidden !important;
flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (min-width: 1025px){ .rmq-efd51653{overflow: hidden !important;
flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (max-width: 640px){ .rmq-a9f7cc73{width: 100% !important;
font-size: 16px !important;
max-width: 600px !important;
align-self: center !important;
line-height: 20px !important;
overflow: hidden !important;
flex-shrink: 0 !important;
flex-basis: auto !important;}}
@media (min-width: 641px) and (max-width: 820px){ .rmq-1e50d2f1{width: 100% !important;
font-size: 16px !important;
max-width: 600px !important;
align-self: center !important;
line-height: 20px !important;
overflow: hidden !important;
flex-shrink: 0 !important;
flex-basis: auto !important;}}</style><div data-radium="true"><style id="snippet-styles" type="text/css">.alchemy-reset :host{all:initial}.alchemy-reset *{box-sizing:border-box}.alchemy-reset html[data-rid],.alchemy-reset body[data-rid],.alchemy-reset div[data-rid],.alchemy-reset span[data-rid],.alchemy-reset applet[data-rid],.alchemy-reset object[data-rid],.alchemy-reset iframe[data-rid],.alchemy-reset h1[data-rid],.alchemy-reset h2[data-rid],.alchemy-reset h3[data-rid],.alchemy-reset h4[data-rid],.alchemy-reset h5[data-rid],.alchemy-reset h6[data-rid],.alchemy-reset p[data-rid],.alchemy-reset blockquote[data-rid],.alchemy-reset pre[data-rid],.alchemy-reset a[data-rid],.alchemy-reset a:visited[data-rid],.alchemy-reset abbr[data-rid],.alchemy-reset acronym[data-rid],.alchemy-reset address[data-rid],.alchemy-reset big[data-rid],.alchemy-reset cite[data-rid],.alchemy-reset code[data-rid],.alchemy-reset del[data-rid],.alchemy-reset dfn[data-rid],.alchemy-reset em[data-rid],.alchemy-reset img[data-rid],.alchemy-reset picture[data-rid],.alchemy-reset ins[data-rid],.alchemy-reset kbd[data-rid],.alchemy-reset q[data-rid],.alchemy-reset s[data-rid],.alchemy-reset samp[data-rid],.alchemy-reset small[data-rid],.alchemy-reset strike[data-rid],.alchemy-reset strong[data-rid],.alchemy-reset sub[data-rid],.alchemy-reset sup[data-rid],.alchemy-reset tt[data-rid],.alchemy-reset var[data-rid],.alchemy-reset b[data-rid],.alchemy-reset u[data-rid],.alchemy-reset i[data-rid],.alchemy-reset center[data-rid],.alchemy-reset dl[data-rid],.alchemy-reset dt[data-rid],.alchemy-reset dd[data-rid],.alchemy-reset ol[data-rid],.alchemy-reset ul[data-rid],.alchemy-reset li[data-rid],.alchemy-reset fieldset[data-rid],.alchemy-reset form[data-rid],.alchemy-reset label[data-rid],.alchemy-reset legend[data-rid],.alchemy-reset table[data-rid],.alchemy-reset caption[data-rid],.alchemy-reset tbody[data-rid],.alchemy-reset tfoot[data-rid],.alchemy-reset thead[data-rid],.alchemy-reset tr[data-rid],.alchemy-reset th[data-rid],.alchemy-reset td[data-rid],.alchemy-reset article[data-rid],.alchemy-reset aside[data-rid],.alchemy-reset canvas[data-rid],.alchemy-reset details[data-rid],.alchemy-reset embed[data-rid],.alchemy-reset figure[data-rid],.alchemy-reset figcaption[data-rid],.alchemy-reset footer[data-rid],.alchemy-reset header[data-rid],.alchemy-reset hgroup[data-rid],.alchemy-reset menu[data-rid],.alchemy-reset nav[data-rid],.alchemy-reset output[data-rid],.alchemy-reset ruby[data-rid],.alchemy-reset section[data-rid],.alchemy-reset summary[data-rid],.alchemy-reset time[data-rid],.alchemy-reset mark[data-rid],.alchemy-reset audio[data-rid],.alchemy-reset video[data-rid],.alchemy-reset button[data-rid],.alchemy-reset select[data-rid],.alchemy-reset [data-rid]>p{letter-spacing:inherit;margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;-ms-overflow-style:none;scrollbar-width:none}.alchemy-reset html[data-rid]::-webkit-scrollbar,.alchemy-reset body[data-rid]::-webkit-scrollbar,.alchemy-reset div[data-rid]::-webkit-scrollbar,.alchemy-reset span[data-rid]::-webkit-scrollbar,.alchemy-reset applet[data-rid]::-webkit-scrollbar,.alchemy-reset object[data-rid]::-webkit-scrollbar,.alchemy-reset iframe[data-rid]::-webkit-scrollbar,.alchemy-reset h1[data-rid]::-webkit-scrollbar,.alchemy-reset h2[data-rid]::-webkit-scrollbar,.alchemy-reset h3[data-rid]::-webkit-scrollbar,.alchemy-reset h4[data-rid]::-webkit-scrollbar,.alchemy-reset h5[data-rid]::-webkit-scrollbar,.alchemy-reset h6[data-rid]::-webkit-scrollbar,.alchemy-reset p[data-rid]::-webkit-scrollbar,.alchemy-reset blockquote[data-rid]::-webkit-scrollbar,.alchemy-reset pre[data-rid]::-webkit-scrollbar,.alchemy-reset a[data-rid]::-webkit-scrollbar,.alchemy-reset a:visited[data-rid]::-webkit-scrollbar,.alchemy-reset abbr[data-rid]::-webkit-scrollbar,.alchemy-reset acronym[data-rid]::-webkit-scrollbar,.alchemy-reset address[data-rid]::-webkit-scrollbar,.alchemy-reset big[data-rid]::-webkit-scrollbar,.alchemy-reset cite[data-rid]::-webkit-scrollbar,.alchemy-reset code[data-rid]::-webkit-scrollbar,.alchemy-reset del[data-rid]::-webkit-scrollbar,.alchemy-reset dfn[data-rid]::-webkit-scrollbar,.alchemy-reset em[data-rid]::-webkit-scrollbar,.alchemy-reset img[data-rid]::-webkit-scrollbar,.alchemy-reset picture[data-rid]::-webkit-scrollbar,.alchemy-reset ins[data-rid]::-webkit-scrollbar,.alchemy-reset kbd[data-rid]::-webkit-scrollbar,.alchemy-reset q[data-rid]::-webkit-scrollbar,.alchemy-reset s[data-rid]::-webkit-scrollbar,.alchemy-reset samp[data-rid]::-webkit-scrollbar,.alchemy-reset small[data-rid]::-webkit-scrollbar,.alchemy-reset strike[data-rid]::-webkit-scrollbar,.alchemy-reset strong[data-rid]::-webkit-scrollbar,.alchemy-reset sub[data-rid]::-webkit-scrollbar,.alchemy-reset sup[data-rid]::-webkit-scrollbar,.alchemy-reset tt[data-rid]::-webkit-scrollbar,.alchemy-reset var[data-rid]::-webkit-scrollbar,.alchemy-reset b[data-rid]::-webkit-scrollbar,.alchemy-reset u[data-rid]::-webkit-scrollbar,.alchemy-reset i[data-rid]::-webkit-scrollbar,.alchemy-reset center[data-rid]::-webkit-scrollbar,.alchemy-reset dl[data-rid]::-webkit-scrollbar,.alchemy-reset dt[data-rid]::-webkit-scrollbar,.alchemy-reset dd[data-rid]::-webkit-scrollbar,.alchemy-reset ol[data-rid]::-webkit-scrollbar,.alchemy-reset ul[data-rid]::-webkit-scrollbar,.alchemy-reset li[data-rid]::-webkit-scrollbar,.alchemy-reset fieldset[data-rid]::-webkit-scrollbar,.alchemy-reset form[data-rid]::-webkit-scrollbar,.alchemy-reset label[data-rid]::-webkit-scrollbar,.alchemy-reset legend[data-rid]::-webkit-scrollbar,.alchemy-reset table[data-rid]::-webkit-scrollbar,.alchemy-reset caption[data-rid]::-webkit-scrollbar,.alchemy-reset tbody[data-rid]::-webkit-scrollbar,.alchemy-reset tfoot[data-rid]::-webkit-scrollbar,.alchemy-reset thead[data-rid]::-webkit-scrollbar,.alchemy-reset tr[data-rid]::-webkit-scrollbar,.alchemy-reset th[data-rid]::-webkit-scrollbar,.alchemy-reset td[data-rid]::-webkit-scrollbar,.alchemy-reset article[data-rid]::-webkit-scrollbar,.alchemy-reset aside[data-rid]::-webkit-scrollbar,.alchemy-reset canvas[data-rid]::-webkit-scrollbar,.alchemy-reset details[data-rid]::-webkit-scrollbar,.alchemy-reset embed[data-rid]::-webkit-scrollbar,.alchemy-reset figure[data-rid]::-webkit-scrollbar,.alchemy-reset figcaption[data-rid]::-webkit-scrollbar,.alchemy-reset footer[data-rid]::-webkit-scrollbar,.alchemy-reset header[data-rid]::-webkit-scrollbar,.alchemy-reset hgroup[data-rid]::-webkit-scrollbar,.alchemy-reset menu[data-rid]::-webkit-scrollbar,.alchemy-reset nav[data-rid]::-webkit-scrollbar,.alchemy-reset output[data-rid]::-webkit-scrollbar,.alchemy-reset ruby[data-rid]::-webkit-scrollbar,.alchemy-reset section[data-rid]::-webkit-scrollbar,.alchemy-reset summary[data-rid]::-webkit-scrollbar,.alchemy-reset time[data-rid]::-webkit-scrollbar,.alchemy-reset mark[data-rid]::-webkit-scrollbar,.alchemy-reset audio[data-rid]::-webkit-scrollbar,.alchemy-reset video[data-rid]::-webkit-scrollbar,.alchemy-reset button[data-rid]::-webkit-scrollbar,.alchemy-reset select[data-rid]::-webkit-scrollbar,.alchemy-reset [data-rid]>p::-webkit-scrollbar{display:none}.alchemy-reset button[data-rid]{align-items:normal}.alchemy-reset html[data-rid],.alchemy-reset body[data-rid],.alchemy-reset div[data-rid],.alchemy-reset span[data-rid],.alchemy-reset applet[data-rid],.alchemy-reset object[data-rid],.alchemy-reset iframe[data-rid],.alchemy-reset h1[data-rid],.alchemy-reset h2[data-rid],.alchemy-reset h3[data-rid],.alchemy-reset h4[data-rid],.alchemy-reset h5[data-rid],.alchemy-reset h6[data-rid],.alchemy-reset p[data-rid],.alchemy-reset blockquote[data-rid],.alchemy-reset pre[data-rid],.alchemy-reset a[data-rid],.alchemy-reset abbr[data-rid],.alchemy-reset acronym[data-rid],.alchemy-reset address[data-rid],.alchemy-reset big[data-rid],.alchemy-reset cite[data-rid],.alchemy-reset code[data-rid],.alchemy-reset dfn[data-rid],.alchemy-reset img[data-rid],.alchemy-reset picture[data-rid],.alchemy-reset ins[data-rid],.alchemy-reset kbd[data-rid],.alchemy-reset q[data-rid],.alchemy-reset samp[data-rid],.alchemy-reset small[data-rid],.alchemy-reset strike[data-rid],.alchemy-reset sub[data-rid],.alchemy-reset sup[data-rid],.alchemy-reset tt[data-rid],.alchemy-reset var[data-rid],.alchemy-reset center[data-rid],.alchemy-reset dl[data-rid],.alchemy-reset dt[data-rid],.alchemy-reset dd[data-rid],.alchemy-reset ol[data-rid],.alchemy-reset ul[data-rid],.alchemy-reset li[data-rid],.alchemy-reset fieldset[data-rid],.alchemy-reset form[data-rid],.alchemy-reset label[data-rid],.alchemy-reset legend[data-rid],.alchemy-reset table[data-rid],.alchemy-reset caption[data-rid],.alchemy-reset tbody[data-rid],.alchemy-reset tfoot[data-rid],.alchemy-reset thead[data-rid],.alchemy-reset tr[data-rid],.alchemy-reset th[data-rid],.alchemy-reset td[data-rid],.alchemy-reset article[data-rid],.alchemy-reset aside[data-rid],.alchemy-reset canvas[data-rid],.alchemy-reset details[data-rid],.alchemy-reset embed[data-rid],.alchemy-reset figure[data-rid],.alchemy-reset figcaption[data-rid],.alchemy-reset footer[data-rid],.alchemy-reset header[data-rid],.alchemy-reset hgroup[data-rid],.alchemy-reset menu[data-rid],.alchemy-reset nav[data-rid],.alchemy-reset output[data-rid],.alchemy-reset ruby[data-rid],.alchemy-reset section[data-rid],.alchemy-reset summary[data-rid],.alchemy-reset time[data-rid],.alchemy-reset mark[data-rid],.alchemy-reset audio[data-rid],.alchemy-reset video[data-rid],.alchemy-reset button[data-rid],.alchemy-reset select[data-rid],.alchemy-reset [data-rid]>p{font-style:inherit;text-decoration:inherit;color:inherit;background-color:transparent}.alchemy-reset .alchemy-rte a,.alchemy-reset .alchemy-rte p,.alchemy-reset .alchemy-rte s,.alchemy-reset .alchemy-rte u,.alchemy-reset .alchemy-rte b,.alchemy-reset .alchemy-rte i,.alchemy-reset .alchemy-rte h1,.alchemy-reset .alchemy-rte h2,.alchemy-reset .alchemy-rte h3,.alchemy-reset .alchemy-rte mark{font-style:inherit;font-family:inherit;text-decoration:inherit;text-align:inherit;text-transform:inherit;color:inherit;line-height:inherit;letter-spacing:inherit;margin:0;padding:0;border:0;font-weight:inherit;vertical-align:baseline;font-size:100%;-moz-text-size-adjust:none;-webkit-text-size-adjust:none;text-size-adjust:none;-ms-overflow-style:none;scrollbar-width:none}.alchemy-reset .alchemy-rte a::-webkit-scrollbar,.alchemy-reset .alchemy-rte p::-webkit-scrollbar,.alchemy-reset .alchemy-rte s::-webkit-scrollbar,.alchemy-reset .alchemy-rte u::-webkit-scrollbar,.alchemy-reset .alchemy-rte b::-webkit-scrollbar,.alchemy-reset .alchemy-rte i::-webkit-scrollbar,.alchemy-reset .alchemy-rte h1::-webkit-scrollbar,.alchemy-reset .alchemy-rte h2::-webkit-scrollbar,.alchemy-reset .alchemy-rte h3::-webkit-scrollbar,.alchemy-reset .alchemy-rte mark::-webkit-scrollbar{display:none}.alchemy-reset .alchemy-rte b,.alchemy-reset .alchemy-rte strong,.alchemy-reset .alchemy-rte u,.alchemy-reset .alchemy-rte i,.alchemy-reset .alchemy-rte em,.alchemy-reset .alchemy-rte s,.alchemy-reset .alchemy-rte del,.alchemy-reset .alchemy-rte li,.alchemy-reset .alchemy-rte span{font-family:inherit}.alchemy-reset .alchemy-rte u{text-decoration:underline}.alchemy-reset .alchemy-rte s,.alchemy-reset .alchemy-rte del{text-decoration:line-through}.alchemy-reset .alchemy-rte i{font-style:italic}.alchemy-reset .alchemy-rte b{font-weight:700}.alchemy-reset .alchemy-rte ul,.alchemy-reset .alchemy-rte li{list-style:inherit;padding-left:1.7em}.alchemy-reset .alchemy-rte code{background-color:#6161611a;color:#616161}.alchemy-reset .alchemy-rte pre{background:#0d0d0d;color:#fff;font-family:JetBrainsMono,monospace;padding:.75rem 1rem;border-radius:.5rem}.alchemy-reset .alchemy-rte pre code{color:inherit;padding:0;background:none;font-size:.8rem}.alchemy-reset .alchemy-rte img{max-width:100%;height:auto}.alchemy-reset .alchemy-rte blockquote{padding-left:1rem;border-left:2px solid rgba(13,13,13,.1)}.alchemy-reset .alchemy-rte hr{border:none;border-top:2px solid rgba(13,13,13,.1);margin:2rem 0}.alchemy-reset article[data-rid],.alchemy-reset aside[data-rid],.alchemy-reset details[data-rid],.alchemy-reset figcaption[data-rid],.alchemy-reset figure[data-rid],.alchemy-reset footer[data-rid],.alchemy-reset header[data-rid],.alchemy-reset hgroup[data-rid],.alchemy-reset menu[data-rid],.alchemy-reset nav[data-rid],.alchemy-reset section[data-rid]{display:block}.alchemy-reset body{line-height:1}.alchemy-reset blockquote,.alchemy-reset q{quotes:none;margin:0;padding:0;border:0}.alchemy-reset blockquote:before,.alchemy-reset blockquote:after,.alchemy-reset q:before,.alchemy-reset q:after{content:"";content:none}.alchemy-reset table{border-collapse:collapse;border-spacing:0}.alchemy-reset button>picture,.alchemy-reset button>img,.alchemy-reset a>picture,.alchemy-reset a>img{display:flex}#replo-fullpage-element{max-width:100vw;flex-grow:1;align-self:stretch}.outline--blue{outline:2px solid #2563eb}.strike:after{content:"";border-bottom:3px solid black;position:absolute;left:0;top:calc(50% - 3px);width:100%}.ReactModal__Overlay--after-open{opacity:1;transform:translateY(0)}.ReactModal__Overlay--before-close{opacity:0;transform:translateY(100px)}.replo-modal-after-open{overflow-y:hidden!important}.carouselV3--slide-reset{max-width:none!important}.carouselV3-no-transition{transition:none}.carouselV3-fade-transition{transition:opacity 1s}.carouselV3-hidden-slide{transition:opacity 1s;opacity:0}.carouselV3-visible-slide{transition:opacity 1s;opacity:1}.splide li{padding:0!important;margin:0}.splide li:before{display:none!important}.splide .splide__list{overflow:visible!important}@keyframes alchemy-marquee-left{0%{transform:translate(0)}to{transform:translate(calc(-100% / var(--replo-marquee-repetitions, 20)))}}@keyframes alchemy-marquee-right{0%{transform:translate(-50%)}to{transform:translate(calc(50% + 100% / var(--replo-marquee-repetitions, 20)))}}@keyframes alchemy-fade{0%{opacity:var(--initial-opacity)}to{opacity:var(--final-opacity)}}@keyframes alchemy-slide-y{0%{opacity:var(--initial-opacity);transform:translateY(var(--offset))}to{opacity:var(--final-opacity);transform:translateY(0)}}@keyframes alchemy-slide-x{0%{opacity:var(--initial-opacity);transform:translate(var(--offset))}to{opacity:var(--final-opacity);transform:translate(0)}}@keyframes alchemy-flip-y{0%{opacity:var(--initial-opacity);transform:rotateY(var(--angle))}to{opacity:var(--final-opacity);transform:rotateY(0)}}@keyframes alchemy-flip-x{0%{opacity:var(--initial-opacity);transform:rotateX(var(--angle))}to{opacity:var(--final-opacity);transform:rotateX(0)}}@keyframes alchemy-grow{0%{opacity:var(--initial-opacity);transform:scale(var(--initial-scale))}to{opacity:var(--final-opacity);transform:scale(var(--final-scale))}}@keyframes alchemy-spin{0%{opacity:var(--initial-opacity);transform:rotate(var(--initial-angle))}to{opacity:var(--final-opacity);transform:rotate(var(--final-angle))}}@keyframes alchemy-fly-y{0%{opacity:var(--initial-opacity);transform:translateY(var(--offset)) scale(0)}to{opacity:var(--final-opacity);transform:translateY(0) scale(1)}}@keyframes alchemy-fly-x{0%{opacity:var(--initial-opacity);transform:translate(var(--offset)) scale(0)}to{opacity:var(--final-opacity);transform:translate(0) scale(1)}}@keyframes alchemy-drop{0%{opacity:var(--initial-opacity);transform:translateY(var(--offset))}to{opacity:var(--final-opacity);transform:translateY(0)}}@keyframes replo-spin{to{transform:rotate(360deg)}}.replo-animate-spinner{animation:replo-spin 1s linear infinite}[data-replo-collapsible] .replo-animated{overflow:hidden}[data-replo-collapsible] .replo-animated[data-state=open]{animation:slideDown .2s cubic-bezier(.4,0,.2,1)}[data-replo-collapsible] .replo-animated[data-state=closed]{animation:slideUp .2s cubic-bezier(.4,0,.2,1)}@keyframes slideDown{0%{height:0}to{height:var(--radix-collapsible-content-height)}}@keyframes slideUp{0%{height:var(--radix-collapsible-content-height)}to{height:0}}
</style><style id="alchemy-runtime-css">
    body {
      overflow-y: visible !important;
    }
      main, #main {
        margin: 0 !important;
        padding: 0 !important;
        max-width: none !important;
        max-height: none !important;
      }
     </style><style>
  header, #shopify-section-header, #shopify-section-header-classic, .main_nav, .main-nav, .navbar, #mobile-header-sticky-wrapper, .nav, .header-wrapper, [data-site-header], #shopify-section-static-header, #header { display: none !important }
  .main-content { padding-top: 0 !important; margin-top: 0 !important }
</style><style>
  footer:not(cart-drawer footer), #shopify-section-footer, #shopify-section-banner-image, .footer-section, #shopify-section-new-footer, #shopify-section-layout-footer, [id^="shopify-section-footer"], #footer { display: none !important; }
  .main-content { padding-bottom: 0 !important; margin-bottom: 0 !important; }
</style><div class="alchemy__element alchemy-reset"><div data-rid="1eee5271-a2b1-454a-a1e1-8120abd9831a" data-replo-repeated-index=".0" style="display:flex;align-self:stretch;align-items:center;padding-top:54px;padding-left:32px;padding-right:32px;flex-direction:column;padding-bottom:96px;justify-content:center;flex-shrink:0;flex-basis:auto;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-49769b02 rmq-aa5fdf60 rmq-c1936f55 rmq-cc200de8" data-radium="true"><picture data-rid="09f2cd79-5d7d-4a0c-9b80-9dff85617808" data-replo-repeated-index=".0.0" style="overflow-x:auto;overflow-y:hidden;display:flex;align-items:center;min-width:40px;min-height:40px;max-width:80px;max-height:80px;object-fit:cover;flex-shrink:0;flex-basis:auto" class="rmq-7d750a43 rmq-ee191701 rmq-1f47714 rmq-4a86ea09" data-radium="true"><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/tccwearlogokopie.png?v=1688636957&amp;width=820" media="(max-width: 640px)"><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/tccwearlogokopie.png?v=1688636957&amp;width=1024" media="(min-width: 641px) and (max-width: 820px)"><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/tccwearlogokopie.png?v=1688636957&amp;width=1800" media="(min-width: 821px) and (max-width: 1024px)"><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/tccwearlogokopie.png?v=1688636957&amp;width=2048" media="(min-width: 1025px)"><img src="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/tccwearlogokopie.png?v=1688636957" style="display:block;padding:0;margin:0;object-fit:cover;min-width:100%;max-width:100%;min-height:100%;max-height:100%;height:100%" class="rmq-1997b991 rmq-8a1ca093 rmq-553db1c6 rmq-e8e4959b" loading="eager" data-radium="true"></picture><div data-rid="fa7a080a-3a53-4990-9633-4a6c4f28886e" data-replo-repeated-index=".0.0" style="display:flex;max-width:820px;align-self:center;align-items:center;flex-direction:column;justify-content:center;flex-shrink:0;flex-basis:auto;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-49769b02 rmq-aa5fdf60 rmq-c1936f55 rmq-cc200de8" data-radium="true"><div data-rid="98915a6f-5e7d-465f-ad1a-9686c10c5d6b" data-replo-repeated-index=".0.0.0" style="display:flex;flex-direction:column;width:90%;height:0px;margin-top:20px;margin-left:5%;margin-right:5%;padding-left:20px;margin-bottom:0px;padding-right:20px;padding-bottom:20px;border-top-color:rgb(204, 204, 204);border-top-style:solid;border-top-width:1px;flex-shrink:0;flex-basis:auto" class="rmq-7d750a43 rmq-ee191701 rmq-1f47714 rmq-4a86ea09" data-radium="true"></div><div data-rid="e31c4021-4678-4bb4-ac16-b2bbbd3fd342" data-replo-repeated-index=".0.0.0" class="rmq-7b85cfec rmq-85109c8e rmq-bda74f88 rmq-9685c015 alchemy-rte" style="color:#000000FF;flex-grow:1;font-size:52px;text-align:center;font-weight:700;line-height:60px;margin-bottom:20px;letter-spacing:-0.6px;text-align-last:center;flex-shrink:1;flex-basis:auto;overflow-wrap:break-word" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p>5 Reasons Why This Accessory Brand Is On Everyones Wishlist 🎉</p></span></div><div data-rid="9da40cdb-bb45-4da8-b70f-4ff545f2786b" data-replo-repeated-index=".0.0.0" class="rmq-5b52500b rmq-b6480049 rmq-73e28289 rmq-98eef734 alchemy-rte" style="color:#000000;font-size:18px;text-align:center;font-weight:400;line-height:30px;margin-bottom:64px;text-align-last:center;flex-shrink:0;flex-basis:auto;overflow-wrap:break-word" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p>Here are the big five reasons why everyone is finally tossing the plastic phone cases, ditching cheap imported cases from China, and upgrading their accessories by switching to <a target="_blank" rel="noopener nofollow noreferrer" href="https://thecaseclubla.com/products/iphone-13-pro-max"><u>the worlds most luxurious (yet affordable) handmade leather cases and wallets by The Case Club.</u></a></p></span></div><div data-rid="fc98e72d-7dc2-40a8-8554-678c98927aee" data-replo-repeated-index=".0.0.0" style="display:flex;max-width:100%;align-self:stretch;align-items:center;flex-direction:column;justify-content:center;flex-shrink:0;flex-basis:auto;row-gap:70px;column-gap:70px;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-5bbeff3e rmq-a7a26edc rmq-43b39c69 rmq-546f49d4" data-radium="true"><div data-rid="d79deb66-fe77-4bc6-b2a5-c81301bef819" data-replo-repeated-index=".0.0.0.0" style="display:flex;max-width:100%;align-self:stretch;align-items:center;justify-content:center;flex-shrink:0;flex-basis:auto;row-gap:60px;column-gap:60px;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-76fb7f46 rmq-6b96a6c1 rmq-1e04a089 rmq-be5ad534" data-radium="true"><picture data-rid="f38548cd-465c-4c10-9d3a-3da1c3659b90" data-replo-repeated-index=".0.0.0.0.0" style="overflow-x:auto;overflow-y:hidden;display:flex;align-items:center;min-width:0;min-height:0;width:100%;max-width:344px;align-self:stretch;max-height:344px;object-fit:cover;flex-shrink:0;flex-basis:auto" class="rmq-cda0c004 rmq-ee191701 rmq-1f47714 rmq-4a86ea09" data-radium="true"><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/Product_page.webp?v=1687370156&amp;width=820" media="(max-width: 640px)"><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/Product_page.webp?v=1687370156&amp;width=1024" media="(min-width: 641px) and (max-width: 820px)"><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/Product_page.webp?v=1687370156&amp;width=1800" media="(min-width: 821px) and (max-width: 1024px)"><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/Product_page.webp?v=1687370156&amp;width=2048" media="(min-width: 1025px)"><img src="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/Product_page.webp?v=1687370156" style="display:block;padding:0;margin:0;object-fit:cover;min-width:100%;max-width:100%;min-height:100%;max-height:100%;height:100%" class="rmq-1997b991 rmq-8a1ca093 rmq-553db1c6 rmq-e8e4959b" loading="eager" data-radium="true"></picture><div data-rid="f66f028b-df4f-41c8-bbe6-f0091ae77ec6" data-replo-repeated-index=".0.0.0.0.0" style="display:flex;flex-grow:1;align-self:stretch;flex-basis:auto;align-items:flex-start;flex-shrink:1;flex-direction:column;justify-content:center;row-gap:35px;column-gap:35px;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-78321355 rmq-a49da9dd rmq-7bd2d048 rmq-aaf3dc55" data-radium="true"><div data-rid="dd48edba-ff55-4769-b4b9-f4c9dc39f7e9" data-replo-repeated-index=".0.0.0.0.0.0" class="rmq-bd273ba9 rmq-336c5867 rmq-91161e99 rmq-a3cadd24 alchemy-rte" style="color:#000000FF;font-size:32px;text-align:left;font-weight:800;line-height:40px;letter-spacing:-0.6px;text-align-last:left;flex-shrink:0;flex-basis:auto;overflow-wrap:break-word" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p>1. More than just a phone case</p><p></p></span></div><div data-rid="c37839c2-eec0-4edf-8da5-e6b64ac548be" data-replo-repeated-index=".0.0.0.0.0.0" class="rmq-2814ab61 rmq-3f72b9a3 rmq-91161e99 rmq-a3cadd24 alchemy-rte" style="color:#000000;font-size:18px;text-align:left;font-weight:400;line-height:30px;text-align-last:left;flex-shrink:0;flex-basis:auto;overflow-wrap:break-word" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p>The Case Club's <a target="_blank" rel="noopener nofollow noreferrer" href="https://thecaseclubla.com/products/iphone-13-pro-max"><u>cases</u></a> are more than just a premium, personalised phone case. It's an accessory for people who enjoy a lifestyle of refinement and elegance, but without a luxury markup. You get the highest quality leather and a product that's handmade in Europe, but for a fraction compared to what big luxury brands charge.</p></span></div></div></div><div data-rid="0c91ed41-ba8c-4878-9382-76b0e1882863" data-replo-repeated-index=".0.0.0.0" style="display:flex;max-width:100%;align-self:stretch;align-items:center;justify-content:center;flex-shrink:0;flex-basis:auto;row-gap:60px;column-gap:60px;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-76fb7f46 rmq-6b96a6c1 rmq-1e04a089 rmq-be5ad534" data-radium="true"><picture data-rid="d230df1f-8278-4a3b-826c-990232f00c8d" data-replo-repeated-index=".0.0.0.0.0" style="overflow-x:auto;overflow-y:hidden;display:flex;align-items:center;min-width:0;min-height:0;width:100%;max-width:344px;align-self:stretch;max-height:344px;object-fit:cover;flex-shrink:0;flex-basis:auto" class="rmq-cda0c004 rmq-ee191701 rmq-1f47714 rmq-4a86ea09" data-radium="true"><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/Laag_18.jpg?v=1686166594&amp;width=820" media="(max-width: 640px)"><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/Laag_18.jpg?v=1686166594&amp;width=1024" media="(min-width: 641px) and (max-width: 820px)"><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/Laag_18.jpg?v=1686166594&amp;width=1800" media="(min-width: 821px) and (max-width: 1024px)"><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/Laag_18.jpg?v=1686166594&amp;width=2048" media="(min-width: 1025px)"><img src="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/Laag_18.jpg?v=1686166594" style="display:block;padding:0;margin:0;object-fit:cover;min-width:100%;max-width:100%;min-height:100%;max-height:100%;height:100%" class="rmq-1997b991 rmq-8a1ca093 rmq-553db1c6 rmq-e8e4959b" loading="eager" data-radium="true"></picture><div data-rid="81bdf5e7-9420-4c60-b11e-b957d52482f0" data-replo-repeated-index=".0.0.0.0.0" style="display:flex;flex-grow:1;align-self:stretch;flex-basis:auto;align-items:flex-start;flex-shrink:1;flex-direction:column;justify-content:center;row-gap:35px;column-gap:35px;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-78321355 rmq-a49da9dd rmq-7bd2d048 rmq-aaf3dc55" data-radium="true"><div data-rid="bfcc3cee-0930-4ebd-9b09-96190c0e4942" data-replo-repeated-index=".0.0.0.0.0.0" class="rmq-bd273ba9 rmq-336c5867 rmq-91161e99 rmq-a3cadd24 alchemy-rte" style="color:#000000FF;font-size:32px;text-align:left;font-weight:800;line-height:40px;letter-spacing:-0.6px;text-align-last:left;flex-shrink:0;flex-basis:auto;overflow-wrap:break-word" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p>2. Make it yours with free personalisation</p></span></div><div data-rid="848b6651-0a42-4a85-9522-2e12e68f79bc" data-replo-repeated-index=".0.0.0.0.0.0" class="rmq-2814ab61 rmq-3f72b9a3 rmq-91161e99 rmq-a3cadd24 alchemy-rte" style="color:#000000;font-size:18px;text-align:left;font-weight:400;line-height:30px;text-align-last:left;flex-shrink:0;flex-basis:auto;overflow-wrap:break-word" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p>Every product comes with free personalisation included. The Case Club believes your personal monogram holds power and is a form of self expression. They allow you to apply your personal statement on your most personal products.</p><p></p></span></div></div></div><div data-rid="18e67ca1-f461-4663-8cf1-0ba6613a7ca7" data-replo-repeated-index=".0.0.0.0" style="display:flex;max-width:100%;align-self:stretch;align-items:center;justify-content:center;flex-shrink:0;flex-basis:auto;row-gap:60px;column-gap:60px;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-76fb7f46 rmq-6b96a6c1 rmq-1e04a089 rmq-be5ad534" data-radium="true"><picture data-rid="f6684e59-e0f2-4ba2-9e91-12e921bc473b" data-replo-repeated-index=".0.0.0.0.0" style="overflow-x:auto;overflow-y:hidden;display:flex;align-items:center;min-width:0;min-height:0;width:100%;max-width:344px;align-self:stretch;max-height:344px;object-fit:cover;flex-shrink:0;flex-basis:auto" class="rmq-cda0c004 rmq-ee191701 rmq-1f47714 rmq-4a86ea09" data-radium="true"><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/Schermafbeelding_2023-07-06_om_11.05.12-min.png?v=1688634365&amp;width=820" media="(max-width: 640px)"><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/Schermafbeelding_2023-07-06_om_11.05.12-min.png?v=1688634365&amp;width=1024" media="(min-width: 641px) and (max-width: 820px)"><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/Schermafbeelding_2023-07-06_om_11.05.12-min.png?v=1688634365&amp;width=1800" media="(min-width: 821px) and (max-width: 1024px)"><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/Schermafbeelding_2023-07-06_om_11.05.12-min.png?v=1688634365&amp;width=2048" media="(min-width: 1025px)"><img src="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/Schermafbeelding_2023-07-06_om_11.05.12-min.png?v=1688634365" style="display:block;padding:0;margin:0;object-fit:cover;min-width:100%;max-width:100%;min-height:100%;max-height:100%;height:100%" class="rmq-1997b991 rmq-8a1ca093 rmq-553db1c6 rmq-e8e4959b" loading="eager" data-radium="true"></picture><div data-rid="19ffabd8-e05a-44f3-b184-b8da6df91203" data-replo-repeated-index=".0.0.0.0.0" style="display:flex;flex-grow:1;align-self:stretch;flex-basis:auto;align-items:flex-start;flex-shrink:1;flex-direction:column;justify-content:center;row-gap:35px;column-gap:35px;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-78321355 rmq-a49da9dd rmq-7bd2d048 rmq-aaf3dc55" data-radium="true"><div data-rid="d18e6f1e-e18e-40fc-b458-779ec26c1384" data-replo-repeated-index=".0.0.0.0.0.0" class="rmq-bd273ba9 rmq-336c5867 rmq-91161e99 rmq-a3cadd24 alchemy-rte" style="color:#000000FF;font-size:32px;text-align:left;font-weight:800;line-height:40px;letter-spacing:-0.6px;text-align-last:left;flex-shrink:0;flex-basis:auto;overflow-wrap:break-word" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p>3. Handmade in The Netherlands</p></span></div><div data-rid="ccb45667-9fe3-43a6-ac23-68e6e4c8d3be" data-replo-repeated-index=".0.0.0.0.0.0" class="rmq-2814ab61 rmq-3f72b9a3 rmq-91161e99 rmq-a3cadd24 alchemy-rte" style="color:#000000;font-size:18px;text-align:left;font-weight:400;line-height:30px;text-align-last:left;flex-shrink:0;flex-basis:auto;overflow-wrap:break-word" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p>All of The Case Club's products are hand made in Amsterdam by a team of craftsmen who have over 30 years of experience in their field. This ensures that you will receive a quality product which will be yours to enjoy for years to come.</p><p></p></span></div></div></div><div data-rid="444c1670-7956-44bb-bbe2-5e6d3513555d" data-replo-repeated-index=".0.0.0.0" style="display:flex;max-width:100%;align-self:stretch;align-items:center;justify-content:center;flex-shrink:0;flex-basis:auto;row-gap:60px;column-gap:60px;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-76fb7f46 rmq-6b96a6c1 rmq-1e04a089 rmq-be5ad534" data-radium="true"><picture data-rid="55a01717-f637-4155-b3c8-acff16afb179" data-replo-repeated-index=".0.0.0.0.0" style="overflow-x:auto;overflow-y:hidden;display:flex;align-items:center;min-width:0;min-height:0;width:100%;max-width:344px;align-self:stretch;max-height:344px;object-fit:cover;flex-shrink:0;flex-basis:auto" class="rmq-cda0c004 rmq-ee191701 rmq-1f47714 rmq-4a86ea09" data-radium="true"><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/IMG_8118-min.jpg?v=1688634651&amp;width=820" media="(max-width: 640px)"><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/IMG_8118-min.jpg?v=1688634651&amp;width=1024" media="(min-width: 641px) and (max-width: 820px)"><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/IMG_8118-min.jpg?v=1688634651&amp;width=1800" media="(min-width: 821px) and (max-width: 1024px)"><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/IMG_8118-min.jpg?v=1688634651&amp;width=2048" media="(min-width: 1025px)"><img src="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/IMG_8118-min.jpg?v=1688634651" style="display:block;padding:0;margin:0;object-fit:cover;min-width:100%;max-width:100%;min-height:100%;max-height:100%;height:100%" class="rmq-1997b991 rmq-8a1ca093 rmq-553db1c6 rmq-e8e4959b" loading="eager" data-radium="true"></picture><div data-rid="124b3ebc-8a7e-4ee9-8daa-4e2e7226120a" data-replo-repeated-index=".0.0.0.0.0" style="display:flex;flex-grow:1;align-self:stretch;flex-basis:auto;align-items:flex-start;flex-shrink:1;flex-direction:column;justify-content:center;row-gap:35px;column-gap:35px;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-78321355 rmq-a49da9dd rmq-7bd2d048 rmq-aaf3dc55" data-radium="true"><div data-rid="42cc12ca-79c8-4595-8126-a856f55806ee" data-replo-repeated-index=".0.0.0.0.0.0" class="rmq-bd273ba9 rmq-336c5867 rmq-91161e99 rmq-a3cadd24 alchemy-rte" style="color:#000000FF;font-size:32px;text-align:left;font-weight:800;line-height:40px;letter-spacing:-0.6px;text-align-last:left;flex-shrink:0;flex-basis:auto;overflow-wrap:break-word" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p>4. Loved by celebrities worldwide</p><p></p></span></div><div data-rid="d20a83f8-0c55-483e-b2c1-05f971c4c5f7" data-replo-repeated-index=".0.0.0.0.0.0" class="rmq-2814ab61 rmq-3f72b9a3 rmq-91161e99 rmq-a3cadd24 alchemy-rte" style="color:#000000;font-size:18px;text-align:left;font-weight:400;line-height:30px;text-align-last:left;flex-shrink:0;flex-basis:auto;overflow-wrap:break-word" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p>Sending out free products in the hope a celebrity will start wearing them is one thing, but receiving actual paid orders straight from celebrities themselves is where The Case Club prides itself in. From actors, artists to athletes, The Case Club is loved by celebrities worldwide.</p></span></div></div></div><div data-rid="53667c62-d045-48e8-9d6d-559672e5049f" data-replo-repeated-index=".0.0.0.0" style="display:flex;max-width:100%;align-self:stretch;align-items:center;justify-content:center;flex-shrink:0;flex-basis:auto;row-gap:60px;column-gap:60px;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-76fb7f46 rmq-6b96a6c1 rmq-1e04a089 rmq-be5ad534" data-radium="true"><picture data-rid="c4a94e89-47ed-4fdc-ba41-821590c3bcf9" data-replo-repeated-index=".0.0.0.0.0" style="overflow-x:auto;overflow-y:hidden;display:flex;align-items:center;min-width:0;min-height:0;width:100%;max-width:344px;align-self:stretch;max-height:344px;object-fit:cover;flex-shrink:0;flex-basis:auto" class="rmq-cda0c004 rmq-ee191701 rmq-1f47714 rmq-4a86ea09" data-radium="true"><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/featured-min.jpg?v=1688636007&amp;width=820" media="(max-width: 640px)"><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/featured-min.jpg?v=1688636007&amp;width=1024" media="(min-width: 641px) and (max-width: 820px)"><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/featured-min.jpg?v=1688636007&amp;width=1800" media="(min-width: 821px) and (max-width: 1024px)"><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/featured-min.jpg?v=1688636007&amp;width=2048" media="(min-width: 1025px)"><img src="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/featured-min.jpg?v=1688636007" style="display:block;padding:0;margin:0;object-fit:cover;min-width:100%;max-width:100%;min-height:100%;max-height:100%;height:100%" class="rmq-1997b991 rmq-8a1ca093 rmq-553db1c6 rmq-e8e4959b" loading="eager" data-radium="true"></picture><div data-rid="651625c9-233e-46de-a92e-f48d53fe0a75" data-replo-repeated-index=".0.0.0.0.0" style="display:flex;flex-grow:1;align-self:stretch;flex-basis:auto;align-items:flex-start;flex-shrink:1;flex-direction:column;justify-content:center;row-gap:35px;column-gap:35px;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-78321355 rmq-a49da9dd rmq-7bd2d048 rmq-aaf3dc55" data-radium="true"><div data-rid="b5367fcb-2f25-4e3d-91a6-e6a2a9c9e3b7" data-replo-repeated-index=".0.0.0.0.0.0" class="rmq-bd273ba9 rmq-336c5867 rmq-91161e99 rmq-a3cadd24 alchemy-rte" style="color:#000000FF;font-size:32px;text-align:left;font-weight:800;line-height:40px;letter-spacing:-0.6px;text-align-last:left;flex-shrink:0;flex-basis:auto;overflow-wrap:break-word" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p>5. The Fastest Growing Accessory Brand</p><p></p></span></div><div data-rid="5dd3efc5-55c5-4f37-bf47-ba2056c43283" data-replo-repeated-index=".0.0.0.0.0.0" class="rmq-2814ab61 rmq-3f72b9a3 rmq-91161e99 rmq-a3cadd24 alchemy-rte" style="color:#000000;font-size:18px;text-align:left;font-weight:400;line-height:30px;text-align-last:left;flex-shrink:0;flex-basis:auto;overflow-wrap:break-word" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p>With over 100.000+ Happy Customers and growing, The Case Club is rapidly turning into a household name. They wouldn't have got there without ensuring customers satisfaction. The Case Club has also been featured in some of the largest publications.</p><p></p></span></div></div></div><div data-rid="88ffc18c-3c79-4478-8445-7f002fb3bb85" data-replo-repeated-index=".0.0.0.0" style="display:flex;max-width:100%;align-self:stretch;align-items:center;padding-top:32px;padding-left:10px;padding-right:10px;flex-direction:column;padding-bottom:32px;border-top-color:#000000FF;border-top-style:dashed;border-top-width:4px;justify-content:center;background-color:#FFF6E7;border-left-color:#000000FF;border-left-style:dashed;border-left-width:4px;border-right-color:#000000FF;border-right-style:dashed;border-right-width:4px;border-bottom-color:#000000FF;border-bottom-style:dashed;border-bottom-width:4px;flex-shrink:0;flex-basis:auto;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-fa75c81e rmq-edb2bc5d rmq-c1936f55 rmq-cc200de8" data-radium="true"><div data-rid="35275542-5c39-47d8-8493-c592613eb09b" data-replo-repeated-index=".0.0.0.0.0" class="rmq-c53587b9 rmq-a125f677 rmq-73e28289 rmq-98eef734 alchemy-rte" style="color:#000000FF;font-size:40px;max-width:490px;text-align:center;font-weight:800;line-height:50px;margin-bottom:16px;letter-spacing:-0.6px;text-align-last:center;flex-shrink:0;flex-basis:auto;overflow-wrap:break-word" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p>Exclusive Summer Sale Deal</p></span></div><div data-rid="9ee5863b-5a7d-4fb0-8e68-8e4c14ae67c3" data-replo-repeated-index=".0.0.0.0.0" style="display:flex;max-width:100%;align-self:stretch;align-items:center;justify-content:center;flex-shrink:0;flex-basis:auto;row-gap:4px;column-gap:4px;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-c2bd6afe rmq-d1632c1c rmq-31a1a7a9 rmq-dc3c3a94" data-radium="true"><div data-rid="68822dd4-a8e3-4183-9e3c-01f18de5f073" data-replo-repeated-index=".0.0.0.0.0.0" class="rmq-7d750a43 rmq-ee191701 rmq-1f47714 rmq-4a86ea09 alchemy-rte" style="color:#000000FF;font-size:16px;font-weight:800;line-height:24px;flex-shrink:0;flex-basis:auto;overflow-wrap:break-word" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p>Sale Ends In</p><p></p></span></div><div data-rid="711c0a16-252b-4e95-b95e-e6f8d3cbfff2" data-replo-repeated-index=".0.0.0.0.0.0" style="color:#000000FF;width:100px;display:flex;max-width:100%;align-self:stretch;align-items:center;justify-content:flex-start;flex-shrink:0;flex-basis:auto;row-gap:2px;column-gap:2px;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-46a38ffe rmq-80b7b11c rmq-cb86cca9 rmq-dce6ff94" data-radium="true"><div data-rid="04423a31-f7ba-4e0b-8dc9-b9d65db9fb71" data-replo-repeated-index=".0.0.0.0.0.0.0" class="rmq-7d750a43 rmq-ee191701 rmq-1f47714 rmq-4a86ea09 alchemy-rte" style="font-size:16px;font-weight:700;line-height:24px;flex-shrink:0;flex-basis:auto;overflow-wrap:break-word" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true">23</span></div><div data-rid="b555134a-4f01-42d9-897c-0095a92a5752" data-replo-repeated-index=".0.0.0.0.0.0.0" class="rmq-7d750a43 rmq-ee191701 rmq-1f47714 rmq-4a86ea09 alchemy-rte" style="font-size:16px;line-height:24px;flex-shrink:0;flex-basis:auto;overflow-wrap:break-word" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p>:</p></span></div><div data-rid="d8c0cf8a-5e47-4511-aad0-9e4f4653b21d" data-replo-repeated-index=".0.0.0.0.0.0.0" class="rmq-7d750a43 rmq-ee191701 rmq-1f47714 rmq-4a86ea09 alchemy-rte" style="font-size:16px;font-weight:700;line-height:24px;flex-shrink:0;flex-basis:auto;overflow-wrap:break-word" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true">59</span></div><div data-rid="53d4df0b-1579-4a7d-95e8-926fd73d534c" data-replo-repeated-index=".0.0.0.0.0.0.0" class="rmq-7d750a43 rmq-ee191701 rmq-1f47714 rmq-4a86ea09 alchemy-rte" style="font-size:16px;line-height:24px;flex-shrink:0;flex-basis:auto;overflow-wrap:break-word" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p>:</p></span></div><div data-rid="c34b3abc-3829-41b2-bdba-7ee45769e063" data-replo-repeated-index=".0.0.0.0.0.0.0" class="rmq-7d750a43 rmq-ee191701 rmq-1f47714 rmq-4a86ea09 alchemy-rte" style="font-size:16px;font-weight:700;line-height:24px;flex-shrink:0;flex-basis:auto;overflow-wrap:break-word" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true">59</span></div></div></div><div data-rid="20f929ec-b11b-46d7-982f-31408d187523" data-replo-repeated-index=".0.0.0.0.0" class="rmq-c1a45861 rmq-3f72b9a3 rmq-73e28289 rmq-98eef734 alchemy-rte" style="color:#000000;font-size:18px;text-align:center;font-weight:400;line-height:30px;margin-bottom:16px;text-align-last:center;flex-shrink:0;flex-basis:auto;overflow-wrap:break-word" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p>Join the #1 Accessory Brand and try The Case Club while it's on sale now!</p><p></p></span></div><div data-rid="de5c4226-abe3-4a8e-aa39-a30bf564d7bf" data-replo-repeated-index=".0.0.0.0.0" style="display:flex;flex-direction:column;width:90%;height:0px;margin-bottom:16px;border-top-color:rgb(204, 204, 204);border-top-style:solid;border-top-width:1px;flex-shrink:0;flex-basis:auto" class="rmq-7d750a43 rmq-ee191701 rmq-1f47714 rmq-4a86ea09" data-radium="true"></div><div data-rid="eb4865e8-adb6-4d8d-af60-4db8ef4e1975" data-replo-repeated-index=".0.0.0.0.0" style="display:flex;max-width:100%;align-self:stretch;align-items:center;justify-content:center;flex-shrink:0;flex-basis:auto;row-gap:20px;column-gap:20px;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-fb47263a rmq-df9f9abc rmq-34e58409 rmq-3ac5a8b4" data-radium="true"><picture data-rid="c02fd265-7b3c-420d-aedb-4fb055625dee" data-replo-repeated-index=".0.0.0.0.0.0" style="overflow-x:auto;overflow-y:hidden;display:flex;align-items:center;min-width:0;min-height:0;flex-grow:1;max-width:350px;object-fit:cover;flex-shrink:1;flex-basis:auto" class="rmq-a5069528 rmq-efc62760 rmq-b3c2b755 rmq-ece055e8" data-radium="true"><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/productss.png?v=1688636491&amp;width=820" media="(max-width: 640px)"><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/productss.png?v=1688636491&amp;width=1024" media="(min-width: 641px) and (max-width: 820px)"><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/productss.png?v=1688636491&amp;width=1800" media="(min-width: 821px) and (max-width: 1024px)"><source srcSet="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/productss.png?v=1688636491&amp;width=2048" media="(min-width: 1025px)"><img src="https://cdn.shopify.com/s/files/1/0595/8192/3483/files/productss.png?v=1688636491" style="display:block;padding:0;margin:0;object-fit:cover;min-width:100%;max-width:100%;min-height:100%;max-height:100%;height:100%" class="rmq-1997b991 rmq-8a1ca093 rmq-553db1c6 rmq-e8e4959b" loading="eager" data-radium="true"></picture><div data-rid="65b7279d-e1d4-48a6-b88e-d16f1332b3cd" data-replo-repeated-index=".0.0.0.0.0.0" style="display:flex;flex-grow:1;max-width:100%;align-self:stretch;flex-basis:auto;align-items:flex-start;flex-shrink:1;flex-direction:column;justify-content:center;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-9a810c09 rmq-a8b2cf01 rmq-fc52f14 rmq-29c6a209" data-radium="true"><div data-rid="c54063db-04e2-4271-9308-2defb334afa3" data-replo-repeated-index=".0.0.0.0.0.0.0" style="display:flex;max-width:100%;align-items:center;margin-bottom:10px;justify-content:flex-start;flex-shrink:0;flex-basis:auto;row-gap:8px;column-gap:8px;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-44a7cdfe rmq-25062f1c rmq-f9a50aa9 rmq-9b72fd94" data-radium="true"><div data-rid="b261726f-a0b5-4cc5-b3b9-89ffea23412a" data-replo-repeated-index=".0.0.0.0.0.0.0.0" style="line-height:100%;color:#AA9000FF;width:22px;height:22px;flex-shrink:0;flex-basis:auto;--rsw:100%" data-testid="icon-checkCircleFill" class="rmq-1fbd8556 rmq-969c156 rmq-1f47714 rmq-4a86ea09" data-radium="true"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="1em" height="1em" fill="currentColor" style="width:var(--rsw, 100%);height:100%"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path></svg></div><div data-rid="67189464-b7ed-4781-8b09-28dff2f4c4dd" data-replo-repeated-index=".0.0.0.0.0.0.0.0" class="rmq-7d750a43 rmq-ee191701 rmq-1f47714 rmq-4a86ea09 alchemy-rte" style="color:#010101;font-size:14px;font-weight:700;line-height:24px;letter-spacing:-0.6px;flex-shrink:0;flex-basis:auto;overflow-wrap:break-word" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p>FREE Personalisation on your order</p><p></p></span></div></div><div data-rid="e5bae509-64ef-497c-87a7-155400cdad6b" data-replo-repeated-index=".0.0.0.0.0.0.0" style="display:flex;max-width:100%;align-items:center;margin-bottom:10px;justify-content:flex-start;flex-shrink:0;flex-basis:auto;row-gap:8px;column-gap:8px;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-44a7cdfe rmq-25062f1c rmq-f9a50aa9 rmq-9b72fd94" data-radium="true"><div data-rid="185b2254-7175-4835-8f93-44601e69ffc0" data-replo-repeated-index=".0.0.0.0.0.0.0.0" style="line-height:100%;color:#AA9000FF;width:22px;height:22px;flex-shrink:0;flex-basis:auto;--rsw:100%" data-testid="icon-checkCircleFill" class="rmq-1fbd8556 rmq-969c156 rmq-1f47714 rmq-4a86ea09" data-radium="true"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="1em" height="1em" fill="currentColor" style="width:var(--rsw, 100%);height:100%"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path></svg></div><div data-rid="fda652d2-9923-4915-b320-3e44684a86a0" data-replo-repeated-index=".0.0.0.0.0.0.0.0" class="rmq-7d750a43 rmq-ee191701 rmq-1f47714 rmq-4a86ea09 alchemy-rte" style="color:#010101;font-size:14px;font-weight:700;line-height:24px;letter-spacing:-0.6px;flex-shrink:0;flex-basis:auto;overflow-wrap:break-word" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p>FREE Shipping worldwide</p><p></p></span></div></div><div data-rid="873c5e3d-e6b7-4e42-8881-15ff7d4cae0f" data-replo-repeated-index=".0.0.0.0.0.0.0" style="display:flex;max-width:100%;align-items:center;margin-bottom:20px;justify-content:flex-start;flex-shrink:0;flex-basis:auto;row-gap:8px;column-gap:8px;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-44a7cdfe rmq-25062f1c rmq-f9a50aa9 rmq-9b72fd94" data-radium="true"><div data-rid="b748c66d-f37a-43db-8f3e-d52d2d5c962c" data-replo-repeated-index=".0.0.0.0.0.0.0.0" style="line-height:100%;color:#AA9000FF;width:22px;height:22px;flex-shrink:0;flex-basis:auto;--rsw:100%" data-testid="icon-checkCircleFill" class="rmq-1fbd8556 rmq-969c156 rmq-1f47714 rmq-4a86ea09" data-radium="true"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="1em" height="1em" fill="currentColor" style="width:var(--rsw, 100%);height:100%"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path></svg></div><div data-rid="c2ddf35b-f68d-4214-a85f-2f3e49165ca2" data-replo-repeated-index=".0.0.0.0.0.0.0.0" class="rmq-7d750a43 rmq-ee191701 rmq-1f47714 rmq-4a86ea09 alchemy-rte" style="color:#010101;font-size:14px;font-weight:700;line-height:24px;letter-spacing:-0.6px;flex-shrink:0;flex-basis:auto;overflow-wrap:break-word" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p>Biggest sale of the year</p><p></p></span></div></div><a data-rid="c6f74f92-a4a6-4e43-8c34-6a2986c7621a" data-replo-repeated-index=".0.0.0.0.0.0.0" tabindex="0" role="button" class="rmq-792f2a9b rmq-36bbdcd9 rmq-e3e5ac0e rmq-efd51653 text alchemy-rte" style="text-align:center;color:#FFFFFFFF;cursor:pointer;font-size:20px;align-self:stretch;font-weight:700;line-height:20px;padding-top:16px;padding-left:32px;padding-right:32px;letter-spacing:-0.6px;padding-bottom:16px;background-color:#00BD3F;border-top-left-radius:50px;border-top-right-radius:50px;border-bottom-left-radius:50px;border-bottom-right-radius:50px;overflow:hidden;flex-shrink:0;flex-basis:auto" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p>Redeem 20% OFF NOW</p></span></a><div data-rid="8483f845-e142-4662-a32f-bd1ef2d41838" data-replo-repeated-index=".0.0.0.0.0.0.0" style="width:100%;display:flex;max-width:300px;align-self:center;margin-top:20px;align-items:center;justify-content:space-between;flex-shrink:0;flex-basis:auto;row-gap:8px;column-gap:8px;position:relative;min-width:var(--rmw, auto);min-height:var(--rmh, auto);--rmw:auto;--rmh:auto" class="rmq-44a7cdfe rmq-25062f1c rmq-f9a50aa9 rmq-9b72fd94" data-radium="true"><div data-rid="b23a9912-6c0c-4266-87fd-f014def54e80" data-replo-repeated-index=".0.0.0.0.0.0.0.0" class="rmq-7d750a43 rmq-ee191701 rmq-1f47714 rmq-4a86ea09 alchemy-rte" style="color:#010101;font-size:14px;font-weight:700;line-height:24px;letter-spacing:-0.6px;flex-shrink:0;flex-basis:auto;overflow-wrap:break-word" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p>SELL-OUT RISK:<span style="color: #FF0000FF"> HIGH</span></p><p></p></span></div><div data-rid="5ca91f9f-10b1-4edf-b03c-8b4f9d2cb7f4" data-replo-repeated-index=".0.0.0.0.0.0.0.0" class="rmq-7d750a43 rmq-ee191701 rmq-1f47714 rmq-4a86ea09 alchemy-rte" style="color:#252525;font-size:14px;font-weight:400;line-height:24px;letter-spacing:-0.6px;flex-shrink:0;flex-basis:auto;overflow-wrap:break-word" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p><strong>FREE SHIPPING</strong></p></span></div></div></div></div></div><a data-rid="f6f4b5fe-98b9-4b60-aab1-10d2046f52bc" data-replo-repeated-index=".0.0.0.0" tabindex="0" role="button" class="rmq-a9f7cc73 rmq-1e50d2f1 rmq-e3e5ac0e rmq-efd51653 text alchemy-rte" style="text-align:center;color:#FFFFFF;cursor:pointer;font-size:20px;align-self:stretch;font-weight:700;line-height:20px;padding-top:16px;padding-left:32px;padding-right:32px;letter-spacing:-0.6px;padding-bottom:16px;background-color:#00BD3F;border-top-left-radius:50px;border-top-right-radius:50px;border-bottom-left-radius:50px;border-bottom-right-radius:50px;overflow:hidden;flex-shrink:0;flex-basis:auto" data-radium="true"><span contenteditable="false" style="width:100%" data-radium="true"><p>Redeem up to 20% OFF NOW</p></span></a></div></div></div></div></div></div>

  <script type="application/json" id="replo-deps-products">
  [{{ all_products['iphone-13-pro-max'] | json }}]
  </script>
  
    <script id="replo-deps-element-id" data-id="118725017946"></script>
  
    </div>
